@import url(https://fonts.googleapis.com/css?family=Jura);

/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 380 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/


/*myCRED related styles */
.myCRED-leaderboard {
    font-size: 16px !important; font-family: 'Jura',sans-serif;
 }

.mycred-balance {
  font-family: 'Jura',sans-serif;
  font-size: 20px;
 }

.dt { float: left; width: 79.5%; overflow: hidden; white-space: nowrap }
.dd { float: left; width: 20.5%; overflow: hidden; font-size: 20px !important; font-family: 'Jura',sans-serif; text-decoration: bold; position: relative; top: -5px; }

.dt:after { content: " .................................................................................." }

.dt span {
  font-size: 16px !important; font-family: 'Jura',sans-serif;
  }

/* myCRED ranking bar progress on profile pages */
#mycred-my-rank {
  font-size: 0;
 }

small.vc_label {
  color: white;
 }
  

#mycred-my-rank img {
  position: relative;
  top: -10px;
 }

/* Style for X for myCRED notifications */
.notice-item-close {
  color: red;
 }

/* Hides the /leaderboards page default title */
#post-9349 .entry-header {
  display: none;
 }

/* Hides the /business-upgrade page default title */
#post-2916 .entry-header {
  display: none;
}

h1.entry-title {
  font-size: 35px;
  font-family: Arial,Helvetica,sans-serif;
 }

/* Adjusts the Ambassador links in News Feed */

#ambassador p a:first-child {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#ambassador .time-since {
  font-size: 13px;
 }
.entry-header h1#Ambassador_title a {
  font-size: 15px;
  }

/* Activity Feed Front Page Member Widget Styling */
.widget .avatar-block img {
    max-width: 22% !important;
    max-height: 22% !important;
    height: 22% !important;
}

/* Activity Feed Rounded Profile Pictures */
.activity-avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.avatar-social-login img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/* Hides the RSS Feed links on menus */
.feed {
    display: none !important;
}

/* Upgraded Business Accounts News Feed Links*/
#upgrade_user a:first-child {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#upgrade_user p a:first-child {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#upgrade_user .time-since {
  font-size: 13px;
 }


/* Hides the default footer */
footer#colophon {
       bottom: 24px;
       display: none;
   }

/* Styles for live chat */   
   #bowob_bar {
  			position: relative;
  			z-index: 999999;
       -webkit-box-shadow: 0px -2px 3px 0px rgba(50, 50, 50, 0.62);
        -moz-box-shadow:    0px -2px 3px 0px rgba(50, 50, 50, 0.62);
        box-shadow:         0px -2px 3px 0px rgba(50, 50, 50, 0.62);
   }
   
   #bowob_bar .bowob_b {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-left: 0 !important;
   }
   
   #bowob_config {
       right: 0 !important;
   }
   
   #bowob_head {
       right: 28px !important;;
   }
   
   #bowob #bowob_bar .bowob_b {
       background: #664688 !important;
       border-top: 1px solid #000 !important;
   }
   
   #bowob #bowob_head .bowob_content {
       color: #fff !important;
   }

   #bowob #bowob_head .bowob_disabled:hover, #bowob #bowob_head .bowob_enabled {
        background: #300948 !important;
   }
   
   #bowob_head_window .bowob_text { display: none !important; }
   
   #bowob #bowob_head_window .bowob_head, #bowob #bowob_window.bowob_main .bowob_head, #bowob #bowob_window .bowob_head { background: #664688 !important; }
   #bowob_tabs .bowob_items .bowob_disabled { background: #300948 !important; }
   #bowob_tabs .bowob_menu.bowob_main .bowob_content_block .bowob_content { font-weight: normal !important; color: #fff !important; }
   #bowob #bowob_tabs .bowob_items .bowob_enabled {background-color: #300948 !important;}
   #bowob_tabs .bowob_over.bowob_box .bowob_content_block .bowob_content { color: #fff !important; font-weight: normal; }
   #bowob #bowob_users .bowob_content { color: #300948 !important;}
   #bowob #bowob_tabs .bowob_user.bowob_other .bowob_content_block .bowob_content { color: #fff !important; font-weight: normal !important;}
   #bowob #bowob_users .bowob_box:hover { background: #664688 !important; }
   #bowob #bowob_tabs .bowob_over.bowob_box .bowob_content_block .bowob_content:hover, #bowob #bowob_tabs .bowob_user.bowob_other .bowob_content_block .bowob_content:hover { color: #fff !important; }
   #bowob #bowob_tabs .bowob_over.bowob_box .bowob_content_block .bowob_content { color: #fff !important; }
   #bowob #bowob_tabs .bowob_items .bowob_item:hover { background: #300948 !important; }
   #bowob #bowob_tabs .bowob_menu.bowob_main .bowob_content_block .bowob_content:hover { color: #fff !important; }
   #bowob #bowob_users .bowob_content:hover { color: #fff !important; }

/* Style for News Feed Comment Number Icon */
#buddypress a.bp-primary-action span, #buddypress #reply-title small a span {
  background: #3b1555;
}

/* Page number styling at the bottom of Members Directory */
span.page-numbers {
  color: white !important;
}
span.dots {
  color: black !important;
}
.page-numbers {
color: black !important;
}

/* News Feed Post Update Focus */
#buddypress #whats-new:focus {
    border-color: #664688 !important;
    box-shadow: 0 0 7px #3B1555;
    outline-color: #3B1555;
}

/* News Feed Sorting Restyle */
.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #fff;
    color: #444;    
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color: #fff;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select             { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}

/* Corrects the Member Directory dropdown sort margin-top issue */

#buddypress div#subnav2.item-list-tabs {
  margin: -1px 0px;
  border-bottom: 0px;
 }


#ab-pending-notifications {
  /*position: relative;
  top: -7px;
  * ADDED BY HBDev 04-06-2014
  * */
  position: absolute;
  right: 0;
  top: -7px;
  width: 17px;
  color: white !important;
 }

#wp-admin-bar-bp-notifcations:hover {
  position: relative;
  top: -5px;
 }

span.no-alert {
  position: relative;
  left: -4px;
  color: rgba(250,250,250,.9) !important;
 }


#wp-admin-bar-bp-notifications {
  top: 5px;
  z-index: 999 !important;
  padding: 0px 2px;
  font-family: Arial, verdana, tahoma;
  font-size: 13px;
  font-weight: bold;
  color: white !important;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  background: #ff3019 !important; /* Old browsers */
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)) !important; /* Chrome,Safari4+ */
  background:    -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%) !important; /* FF3.6+ */
  background:     -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%) !important; /* IE10+ */
  background:      -o-linear-gradient(top, #ff3019 0%, #cf0404 100%) !important; /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #ff3019 0%, #cf0404 100%) !important;  /* W3C */
  width: 18px;
  height:18px;
  line-height: 18px;
  border: 2px solid white;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0); /* IE6-9 */ 
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000); /* IE10 text shadows */
  box-shadow: 0 2px 5px rgba(0,0,0,.4) !important;
}
/* ADDED BY HBDev 04-06-2014 */
#wp-admin-bar-bp-notifications-new-black {
  top: 5px;
  z-index: 999 !important;
  padding: 0px 2px;
  font-family: Arial, verdana, tahoma;
  font-size: 13px;
  font-weight: bold;
  color: white !important;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  background: #000000 !important; /* Old browsers */
  background: -webkit-linear-gradient(top, #000000 0%, #000000 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #000000)) !important; /* Chrome,Safari4+ */
  background:    -moz-linear-gradient(top, #000000 0%, #000000 100%) !important; /* FF3.6+ */
  background:     -ms-linear-gradient(top, #000000 0%, #000000 100%) !important; /* IE10+ */
  background:      -o-linear-gradient(top, #000000 0%, #000000 100%) !important; /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #000000 0%, #000000 100%) !important;  /* W3C */
  width: 18px;
  height:18px;
  line-height: 18px;
  border: 2px solid white;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0); /* IE6-9 */ 
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000); /* IE10 text shadows */
  box-shadow: 0 2px 5px rgba(0,0,0,.4) !important;
}

/* Front page News Feed Post Update Button */
#aw-whats-new-submit {
  background: #3b1555;
}

.activity-content a {
  color: #3b1555 !important;
}

.widget .avatar-block {
  text-align: center;
  margin: 0 auto;
}

.bp-ap-selectbox {
		background: #EEF1F1;
    color: #888888;
    border-radius: 2px;
  	width: 8%;
    line-height: 20px;
    border: none;
    position: relative;
    top:-25px;
    left: 39%;
    padding: 2px 4px;
      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
.bp-ap-selectbox:before {
    content: "\f023";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: blue;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
  }
select.bp-ap-selectbox::-ms-expand {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#activity-visibility {
 position: relative !important;
 top: -15px !important;
}

/* News Feed Photo Size */
 .buddyboss-pics-photo-wrap img {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: 20%;
  }
  
/* Activity Load More Button */
#buddypress .activity-list li.load-more, #buddypress .activity-list li.load-newest {
  background: #664688 !important;
}
#buddypress .activity-list li.load-more a, #buddypress .activity-list li.load-newest a {
  color: #ffffff;
  background: #664688;
}

#buddypress div#subnav.item-list-tabs ul li a span {
  background: #664688 !important;
}
#buddypress a.bp-primary-action span, #buddypress #reply-title small a span {
  background: #664688 !important;
}
#item-nav ul li a, a:visited {
  color: #3b1555;
}
#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li#wp-admin-bar-my-account-notifications > div.ab-sub-wrapper li a span.count, .left-btn #ab-pending-notifications {
  width: 8px !important;
  height: 15px !important;
 }
#buddypress div.activity-comments ul li ul > li p {
  color: #3b1555;
}
#buddypress div.activity-comments ul li ul > li a, a:visited {
  color: #3b1555;
}

/* Profile header name profile pages */
h1.entry-title a {
  color: #3b1555 !important;
 }

/* Forum breadcrumps and topic titles */
div.bbp-breadcrumb a:visited {
  color: #3b1555 !important;
}
div.bbp-forum-info-content a:visited {
  color: #3b1555 !important;
}
div.bbp-topic-title-content a:visited {
  color: #3b1555 !important;
}
/* (Forums) Dots at the bottom between breadcrumb numbers */
span.dots {
  color: #ffffff !important;
  background: #3b155 !important;
}
span.page-numbers {
  background: #3b1555 !important;
}
#post-1411 h1.entry-title {
  display: none;
 }
.bbp-header {
  background: #3b1555 !important;
  color: #ffffff;
}
/* Hides the HTML allowed tags under forum post box */
.form-allowed-tags {
  display: none;
}
li.activity-like-count a, a:visited {
  color: #ffffff;
}
ol.myCRED-leaderboard a:visited {
  color: black;
 }
.item-title a, a:visited {
  color: #3b1555;
}
/* News Feed Activity */
  #buddypress div.activity-comments ul:before {
    color: #664688;
  }
  #buddypress div.activity-comments ul {
    background: #664688;
  }
  #buddypress div.activity-comments li {
    color: #ffffff;
   }
  .activity-like-count a:visited {
    color: #ffffff !important;
   }

/* Hides "Your account has the ability to post unrestricted HTML content in forum reply */
.bbp-template-notice {
  display: none;
}

/* Hides the Upgrade Business options on the Shop page */
ul.products li.product .post-5152 {
  display: none;
}
.post-5152 {
  display: none;
 }
.post-5153 {
  display: none;
 }
.post-5154 {
  display: none;
 }

#buddypress div.activity-meta a {
  color: #3b1555 !important;
}
#buddypress div.activity-meta a:hover {
  color: black !important;
}
#buddypress div.activity-meta a:visited {
  color: #3b1555 !important;
}
  





/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 380 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 380px) {

/* Hides Custom Banner Fade-In */
.pp-icon img {
    display: none;
}
  
.top_banner_bar {
    display: none;
}
  
/* Widen Profile Data to Full Width */

#item-header-content blockquote {
    padding: 5px 5px !important;
    position: relative;
    left: -60%;
    width: 160%;
}
#item-header-content p {
    padding: 5px 5px !important;
    position: relative;
    left: -60%;
    width: 160%;
}
#item-header-content h2 {
    position: relative;
    left: -60%;
}
#item-header-content .user-nicename {
    position: relative;
    left: 0;
}
#item-header-content .mycred-balance {
    position: relative;
    left: -60%;
    font-size: 14px;
    font-weight: 600;
    color: #777777;
    font-family: 'Open Sans',sans-serif;
}
.vc_progress_bar {
    position: relative;
    left: -55%;
    width: 160%;
}


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


  /* Activity Status update photo of friend NOT poster */
#buddypress .activity-list .activity-content .activity-header img.avatar {
  width: 50px;
  height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/* Name of commenter on News Feed updates */
.acomment-meta a:first-child {
  color: #ffffff;
}


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


            .header-inner, .nav-inner {
                max-width: 90% !important;
            }
            .activity-avatar img {
                width: 90px !important;
                height: 90px !important;
             }
            .avatar-social-login img {
                width: 75px !important;
                height: 75px !important;
             }


}/* don't delete this closing bracket */
