@charset "utf-8";
/* CSS Document */
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#676767;
	font-weight:400;
}
* {
	margin:0px;
	padding:0px
}
a {
	text-decoration:none;
}
img, a img {
    border:none;
    outline:none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'HelveticaLTStdLightCondensed';
}
p {
	font-family: 'HelveticaLTStdLightCondensed';
}
ul, ol {
	list-style:none;
}
#san_container {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
	background:#F6F7F8;
}
#san_wrapper {
	width:910px;
	margin:0px auto;
	padding:0px;
}
.san_section {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}
.san_section h2 {
	width:100%;
	float:left;
	margin:0px;
	padding:20px 0px;
	font-family: 'HelveticaLTStdRoman';
	font-size:22px;
	line-height:30px;
	font-weight:normal;
	color:#1e1e1e;
}
.san_main_area {
	width:100%;
	float:left;
	margin:0px;
	padding:0px 0px 0px 0px;
}
.san_left_area {
	width:300px;
	float:left;
	margin:0px;
	padding:0px 0px;
	border-top:1px solid #c9c9c9;
	border-left:1px solid #c9c9c9;
	height:140px;
}
.san_left_area h3 {
	width:98%;
	float:left;
	margin:0px;
	color:#664688;
	font-family: 'HelveticaLTStdRoman';
	font-size:22px;
	line-height:30px;
	font-weight:normal;
	padding:55px 0px;
	text-align:center;
}
.san_left_area p {
	width:93%;
	float:left;
	margin:0px;
	color:#1e1e1e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	line-height:24px;
	font-weight:normal;
	padding:10px;
}
.san_center_area {
	width:300px;
	float:left;
	margin:0px;
	padding:0px 0px;
	border-top:1px solid #c9c9c9;
	border-left:1px solid #c9c9c9;
	height:140px;
}
.san_center_area h3 {
	width:93%;
	float:left;
	margin:0px;
	color:#664688;
	font-family: 'HelveticaLTStdRoman';
	font-size:22px;
	line-height:30px;
	font-weight:normal;
	padding:10px;
	height:120px;
	text-align:center;
}
.san_center_area h5 {
	width:100%;
	float:left;
	margin:0px;
	color:#1e1e1e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	line-height:30px;
	font-weight:normal;
	padding:30px 0px 5px;
	text-align:center;
}
.san_center_area a {
	float:left;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	font-weight:normal;
	padding:5px 20px 7px;
	margin:0px 33%;
	background:#523071;
	color:#ffffff;
}
.san_center_area a:hover {
	background:#300948;
	color:#ffffff;
}
.san_right_area {
	width:300px;
	float:left;
	margin:0px;
	padding:0px 0px;
	border-top:1px solid #c9c9c9;
	border-left:1px solid #c9c9c9;
	border-right:1px solid #c9c9c9;
}
.san_right_area h3 {
	width:93%;
	float:left;
	margin:0px;
	color:#664688;
	font-family: 'HelveticaLTStdRoman';
	font-size:22px;
	line-height:30px;
	font-weight:normal;
	padding:10px;
	height:120px;
}
.san_right_area p {
	width:93%;
	float:left;
	margin:0px;
	color:#1e1e1e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	line-height:24px;
	font-weight:normal;
	padding:10px;
}
.san_right_area p span {
	font-weight:bold;
}
.san_section h2 span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#1e1e1e;
	float:left; line-height:24px;
}
.san_section h4 {
	float:left;
	color:#1e1e1e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	line-height:24px;
	font-weight:normal;
	width:100%;
	padding:0px;
}
/*-----------------------------------------Update-----------------------------------------*/
#rav_container {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;

}
#rav_wrapper {
	width:1000px;
	margin:0px auto;
	padding:0px;
}
.rav_section {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}
.rav_section h2 {
	width:100%;
	float:left;
	margin:0px;
	padding:20px 0px;
	font-family: 'HelveticaLTStdRoman';
	font-size:22px;
	line-height:30px;
	font-weight:normal;
	color:#1e1e1e;
}
.rav_heading{width:100%; float:left; margin:0px; padding:0px; border-top:1px solid #3B1555; border-bottom:1px solid #3B1555; background:#644487;}
.rav_heading_area{width:16.5%; float:left; padding:5px 0px; margin:0px 5px;}
.rav_heading_area h3{width:100%; float:left; margin:0px; padding:28px 0px; font-family:Arial, Helvetica, sans-serif; font-size:17px; line-height:24px;  color:#ffffff; text-align:center; font-weight:normal; }
.rav_heading_area h3 a{width:100%; float:left; margin:0px; padding:0px 0px; font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#ffffff; text-align:center; font-weight:normal; }
.rav_heading_area h3 a:hover{color:#ffffff;}
#cat1{ background:#5a387a;}
.rav_heading_inner{width:30%; float:left;}
.rav_heading_inner h3{width:95%; float:left; margin:0px; padding:32px 0px 35px 10px; font-family:Arial, Helvetica, sans-serif; font-size:20px; line-height:24px;  color:#ffffff !important; font-weight:normal;  }
#vis_area h3{padding:25px 0px 25px 10px !important; float:left;}
.rav_inner{ width:100%; float:left; margin:0px; padding:0px; background:#ffffff; border-bottom:1px solid #bcbcbc;}
.rav_inner_left{width:30%; float:left; margin:0px; padding:0px;}
.rav_inner_left p {
	width:93%;
	float:left;
	margin:0px;
	color:#1e1e1e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:24px;
	font-weight:normal;
	padding:20px 0px 20px 10px;
	font-weight:bold;
}
.rav_inner_area{width:16.5%; float:left; margin:0px 5px !important; padding:0px ;}
.rav_inner_area p {
	width:100%;
	float:left;
	margin:0px;
	color:#1e1e1e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:24px;
	font-weight:normal;
	padding:10px 0px 10px;
	text-align:center;
}
.rav_inner_area img{width:auto; float:left; margin:0px 0px 0px 42%; padding:22px 0px;}
#rav_price{background:#b8a1c5; float:left; margin:0px; }
#rav_price1{padding:0px 0px; background:#b8a1c5;}
.rav_inner_area a {
	float:left;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	font-weight:normal;
	padding:10px 20px 12px;
	margin:10px 7% 20px;
	background:#523071;
	color:#ffffff;
	text-decoration:none;
	border:none !important;
	border-radius:0px !important;
}
body .site {
    background: none !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05)  !important;
    max-width: 958px;
    padding: 0px !important;
}
#rav_price2133{ background:#B8A1C5; padding:2px 5px;}
#cat2133{background:#5A387A;}
.rav_inner_area a:hover {
	background:#300948;
	color:#ffffff;
}
#rav_vis{padding:32px 0px;}
#rav_limited{padding:20px 0px; font-weight:bold;}
#rav_p{padding:0px 0px; background: none repeat scroll 0 0 #B8A1C5;}
#rav_S{padding:0px 0px;}
#rav_a{padding:0px 0px; background: none repeat scroll 0 0 #B8A1C5;}
#rav_k{padding:0px 0px;}
#rav_s{padding:0px 0px; background: none repeat scroll 0 0 #B8A1C5;}

.rav_inner_san{ width:100%; float:left; margin:0px; padding:0px; background:#ffffff; border-bottom:1px solid #bcbcbc;}
#rav_price_san{background:#b8a1c5; float:left; margin:0px; }
.rav_inner_san_area {
    float: left;
    margin: 0;
    padding: 0 5px;
    width: 16.5%;
}

.rav_inner_san_area a {
    background: none repeat scroll 0 0 #523071;
    border: medium none !important;
    border-radius: 0 !important;
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: normal;
    margin: 15px 18% 15px;
    padding: 10px 20px 12px;
    text-decoration: none;
}


.rav_inner_san_left {
    float: left;
    margin: 0;
    padding: 0;
    width: 30%;
}
.rav_inner_san_left p {
    color: #1E1E1E;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 20px 0 20px 10px;
    width: 93%;
}
#rav_price12{background: none repeat scroll 0 0 #B8A1C5;}
#rav_price3{background: none repeat scroll 0 0 #B8A1C5;}
#rav_price2{background: none repeat scroll 0 0 #B8A1C5;}