#bbpress-forums hr {margin: 0 0 24px 0;}
#bbpress-forums { clear: both; margin-bottom: 40px; overflow: hidden; }
.entry #bbpress-forums:first-child { margin:-20px -17px 0px -17px; }
.entry #bbpress-forums { margin:0px -17px 30px -17px; }
.entry #bbpress-forums:last-child { margin:0px -17px 0px -17px; }

#bbpress-forums div.reply {height: auto;}
#bbpress-forums .status-trash.even, #bbpress-forums .status-spam.even {background-color: #fee;}
#bbpress-forums .status-trash.odd, #bbpress-forums .status-spam.odd {background-color: #fdd;}
#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {background: #f3f3f3;border-top: 1px solid #eee;font-weight: bold; padding:8px; text-align: center;}
#bbpress-forums .bbp-forums-list {margin: 10px 0 9px 5px;padding-left: 15px;border-left: 3px solid #ddd;}
#bbpress-forums .bbp-forums-list li {display: inline;font-size: 11px;}
#bbpress-forums li.bbp-footer p {margin: 0;line-height: 1em;}
#bbpress-forums .bbp-topic-content img, #bbpress-forums .bbp-reply-content img {max-width: 90%;}
#bbpress-forums .bbp-topic-content ul, #bbpress-forums .bbp-reply-content ul {list-style: square;padding-left: 15px;}
#bbpress-forums .bbp-forum-content p {margin: 5px 0 0;font-style: italic;}
#bbpress-forums li.bbp-body ul.forum,#bbpress-forums li.bbp-body ul.topic {border-top: 1px solid #eee;overflow: hidden;padding: 8px;}
#bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {margin-left: 140px;padding: 12px 12px 12px 0;text-align: left;}
#bbpress-forums li.bbp-header .bbp-topic-author, #bbpress-forums li.bbp-footer .bbp-topic-author, #bbpress-forums li.bbp-header .bbp-reply-author, #bbpress-forums li.bbp-footer .bbp-reply-author {float: left;margin: 0;padding: 0;width: 120px;}
#bbpress-forums li.bbp-header .bbp-topic-content,#bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {margin-left: 140px;padding: 0;text-align: left;}
div.bbp-topic-header, div.bbp-reply-header, li.bbp-body div.hentry {margin-bottom: 0;overflow: hidden;padding: 8px;}
div.bbp-topic-header, div.bbp-reply-header {border-top: 1px solid #ddd;clear: both;}
span.bbp-author-ip {font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;font-size: 11px;font-weight: bold;color: #aaa;}
.forum-cell a.bbp-forum-title { font-size:16px; font-weight:700; }
.forum-head-reply-tools { float:right; margin-right:20px; text-transform:none; font-family:Open Sans; }
.sticky-label, .closed-label { margin-right:3px; }
.closed-label { width:20px; height:24px; display:block; float:left; background-image: url( "../images/closed-topic.png" ); background-repeat: no-repeat; background-position: 0px 2px; }
.sticky-label { width:20px; height:24px; display:block; float:left; background-image: url( "../images/sticky.png" ); background-repeat: no-repeat; background-position: 0px 2px; }

#bbpress-forums h3 { display:none; }
.bbp-search #bbpress-forums h3 { display:block; }
.group-forum-topic #bbpress-forums h3 { display:block; }
table#topic-post-list tr { border-bottom:1px solid #eaeaea; }
table.forum-table tr td { border-bottom:1px solid #eaeaea; }
.post-author .bbp-author-avatar img { display:block; margin-bottom:7px; }
.post-author a.bbp-author-name { font-weight:bold; }
.bbp-author-role { border-radius:12px; background:#eb792b; color:#ffffff; font-size:11px; font-style:italic; }
.poster-stats { font-size:12px; line-height:1.4em; margin-top:7px; }
.no-alert { font-weight:bold; text-align:center; margin:50px 0; }

table#topic-post-list { width:100%; vertical-align:top; table-layout: fixed; }
table#topic-post-list tr td { padding: 15px; border-bottom:1px solid #eaeaea; }
table#topic-post-list tr td.post-author-cell { width:103px; padding-right:0px; border-right:1px solid #eaeaea; vertical-align:top; }
.topic-content-cell { vertical-align:top; }
table#topic-post-list tr td.post-author-cell .post-author { margin-top:4px; width:82px; text-align:center; }
table#topic-post-list li div.poster-meta {color: #888;margin-bottom: 10px;}
table#topic-post-list li div.post-content {margin-left: 54px;}
div.topic-tags {font-size: 11px;float: right;margin-top: 0px; margin-right:20px; }
div.admin-links {color: #d1d1d1; font-size: 11px; margin:0 0 0 20px; }
div.admin-links a {color: #a7a7a7; }
div#bbpress-forums h3 { font:46px QuicksandBook; margin-top:0px; margin-bottom:0px; line-height:60px; padding:20px 17px; color:#ffffff; text-shadow:#7b7b7b 1px 1px 0px; background:#f68b11; background: linear-gradient(to bottom, #f98c12 0%,#ee8611 100%); border-bottom:1px solid #ce740f; border-left:1px solid #ce740f; border-right:1px solid #ce740f; }
.topic-content p.topic-meta { font-size: 16px; font-family:QuicksandBook; font-style: normal; margin-bottom:8px; text-transform:none; }
p.topic-meta { font-size: 13px; font-family: Open Sans; font-style: italic; margin-bottom:0px; }
div#new-topic-post {display: none;margin: 20px 0 0 0;padding: 1px 0 0 0;}

table#message-threads {margin: 0 -19px;width: auto;}
table.profile-fields {margin-bottom: 20px;}
table.profile-fields:last-child {margin-bottom: 0;}
table.profile-fields p {margin-top: 15px;}
table.profile-fields p:last-child {margin-top: 0;}
div#sidebar table {margin: 0 -16px;width: 117%;}
table tr td, table tr th { padding: 8px; }
table tr td.label {border-right: 1px solid #eaeaea; font-weight: bold;width: 25%;}
table tr td.thread-info p {margin: 0;}
table tr td.thread-info p.thread-excerpt {color: #888;font-size: 11px;margin-top: 3px;}
table.notification-settings {margin-bottom: 20px;text-align: left;}
table.notification-settings th.icon, table.notification-settings td:first-child { display: none; }
table.notification-settings th.title {width: 80%;}
table.notification-settings .yes, table.notification-settings .no { text-align: center;width: 40px; }

table.forum-table tr.sticky td {font-size: 1em;}
table.forum-table tr.closed td.td-title {background-image: url( ../images/closed.png );background-position: 15px 50%; background-repeat: no-repeat;padding-left: 35px;}
table.forum-table td p.topic-text {color: #888;font-size: 13px;}

#forums-directory-form { margin:-16px; }
table.forum-table { width:100%; }
.topic-row { border-bottom:1px solid #eaeaea; }
.alttopic-row { border-bottom:1px solid #eaeaea; }
table.forum-table tbody tr td { padding:14px 15px; min-height:95px; vertical-align: top; }
tr.forum-head { width:100%; overflow:hidden; font-size:12px; padding:4px 0; font-family:QuicksandBook; text-transform:uppercase; color:#9a9a9a; border-bottom:1px solid #eaeaea; }
td.forum-head-author, td.forum-head-topic, td.forum-head-freshness, td.forum-head-forum, td.forum-head-counter, td.forum-head-reply { padding:7px 0 7px 16px!important; }
table tr.forum-head td { padding:8px 15px; }
td.forum-head-author { width:103px; border-right:1px solid #eaeaea; padding-right:0px!important; padding-left:19px!important; }
table.forum-table td.forum-head-author { width:77px; }
td.forum-head-counter { width:100px; text-align:center; padding-left:0px!important; border-left:1px solid #eaeaea; border-right:1px solid #eaeaea; }
td.forum-head-freshness { width:200px; }

td.forum-author-cell { width:77px; border-right:1px solid #eaeaea; padding-right:0px!important; padding-top:19px!important; }
td.forum-author-cell .post-author img { margin-top:5px; }
td.forum-counter-cell { width:80px; padding:29px 0px!important; border-left:1px solid #eaeaea; border-right:1px solid #eaeaea; }
td.forum-freshness-cell { width:200px; vertical-align:top; }

td.forum-author-cell, td.forum-topic-cell, td.forum-freshness-cell { padding-top:22px!important; padding-bottom:22px!important; }

.post-author { float:left; margin-left:4px; }
.post-author img { margin-right:7px; padding:3px; border:1px solid #e0e0e0; border-radius:4px; box-shadow: 2px 2px 0px 0px #e0e0e0; }
.topic-title a.forum-post-title { font:20px QuicksandBold, Arial, sans-serif; line-height:1.3em; color:#424242; transition: all 300ms ease-in; }
.topic-counter { margin:0 auto; text-align:center; color:#ffffff; font:36px QuicksandBold; margin:0 auto; padding-top:10px; background-image: url( ../images/counter.png ); background-repeat: no-repeat; width:64px; height:56px; text-align:center; }
#topic-post-list .topic-counter { font:24px QuicksandBold; padding-top:17px; height:49px; }
td.topic-content-cell img { max-width:100%; }

.topic-freshness { font-size:12px; font-family: Open Sans; font-style: Italic; line-height:1.6em; margin-top:7px; }
.topic-freshness a { color:#303030; }
.topic-freshness img { padding:3px; border:1px solid #e0e0e0; border-radius:4px; box-shadow: 2px 2px 0px 0px #e0e0e0; }
.last-poster-right { margin-left:60px; }

.topic-by, .topic-in { font-size:12px; color:#616161; }
.topic-by a, .topic-in a { color:#393939; }
.topic-in { font-style: italic; }
.bbp-topic-started-in a { color:#ffffff; text-transform:uppercase; background:#8f8f8f; font-size:10px; padding:2px 3px; }
.topic-content { font-size:14px; line-height:1.6em; overflow:hidden; }

.topic-content ol { list-style-type:decimal; margin-left:40px; }
.topic-content ul { margin:20px 0 20px 40px; list-style-type:circle }
.bbp-reply-title { font-weight:bold; }

/* =Breadcrumb and Tags
-------------------------------------------------------------- */
div.bbp-breadcrumb {float: left;}
div.bbp-breadcrumb, div.bbp-topic-tags {font-size: 12px;}
#bbpress-forums div.bbp-breadcrumb p, #bbpress-forums div.bbp-topic-tags p { margin-bottom: 10px; }
div.bbp-topic-tags { margin:10px 20px 0 0; font-size: 11px;float: right; }

/* =Admin Links
-------------------------------------------------------------- */
span.bbp-admin-links {float: right;color: #ddd;}
span.bbp-admin-links a {color: #bbb;font-weight: normal;font-size: 10px;text-transform: uppercase;text-decoration: none;}
fieldset span.bbp-admin-links {float: left;}
tr td span.bbp-admin-links a:hover {color: #ff4b33;}
td.bbp-topic-admin-links, td.bbp-topic-counts {width: 50%;}
.bbp-topic-header a.bbp-topic-permalink, .bbp-reply-header a.bbp-reply-permalink {float: right;margin-left: 10px;color: #ccc;}

/* =Toggles
-------------------------------------------------------------- */
#favorite-toggle a {text-decoration: none;padding: 0 3px 1px;color: #7c7;border: 1px solid #aca;background-color: #dfd;font-weight: bold;font-size: 13px;}
#favorite-toggle a:hover {color: #5a5;border-color: #7c7;background-color: #beb;}
#favorite-toggle span.is-favorite a {color: #faa;border: 1px solid #faa;background-color: #fee;}#favorite-toggle span.is-favorite a:hover {color: #c88;border-color: #c88;background-color: #fdd;}
#subscription-toggle a {text-decoration: none;padding: 0 3px 1px;color: #7c7;border: 1px solid #aca;background-color: #dfd;font-weight: bold;font-size: 13px;}
#subscription-toggle a:hover {color: #5a5;border-color: #7c7;background-color: #beb;}
#subscription-toggle span.is-subscribed a {color: #faa;border: 1px solid #faa;background-color: #fee;}
#subscription-toggle span.is-subscribed a:hover {color: #c88;border-color: #c88;background-color: #fdd;}
#bbpress-forums p.bbp-topic-meta {margin: 5px 0 5px;font-size: 11px;}
#bbpress-forums p.bbp-topic-meta span {white-space: nowrap;}

/* =Pagination
-------------------------------------------------------------- */
.bbp-pagination, .bbp-pagination a { color: #888; font-size: 14px; margin:10px 0 0 0;padding: 8px 20px; position: relative; }
.bbp-pagination-count { float: left; font-style:italic; }
.bbp-pagination-links .page-numbers { font-family:QuicksandBold; font-size: 16px;padding: 0 5px; }
.bbp-pagination-count {float: left;}
.bbp-pagination-links {float: right;}
.bbp-pagination { width: 95%; font-size: 14px; margin:0 auto; padding: 21px 0; overflow:hidden; }
.bbp-topic-pagination a {font-size: 11px;line-height: 10px;padding: 1px 3px;border: 1px solid #ddd;text-decoration: none;}

/* =Forms
-------------------------------------------------------------- */
#bbpress-forums fieldset.bbp-form { box-sizing: border-box; width: 90%; }
#bbpress-forums fieldset.bbp-form {clear: left;}
#bbpress-forums fieldset.bbp-form {padding: 10px 20px;margin-bottom: 10px;}
#bbpress-forums fieldset.bbp-form legend { padding: 5px; font-style:italic; }
#bbpress-forums fieldset.bbp-form label {margin: 0;display: inline-block;}
#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label, #bbp-login fieldset label, #bbp-register fieldset label, #bbp-lost-pass fieldset label {width: 100px;}
#bbpress-forums fieldset.bbp-form p, #bbpress-forums fieldset.bbp-form textarea, #bbpress-forums fieldset.bbp-form select, #bbpress-forums fieldset.bbp-form input {margin: 0 0 8px;}
textarea#bbp_reply_content, textarea#bbp_topic_content, textarea#bbp_forum_content {width: 97%;box-sizing: border-box;}
textarea#bbp_forum_content {height: 210px;}
#bbpress-forums fieldset.bbp-forum-form-attributes {width: 200px;float: right;clear: none;margin-left: 25px;}
.bbp-topic-form legend { font-size:18px; font-weight:bold; margin-top:15px; }

/**
 * Fix for too-long forum names, usually from conversion
 */
#bbpress-forums fieldset select#bbp_forum_id {max-width: 200px;}

.bbp-topic-form, .bbp-reply-form, .bbp-topic-tag-form {clear: both; padding: 15px 0; border-top:1px solid #eaeaea; margin-top:20px; }
body.topic-edit .bbp-topic-form div.avatar img, body.reply-edit .bbp-reply-form div.avatar img, body.single-forum .bbp-topic-form div.avatar img, body.single-reply .bbp-reply-form div.avatar img {margin-right: 0;padding: 10px;border: 1px solid #ddd; line-height: 0; background-color: #efefef; }
body.page .bbp-reply-form code, body.page .bbp-topic-form code, body.single-topic .bbp-reply-form code, body.single-forum .bbp-topic-form code, body.topic-edit .bbp-topic-form code, body.reply-edit .bbp-reply-form code {font-size: 10px;background-color: #f0fff8;border: 1px solid #CEEFE1;display: block;padding: 8px;margin-top: 5px;width: 369px;}
#merge_tag, #delete_tag {display: inline;}
div.bbp-submit-wrapper {margin-top: 15px;float: right;clear: both;}
p.form-allowed-tags {width: 462px;}

/* =TinyMCE in themes
-------------------------------------------------------------- */
#bbpress-forums div.bbp-the-content-wrapper {margin-bottom: 10px;}
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {width: 100%;margin: 0;font-size: 12px;}
#bbpress-forums div.bbp-the-content-wrapper table, #bbpress-forums div.bbp-the-content-wrapper tbody, #bbpress-forums div.bbp-the-content-wrapper tr, #bbpress-forums div.bbp-the-content-wrapper td {border: none;padding: 0;margin: 0;width: auto;line-height: 1em;}
#bbpress-forums div.bbp-the-content-wrapper input {font-size: 12px;padding: 5px;margin: 3px 0 0;line-height: 1em;margin: 0;}
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {padding: 5px;min-height: 26px;}
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {padding: 4px 4px 8px;}
#bbpress-forums div.wp-editor-container {margin: 0;padding: 0;line-height: 0;}
#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {line-height: 16px;}

/* =Edit User
-------------------------------------------------------------- */

#bbpress-forums #bbp-your-profile fieldset {padding: 20px 20px 0 20px;}
#bbpress-forums #bbp-your-profile fieldset div {margin-bottom: 20px;float: left;width: 100%;clear: left;}
#bbpress-forums #bbp-your-profile fieldset select {margin-bottom: 0;}
#bbpress-forums #bbp-your-profile fieldset input, #bbpress-forums #bbp-your-profile fieldset textarea {margin-bottom: 0;width: 60%;background: #f9f9f9;border: 1px solid #ddd;box-shadow: none;padding: 5px 8px;border-radius: 0;}
#bbpress-forums #bbp-your-profile fieldset input:focus, #bbpress-forums #bbp-your-profile fieldset textarea:focus {border: 1px solid #ccc;box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);outline-color: rgba(240,255,240,0.1);}
#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {width: auto;}
#bbpress-forums #bbp-your-profile fieldset legend {display: none;}
#bbpress-forums #bbp-your-profile fieldset label[for] {float: left;width: 20%;padding: 5px 20px 5px 0;text-align: right;cursor: pointer;}
#bbpress-forums #bbp-your-profile fieldset dl label[for] {text-align: left;width: 60%;}
#bbpress-forums #bbp-your-profile fieldset span.description {margin: 5px 0 0 20%;font-size: 12px;font-style: italic;float: left;clear: left;width: 60%;padding: 5px 8px;border: #cee1ef 1px solid;background-color: #f0f8ff;}
#bbpress-forums #bbp-your-profile fieldset fieldset {margin: 0;border: none;padding: 0;clear: none;float: none;}
#bbpress-forums #bbp-your-profile fieldset fieldset.password {width: 60%;display: inline;}
#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
#bbpress-forums #bbp-your-profile fieldset fieldset.password span {width: 100%;}
#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {margin: 0;}
#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {margin-left: 0;margin-bottom: 20px;}
#bbpress-forums #bbp-your-profile fieldset.submit button {float: right;}

/* =Notices
-------------------------------------------------------------- */
div.bbp-template-notice, div.indicator-hint { width:95%; margin:10px auto; border-width: 1px;border-style: solid;padding: 0 0.6em;border-radius: 3px;background-color: #ffffe0;border-color: #e6db55;color: #000;clear: both;}
div.bbp-template-notice a {color: #555;text-decoration: none;}
div.bbp-template-notice a:hover {color: #000;}
div.bbp-template-notice.info {border: #cee1ef 1px solid;background-color: #f0f8ff;}
div.bbp-template-notice.important {border: #e6db55 1px solid;background-color: #fffbcc;}
div.bbp-template-notice.error, div.bbp-template-notice.warning {background-color: #ffebe8;border-color: #c00;}
div.bbp-template-notice.error a, div.bbp-template-notice.warning a {color: #c00;}
div.bbp-template-notice p {margin: 0.5em 0 6px 0 !important;padding: 2px;font-size: 12px;line-height: 140%;}

/* =Stickies
-------------------------------------------------------------- */
.bbp-topics-front ul.super-sticky, .bbp-topics ul.super-sticky, .bbp-topics ul.sticky, .bbp-forum-content ul.sticky {background-color: #ffffe0 !important;font-size: 1.1em;}

/* =Revisions
-------------------------------------------------------------- */
#bbpress-forums .bbp-topic-revision-log, #bbpress-forums .bbp-reply-revision-log {border-top: 1px dotted #ddd;list-style: none;width: 100%;margin: 0;padding: 8px 0 0 0;font-size: 11px;color: #aaa;}

/* =Widgets
-------------------------------------------------------------- */
.bbp-login-form fieldset legend {display: none;}
.bbp-login-form .bbp-username input, .bbp-login-form .bbp-email input, .bbp-login-form .bbp-password input {padding: 5px;}
.bbp-login-form label {width: 140px;display: inline-block;}
#sidebar .bbp-login-form label {width: 70px;}
.bbp-login-form .bbp-username, .bbp-login-form .bbp-email, .bbp-login-form .bbp-password, .bbp-login-form .bbp-remember-me, .bbp-login-form .bbp-submit-wrapper {margin-top: 10px;}
.bbp-login-form .bbp-remember-me {}
.bbp-login-form .bbp-submit-wrapper {text-align: right;}
.bbp-login-form .bbp-login-links {}
.bbp-login-form .bbp-login-links a {float: left;clear: left;}
.bbp-logged-in img.avatar {float: left;margin: 0 15px 0 0;}
.bbp-logged-in h4 {font-weight: bold;font-size: 1.3em;clear: none;margin-bottom: 10px;}

/* =Avatars
-------------------------------------------------------------- */
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar, #bbpress-forums p.bbp-topic-meta img.avatar {float: none;margin-bottom: -7px;border: 3px double #ddd;}
fieldset div.avatar {float: right;}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */
.activity-list li.bbp_topic_create .activity-content .activity-inner, .activity-list li.bbp_reply_create .activity-content .activity-inner {border-left: 2px solid #eaeaea;margin-left: 5px;padding-left: 10px;}

/* =User Pages
-------------------------------------------------------------- */
#bbpress-forums h1 {clear: none;font-size: 1.8em;line-height: 1em;padding-bottom: 10px;}
#bbpress-forums #bbp-user-wrapper {float: left;width: 100%;}
h2.entry-title { display:none; }
#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic, #bbpress-forums #bbp-user-wrapper ul.bbp-topics, #bbpress-forums #bbp-user-wrapper ul.bbp-forums, #bbpress-forums #bbp-user-wrapper ul.bbp-replies, #bbpress-forums #bbp-user-wrapper fieldset.bbp-form {clear: none;}
#bbpress-forums #bbp-single-user-details {margin: 0;width: 150px;float: left;overflow: hidden;}
#bbpress-forums #bbp-single-user-details #bbp-user-avatar {margin: 0;width: 150px;}
#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {border: none;height: 150px;padding: 0;margin: 0 0 20px 0;width: 150px;}
#bbpress-forums #bbp-single-user-details #bbp-user-description {float: none;margin-left: 180px;}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation {float: none;margin: 0;}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {margin: 0;}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {padding: 5px 8px;display: block;border: 1px solid transparent;text-decoration: none;}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {background: #eee;opacity: 0.8;}
#bbpress-forums #bbp-user-body {margin-left: 180px;}
body.my-account #bbpress-forums {border-top: none;padding-top: 0;margin-bottom: 0;}

/* =User Capabilities
-------------------------------------------------------------- */
#bbpress-forums dl.bbp-user-capabilities {display: inline-block;vertical-align: top;}
#bbpress-forums dl.bbp-user-capabilities dt {margin: 0 0 10px;text-transform: capitalize;}
#bbpress-forums dl.bbp-user-capabilities dd {margin: 0;padding: 0;}

/* =BuddyPress Group Forums
-------------------------------------------------------------- */
#bbpress-forums div.row-actions {font-size: 11px;visibility: hidden;}

#bbpress-forums li:hover > div.row-actions {visibility: visible;}
