@import url(https://fonts.googleapis.com/css?family=Jura);

.myCRED-leaderboard {
    font-size: 16px !important; font-family: 'Jura',sans-serif;
 }
#post-9349 .entry-header {
  display: none;
 }

#mycred-my-rank {
  font-size: 0;
 }

small.vc_label {
  color: white;
 }
  

#mycred-my-rank img {
  position: relative;
  top: -10px;
  box-shadow: 0px 0px 0px;
 }

.dt { float: left; width: 79%; overflow: hidden; white-space: nowrap }
.dd { float: left; width: 21%; overflow: hidden; font-size: 18px !important; font-family: 'Jura',sans-serif; text-decoration: bold; position: relative; top: -5px; }

.dt:after { content: " .................................................................................." }

.dt span {
  font-size: 16px !important; font-family: 'Jura',sans-serif;
  }

.notice-item-close {
  color: red;
 }
.negative.notice-item {
  position: relative;
  z-index: 10001;
  font-size: 12px;
 }
.notice-item {
  position: relative;
  z-index: 10001;
  font-size: 12px;
 }

.ab-item {
  color: #6F5092 !important;
 }
span.count {
  color: black !important;
  font-size: 18px !important;
  font-weight: bold !important;
 }
#wp-admin-bar-my-account-groups span {
  color: black !important;
  font-size: 18px !important;
  font-weight: bold !important;
 }
.pending-count alert {
  font-size: 18px !immportant;
 }

.mycred-balance {
  font-family: 'Jura',sans-serif;
  font-size: 20px;
 }
h1.entry-title {
  font-size: 35px;
  font-family: 'Jura',sans-serif;
 }

/* Upgraded Business Accounts */
#upgrade_user a:first-child {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px !important;
    font-weight: bold;
}

#upgrade_user p a:first-child {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#upgrade_user p a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#upgrade_user .time-since {
  font-size: 13px;
 }



/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 380 pixels (phones portrait)
	2.3 - MINIMUM width of 720 pixels (tablets+)
	2.4 - MINIMUM width of 960 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/

.widget .myCRED-balance {
  font-family: 'Jura',sans-serif;
  font-size: 40px;
 }

#buddypress div#subnav.item-list-tabs ul li.selected a span, #buddypress .dir-form div.item-list-tabs ul li.selected a span, .bp-legacy div#item-body div.item-list-tabs ul li.selected a span, #buddypress div#subnav.item-list-tabs ul li.current a span, #buddypress .dir-form div.item-list-tabs ul li.current a span, .bp-legacy div#item-body div.item-list-tabs ul li.current a span, #buddypress div#subnav.item-list-tabs ul li a:hover span, #buddypress .dir-form div.item-list-tabs ul li a:hover span, .bp-legacy div#item-body div.item-list-tabs ul li a:hover span {
  background-color: #300948;
  color: #FFFFFF;
  }

#buddypress div#subnav.item-list-tabs ul li a span, #buddypress .dir-form div.item-list-tabs ul li a span, .bp-legacy div#item-body div.item-list-tabs ul li a span {
  color: #664688;
  }
#amb_img {
  font-size: 15px !important;
 }
  #amb_img img {
    box-shadow: none;
  	width: 12.5% !important;
    position: relative;
    top: 5px;
   }

.current {
  background-color: #6F5092;
 }
.current:hover {
  background-color: #6F5092;
 }

h1, h2, h3, h4, h5, h6 {
  color: black !important;
 }

.entry-content img {
  max-width: 100% !important;
 }

.accept {
  background-color: #6F5092;
  }
.reject {
  background-color: #6F5092;
 }
.join-group {
  background-color: #6F5092;
 }
.leave-group {
  background-color: #6F5092;
 }

.send-message {
  color: white;
  background-color: #6F5092;
 }
.send-message:hover {
  color: white;
  background-color: #6f5092;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.25) inset;
  outline: medium none;
  text-decoration: none;
 }

.activity-button {
  color: white;
  background-color: #6F5092;
 }
.activity-button:hover {
  color: white;
  background-color: #6f5092;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.25) inset;
  outline: medium none;
  text-decoration: none;
 }
  

.friendship-button {
  color: white;
  height: 15px;
  border-radius: 3px;
  background-color: #6F5092;
 }
.not_friends a:hover {
  color: black !important;
 }
#avatar-crop-submit {
  color: white;
  border-radius: 3px;
  background-color: #6F5092;
}
#avatar-crob-submit:hover {
  color: black !important;
 }
#upload {
  background-color: #6F5092;
  border-radius: 3px;
 }

#sidebar-wp-submit {
  color: #888888;
  border: 1px solid #fff;
 }

#sidebar-wp-submit:hover {
  color: black !important;
 }

.widget-area .widget form#sidebar-login-form p.forgetmenot {
  color: #888888;
  }

div#register-page p.top_image img {
  position: relative;
 }

#buddypress div.activity-meta a {
 
  padding: 4px 8px;
  }
#buddypress div.activity-meta a:hover {
  
  padding: 4px 8px;
 }

#oneall_social_login_providers_1070890 {
  top: 150px !important;
  position: relative !important;
 }

  
#oneall_social_login_providers_2421340 {
  top: 50px;
  position: relative;
 }

#ajaxsearchpro1 .probox {
  height: 25px !important;
 }

#ajaxsearchpro1 .probox .promagnifier {
  height: 25px !important;
 }

.main_top {
  height: 33px !important;
 }

#ajaxsearchprores1 {
  background: #3b1555 !important;
  position: relative;
  z-index: 10001 !important;
 }

input:focus {outline: none; }


.oneall_social_login {
    position: relative;
    left: 0px;
    margin-bottom: 10px;
    z-index: 9;
  float:left;
  width:100%;
}
.oneall_social_login_label {
    position: relative;
    left: 0px;
    float:left;
    width:100%;
}

.register-section {
    position: relative;
    z-index: 10;
}
.widget img {
  overflow: hidden;
 }
.widget .avatar-block img {
    width: 21.25% !important;
    height: 21.25% !important;
}

.sidebarme-username a {
  font-size: 20px;
 }

a {
    color: #6f5092;
}
#buddypress a.bp-primary-action span, #buddypress #reply-title small a span {
    background: #664688;
}

#buddypress div.activity-comments ul, #buddypress div.activity-comments form.ac-form {
    background: #c3b0d0;
}
.time-since {
    color: #6f5092;
}
.acomment-reply a {
    color: white;
}
.acomment-reply a:hover {
    color: black;
}
.sidebarme-profile a {
    color: black;
}
.activity-avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.avatar-social-login img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.lowermedia_add_sticky {
    width: 100%;
    position: relative;
    z-index: 10001;
    background: -moz-linear-gradient(top,  rgba(111,80,146,0.9) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(111,80,146,0.9)), color-stop(100%,rgba(0,0,0,.2))); /*    Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69169e3', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.main-navigation {
    position: relative;
    background:#664688;
}

.main-navigation div > ul > .current-menu-item > a, .main-navigation div > ul > .current-menu-ancestor > a {
    background-color: #3b1555;
}

.main-navigation div > ul > a:hover {
    background-color: #3b1555;
}

.main-navigation div > ul > .current-menu-item > a {
    background-color: #300948;
}
.main-navigation li a:hover{background-color: #300948 !important;}
.main-navigation li ul{ background:#654588 !important; border:none !important;}
.main-navigation li ul li a{color:#ffffff !important; font-size:14px !important;}
.main-navigation li{background:url(../images/sap.jpg) no-repeat center right;}
.main-navigation li:last-child{background:none;}
.main-navigation li ul li{background:none !important;}
.main-wrap{width:100% !important; float:left;}
body #wpadminbar{width:55% !important; float:left; padding:0px !important; max-width:55% !important; z-index:999999999;}


#wpadminbar .quicklinks{width:100% !important; margin:0px; float:left;} 
.ab-top-menu{float:left; margin:0px;  background:none !important; border:none !important; width:100%;}
.ab-top-menu li{float:left; margin:0px;  background:none !important; border:none !important;}
.ab-top-menu li a{float:left; margin:0px; padding:10px 20px; color:#ffffff; text-decoration:none;}
#wpadminbar .quicklinks > ul > li > a{border-right:1px solid #ffffff !important; float:left !important; color:#ffffff !important;}
#wpadminbar .quicklinks > ul > li > a:last-child{ border:none !important;}
#wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus{background:none !important;}
.site-header {
	width:100% !important; float:left;
    background: #f6f7f8 !important; 
	height:172px;
	margin:28px 0px 0px 0px; 
}
.count {
    color: #3b1555;
}
#oa_social_login-2 {
    margin-bottom: 0px;
    position: relative;
    z-index: 9;
    top: 41px;
}
#wpadminbar .ab-top-menu, #wpadminbar .ab-top-secondary{margin-top:0px !important;}
#ajaxsearchpro1 .probox .prosettings{display:none !important;}
.oneall_social_login_providers {
    left: 0px;
    position: relative;
  margin:0px;
  width:100%;
float:left;
}
.registration .oneall_social_login_providers {
    left: 0px;
    position: relative;
  margin:0px auto;
  width:23%;
float:none;
}
.widget buddyboss-login-widget {
    position: relative;
    margin-top: -20px;
}
#buddybossloginwidget-3 {
    position: relative;
    z-index: 10;
}
.oneall_social_login_providers {
}

.pagination .current, .bbp-pagination-links span {
    background-color: #664688;
}
.widget-area .widget #sidebarme img.avatar {
  margin-right: 8%;
  margin-left: 8%;
  left: -7.5%;
  position: relative;
}
.sidebarme-profile {
    margin-right: 5%;
}

#buddypress div#subnav.item-list-tabs, #buddypress .dir-form div.item-list-tabs, .bp-legacy div#item-body div.item-list-tabs {
		background-color: #300948;
    margin: 15px 0 10px !important;
    padding: 0px 5px !important;
}
#buddypress div#subnav.item-list-tabs ul li a, #buddypress .dir-form div.item-list-tabs ul li a, .bp-legacy div#item-body div.item-list-tabs ul li a, #buddypress div#subnav.item-list-tabs ul li span, #buddypress .dir-form div.item-list-tabs ul li span, .bp-legacy div#item-body div.item-list-tabs ul li span a {
    background-color: #6f5092;
    color: white;
}
#buddypress div#subnav.item-list-tabs ul li.selected a, #buddypress .dir-form div.item-list-tabs ul li.selected a, .bp-legacy div#item-body div.item-list-tabs ul li.selected a #buddypress div#subnav.item-list-tabs ul li.current a, #buddypress .dir-form div.item-list-tabs ul li.current a, .bp-legacy div#item-body div.item-list-tabs ul li.current a, #buddypress div#subnav.item-list-tabs ul li a:hover, #buddypress .dir-form div.item-list-tabs ul li a:hover, .bp-legacy div#item-body div.item-list-tabs ul li a:hover li {
    color: black;
}

div#login h1 a {
    height: 120px !important;
}

	
#branding {
    display: none;
}

/* Hides the RSS Feed links on menus */
.feed {
    display: none !important;
}


.comment-content img {
  max-width:75%;
}

.entry-content img {
  	margin-top: 15px;
    max-width: 50% !important;
}

.wall-outer .dcsns-toolbar .filter li img {
    max-width: 100% !important;
}

#buddypress ul.item-list li img.avatar {
    max-width: 100% !important ;
    width: 90px;
    height: 90px;
}

embed, iframe, object, video {
  max-width:75%;
}

.entry-content iframe { max-width: 100% !important; }

#wpadminbar * {
    color: #FFF;
}

/* Hides the PetsPage link in the header */
#wp-admin-bar-s2-site-name {
    display: none;
}

#buddypress div.activity-comments ul li ul > li {
    background-color: #ead7f6;
}
#buddypress .acomment-options a {
    color: black;
}
.acomment-options a {
    color: black;
}
.bbp-attachments ol.with-icons li.bbp-atthumb .wp-caption p.wp-caption-text {
    display: none;
}
p.form-allowed-tags {
    display: none;
}

.custom-logo {
    position: relative;
    float: left;
    z-index: 3;
}
.custom-tagline {
    position: relative;
    float: left;
    top: 35px;
    width: 75.9%;
    background: #3b1555;
    color: white;
    height: 40px;
    font-size: 25px;
    padding-left: 20px;
    left: -.3%;
    z-index: 2;
    padding-top: 10px;
    font-family: 'Jura', sans-serif;
}
#whats-new-pic {
    color: #6f5092;
}
#wp-admin-bar-top-secondary {
    top: 20px;
    left: -1%;
}


#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #6f5092;
}
h1, h2, h3, h4, h5, h6 {
    color: #6f5092;
}
.widget img {
    width: 100%;
    height: 100%; 
}
#buddypress div#item-header div#item-header-content span.highlight {
    background: none;
    color: black;
}
#buddypress span.activity {
    color: black;
}
#buddypress div#item-header div#item-meta {
    color: black;
}

.pluginCountBox {
    min-width: 75px !important;
}
.socialize-in-button {
    min-width: 75px;
}

.terms-register a:hover {
    color: #6f5092;
}

footer#colophon {
       bottom: 24px;
       display: none;
   }
   
   #bowob_bar {
       -webkit-box-shadow: 0px -2px 3px 0px rgba(50, 50, 50, 0.62);
        -moz-box-shadow:    0px -2px 3px 0px rgba(50, 50, 50, 0.62);
        box-shadow:         0px -2px 3px 0px rgba(50, 50, 50, 0.62);
   }
   
   #bowob_bar .bowob_b {
       margin-left: 0 !important;
        margin-right: 0 !important;
        border-left: 0 !important;
   }
   
   #bowob_config {
       right: 0 !important;
   }
   
   #bowob_head {
       right: 28px !important;;
   }
   
   #bowob #bowob_bar .bowob_b {
       background: #664688 !important;
       border-top: 1px solid #000 !important;
   }
   
   #bowob #bowob_head .bowob_content {
       color: #fff !important;
   }

   #bowob #bowob_head .bowob_disabled:hover, #bowob #bowob_head .bowob_enabled {
        background: #300948 !important;
   }
   
   #bowob_head_window .bowob_text { display: none !important; }
   
   #bowob #bowob_head_window .bowob_head, #bowob #bowob_window.bowob_main .bowob_head, #bowob #bowob_window .bowob_head { background: #664688 !important; }
   #bowob_tabs .bowob_items .bowob_disabled { background: #300948 !important; }
   #bowob_tabs .bowob_menu.bowob_main .bowob_content_block .bowob_content { font-weight: normal !important; color: #fff !important; }
   #bowob #bowob_tabs .bowob_items .bowob_enabled {background-color: #300948 !important;}
   #bowob_tabs .bowob_over.bowob_box .bowob_content_block .bowob_content { color: #fff !important; font-weight: normal; }
   #bowob #bowob_users .bowob_content { color: #300948 !important;}
   #bowob #bowob_tabs .bowob_user.bowob_other .bowob_content_block .bowob_content { color: #fff !important; font-weight: normal !important;}
   #bowob #bowob_users .bowob_box:hover { background: #664688 !important; }
   #bowob #bowob_tabs .bowob_over.bowob_box .bowob_content_block .bowob_content:hover, #bowob #bowob_tabs .bowob_user.bowob_other .bowob_content_block .bowob_content:hover { color: #fff !important; }
   #bowob #bowob_tabs .bowob_over.bowob_box .bowob_content_block .bowob_content { color: #fff !important; }
   #bowob #bowob_tabs .bowob_items .bowob_item:hover { background: #300948 !important; }
   #bowob #bowob_tabs .bowob_menu.bowob_main .bowob_content_block .bowob_content:hover { color: #fff !important; }
   #bowob #bowob_users .bowob_content:hover { color: #fff !important; }
/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/
    
/* Hides the RSS Feed links on menus */
  
    #buddypress div#subnav.item-list-tabs ul li a, #buddypress .dir-form div.item-list-tabs ul li a, .bp-legacy div#item-body div.item-list-tabs ul li a, #buddypress div#subnav.item-list-tabs ul li span, #buddypress .dir-form div.item-list-tabs ul li span, .bp-legacy div#item-body div.item-list-tabs ul li span a {
    margin-right: 2px !important;
   }
    .feed li {
        display: none;
    }
    #main-wrap #mobile-header {
        background: #6f5092;
    }
    #buddypress #mobile-item-nav ul li a {
        color: black;
    }


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 380 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 380px) {


	/*
	.just_an_example {
		color: black;
	}
	*/
    
    /* Hides the RSS Feed links on menus */
    .feed li {
        display: none;
    }
    



}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 720 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 720px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/
    
    /* Hides the RSS Feed links on menus */
    .feed li {
        display: none;
    }
    
    .custom-logo {
    position: relative;
    float: left;
    z-index: 3;
    }
    .custom-tagline {
    position: relative;
    float: left;
    top: 35px;
    width: 63%;
    background: #6f5092;
    color: white;
    height: 40px;
    font-size: 25px;
    padding-left: 20px;
    left: -.5%;
    z-index: 2;
    padding-top: 10px;
    font-family: 'Jura', sans-serif;
    }
    
    #buddypress .activity-list .activity-content .activity-header img.avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
  
  #buddypress div#item-header {
    width: 100%;
    height: 100%;
    float:left;
   }
  #buddypress div#item-header img.avatar {
    width: 161px;
    height: 161px;
   }
  #buddypress div#item-header #buddypress div#item-header div#item-buttons, #buddypress div#item-header div#message, #buddypress div#item-body {
    width: 68%;
    float:left;
    left:0px !important;
   }
body#role-admin.activity div#main-wrap div#inner-wrap div#page.hfeed div#main.wrapper div.page-full-width div#primary.site-content div#content article div.entry-content div#buddypress div#item-header div#item-buttons.profile {
    width: 100% !important;
    position: relative;
    left: 21% !important;
   }
  .activity-list li.bbp_topic_create .activity-content .activity-inner, .activity-list li.bbp_reply_create .activity-content .activity-inner {
    margin-top: 75px !important;
   }
  div#item-header-content {
    position: relative;
    width: 79% !important;
   }
  #buddypress > div#item-body{float:right; width:80%;}
  .entry-content p {
    width: 80%;
   }
  .entry-content blockquote, .comment-content blockquote {
    width: 82.5%;
   }
  .entry-post-thumbnail img {
    width: 350px;
    height: 350px;
   }
    #group-admins li{float:left; width:62%;}
  #group-admins li a{float:left; width:100%;}
  #group-admins li a img{float:left; width:100% !important; height:100% !important;}
  
#buddypress div#item-nav .item-list-tabs ul li a, #buddypress div#item-nav .item-list-tabs ul li span {
    border-bottom: 0px;
   }
  
  #buddypress div#item-nav .item-list-tabs {
    margin-top: 40px;
   }
  
  #buddypress div#item-nav .item-list-tabs ul li {
    padding-left: 5px;
   }
  #buddypress div#item-nav .item-list-tabs ul li a span {
    color: #664688;
  }
  #buddypress div.activity-meta {
    margin: 25px 0 0 110px
}
  #buddypress .activity-list .activity-content, #buddypress .activity-list .activity-comments {
    margin: 0 0 0 95px;
   }
  #bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
    background: #664688;
    color: #FFF;
   }
  li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count {
    text-align: center;
   }
  
  #wp-admin-bar-comments {
    display: none;
   }
  #wp-admin-bar-new-content {
    display: none;
   }
  
  #amb_img img {
    box-shadow: none;
   }
  #buddypress div#subnav.item-list-tabs, #buddypress .dir-form div.item-list-tabs {
    width: 101%;
    position: relative;
    left: -.45%;
    text-align: center;
   }
  #buddypress div#message-threads ul li.thread-avatar img {
    width: 100%;
    height: 100%;
   }
  .woocommerce-info:before {
    background: #3b1555;
   }
  .woocommerce-info {
    border-top: 3px solid #3b1555;
   }
  .woocommerce-info a {
    color: #FFF;
   }
  .woocommerce-message, .woocommerce-error, .woocommerce-info {
    background: #664688;
   }
  #order_comments_field {
    display: none;
  }
  
  		.custom-dropdown--large {
			font-size: 1.5em;
		}

		.custom-dropdown--small {
			font-size: .7em;
		}

		.custom-dropdown__select{
			font-size: inherit; /* inherit size from .custom-dropdown */
			padding: .5em; /* add some space*/
			margin: 0; /* remove default margins */
		}

		.custom-dropdown__select--white {
			background-color: #fff;
			color: #444;    
		}	
		

			.custom-dropdown {
				position: relative;
				display: inline-block;
				vertical-align: middle;
			}

			.custom-dropdown__select {
				padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */				
				border: 0;
				border-radius: 3px;
				-webkit-appearance: none;
				-moz-appearance: none !important;
				appearance: none;    
			}

			.custom-dropdown::before,
			.custom-dropdown::after {
				content: "";
				position: absolute;
				pointer-events: none;
			}

			.custom-dropdown::after { /*  Custom dropdown arrow */
				
				height: 1em;
				font-size: .625em;
				line-height: 1;
				right: 1.2em;
				top: 50%; margin-top: -.5em;
			}

			.custom-dropdown::before { /*  Custom dropdown arrow cover */
				width: 0em;
				right: 0; top: 0; bottom: 0;
				border-radius: 0 3px 3px 0;
			}

			.custom-dropdown__select[disabled] {
				color: rgba(0,0,0,.3);
			}

			.custom-dropdown.custom-dropdown--disabled::after {
				color: rgba(0,0,0,.1);
			}

			/* White dropdown style */
			.custom-dropdown--white::before {
				top: .5em; bottom: .5em;
				background-color: #fff;
				
			}

			.custom-dropdown--white::after {
				color: rgba(0,0,0,.9);
			}
  			/* FF only temporary & ugly fixes */
			/* the "appearance: none" applied on select still shows a dropdown arrow on Firefox */
			/* https://bugzilla.mozilla.org/show_bug.cgi?id=649849 */
			@-moz-document url-prefix() {
				.custom-dropdown__select 						 { padding-right: .9em }
				.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
				.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
			}
  
  		div.footer-inner-bottom {
    		padding: 10px 0;
        background: #3b1555;
    }
   	#dcssb-float {
    left: 7% !important;
    top: 35px !important;
    border-top-left-radius: 0px;
   	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
   }
  #upgrade_user p a {
 		font-size: 17px;
   }
  #ambassador p a {
 		font-size: 15px;
   }
  #buddypress #activity-stream p {
    width: 95%;
   }
   
   
   
  
}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 960 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 960px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/
  
    .custom-logo {
    position: relative;
    float: left;
    z-index: 3;
    }
    .custom-tagline {
        position: relative;
        float: left;
        top: 35px;
        width: 74%;
        background: #3b1555;
        color: white;
        height: 40px;
        font-size: 25px;
        padding-left: 20px;
        left: -.3%;
        z-index: 2;
        padding-top: 10px;
        font-family: 'Jura', sans-serif;
    }
    .main-navigation li a {
    	padding: 14px 10px !important;
    }
  #wpadminbar .quicklinks > ul > li > a {
    border-right: 0px !important;
   }
.ab-sub-wrapper {
    top: 33px !important;
   }
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
    width: 32px;
    height: 32px;
    margin: -2px 0 0 10px;
    border: 0px;
    border-radius: 0px;
   }
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img:hover {
  border-top: 2px solid #fff;
  position: relative;
  top: -2px;
 }
    #amb_img img {
    box-shadow: none;
  	width: 2.5% !important;
    position: relative;
    top: 5px;
   }


}/* don't delete this closing bracket */

@media screen and (min-width: 1280px)  {
    
    .custom-logo {
    position: relative;
    float: left;
    z-index: 3;
    }
    .custom-tagline {
        position: relative;
        float: left;
        top: 35px;
        width: 75.9%;
        background: #3b1555;
        color: white;
        height: 40px;
        font-size: 25px;
        padding-left: 20px;
        left: -.6%;
        z-index: 2;
        padding-top: 10px;
        font-family: 'Jura', sans-serif;
    }
    
}