/*--------------------------------------------------------------
This is the admin bar stylesheet.
On a mobile device, the admin bar is the left sliding panel.
The default adminbar.css is deregistered via functions.php.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Responsive media queries (mobile styles)
	2.0 - MAXIMUM width of 720 pixels (phones)
		2.1 - Remove default 28px top margin
		2.2 - Sliding Panel - User Nav - General
		2.3 - Top User Info - Avatar + Name + Username
		2.4 - Notifications
		2.5 - Top Level Navigation
--------------------------------------------------------------*/



/*--------------------------------------------------------------
1.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 - MAXIMUM width of 720 pixels (phones)
--------------------------------------------------------------*/

@media screen and (max-width: 720px) {

	/*--------------------------------------------------------------
	2.1 - Remove default 28px top margin
	--------------------------------------------------------------*/

	html { margin-top: 0 !important; }
	* html body { margin-top: 0 !important; }

	/*--------------------------------------------------------------
	2.2 - Sliding Panel - User Nav - General
	--------------------------------------------------------------*/

	body #wpadminbar {
		z-index: -1;
	}

	#wpadminbar {
		top: 0;
		left: 0;
		bottom: 0;
		width: 262px;
		height: 100%;
		position: fixed;
		overflow: auto;
		display: block;
		z-index: 1;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		opacity:0;
		background: #1d2b3c;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-backface-visibility: hidden;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		outline:none;
		-moz-box-shadow:    inset -5px 0 5px rgba(0,0,0,.4);
		-webkit-box-shadow: inset -5px 0 5px rgba(0,0,0,.4);
		box-shadow:         inset -5px 0 5px rgba(0,0,0,.4);
	}
	#wpadminbar li {
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
		-ms-transform: translatez(0);
		-o-transform: translatez(0);
		transform: translatez(0);
	}
	div.quicklinks {
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}
	#wpadminbar.show {
		opacity: 1;
		z-index:2;
	}
	#wpadminbar.hide {
		opacity: 1;
		z-index:1;
	}
	#wpadminbar a {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-shadow: 1px 1px 1px #092b49;
		text-decoration: none;
		color: #fff;
		outline: none;
	}
	div.quicklinks, div.ab-sub-wrapper { /* Remove Chrome outline on focus */
		outline:0;
	}

	/* Hide Elements */
	#wpadminbar a.screen-reader-shortcut { /* Hide "Skip to toolbar" link */
		display:none;
	}
	#wpadminbar div.quicklinks ul#wp-admin-bar-root-default li { /* Hide the WordPress Dashboard Navigation */
		display:none;
	}
	#wp-admin-bar-top-secondary li#wp-admin-bar-my-account.with-avatar > a.ab-item:first-of-type { /* Hide Small Avatar + Name */
		display:none;
	}
	li#wp-admin-bar-bp-notifications { /* Hide the notifications area in the nav - We are creating a new notification area instead */
		display:none;
	}

	/*--------------------------------------------------------------
	2.3 - Top User Info - Avatar + Name + Username
	--------------------------------------------------------------*/

	/* General */
	#wp-admin-bar-top-secondary ul#wp-admin-bar-user-actions li#wp-admin-bar-user-info {
		height:60px;
		position:relative;
		padding-left:5%;
		width:95%;
	}

	/* Thumbnail */
	#wp-admin-bar-top-secondary ul#wp-admin-bar-user-actions li#wp-admin-bar-user-info img {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow:    0px 0px 3px #000;
		-webkit-box-shadow:  0px 0px 3px #000;
		box-shadow:         0px 0px 3px #000;
		margin-top:10px;
		width:40px;
		height:40px;
		float:left;
		border: none;
	}

	/* Links */
	#wp-admin-bar-top-secondary ul#wp-admin-bar-user-actions li#wp-admin-bar-user-info a {
		padding:0;
	}
	#wp-admin-bar-top-secondary ul#wp-admin-bar-user-actions li#wp-admin-bar-user-info a span {
		display:block;
		position:relative;
		left:5%;
		width:95%;
	}
	#wp-admin-bar-top-secondary ul#wp-admin-bar-user-actions li#wp-admin-bar-user-info a span.display-name {
		font-size:18px;
		font-weight:bold;
		top:10px;
	}
	#wp-admin-bar-top-secondary ul#wp-admin-bar-user-actions li#wp-admin-bar-user-info a span.username {
		bottom: 13px;
		margin-top:30px;
		font-weight:normal;
	}

	/*--------------------------------------------------------------
	2.4 - Notifications
	--------------------------------------------------------------*/

	/* Pending Notifications Counter over User Nav Button */
	#main-wrap #mobile-header .mobile-header-inner div.left-btn a > span#ab-pending-notifications {
		border-radius: 25%;
		position:absolute;
		text-align:center;
		min-width:12px;
		height:0px;
		right:6px;
		bottom:5px;
		padding: 1px 2px 13px 2px;
		color:#fff;
		font-weight:normal;
		font-size:10px;
		line-height:12px;
		display:block;

		-moz-box-shadow:    inset 0 3px 3px rgba(255, 255, 255, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
   		-webkit-box-shadow: inset 0 3px 3px rgba(255, 255, 255, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
   		box-shadow:         inset 0 3px 3px rgba(255, 255, 255, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

		background:#ED3652;
		-webkit-border-image:-webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    	-webkit-border-image:-webkit-linear-gradient(bottom, #b10922, #ee5b6e) 1 100%;
    	-o-border-image:-o-linear-gradient(bottom, #b10922, #ee5b6e) 1 100%;
    	-moz-border-image:-moz-linear-gradient(bottom, #b10922, #ee5b6e) 1 100%;

	}
	#main-wrap #mobile-header .mobile-header-inner div.left-btn a {
		position:relative;
	}
	#main-wrap #mobile-header .mobile-header-inner div.left-btn a > span#ab-pending-notifications.no-alert {
		display:none;
	}

	/* Pending Notifications Counter in User Nav Panel */
	li#bb-custom-notification-area > a > span#ab-pending-notifications {
		min-width:9px;
		height:9px;
		right:.5%;
		padding:4px 5px 6px 6px;
		top:8px;
		font-size:12px;
		font-weight:normal;
		background:#ED3652;
		position:absolute;
		text-align:center;
		border-radius: 25%;
		color:#fff;
		text-shadow:none;
	}

	/* Notifications Area, in Sliding Panel */
	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li#bb-custom-notification-area.menupop > div.ab-sub-wrapper li {
		height:auto;
		padding-bottom:2px;
	}
	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li#bb-custom-notification-area.menupop > div.ab-sub-wrapper li a {
		line-height:17px;
		height:auto;
		font-weight:bold;
		padding-bottom:5px !important;
		padding-top:8px !important;
		color: #9FC2DD;
	}

	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li#bb-custom-notification-area.menupop > div.ab-sub-wrapper li:last-child {
		padding-bottom:0px !important;
	}

	/*--------------------------------------------------------------
	2.5 - Top Level Navigation
	--------------------------------------------------------------*/

	/* Nav Elements Borders */
	#wpadminbar div.quicklinks > ul > li.menupop > div.ab-sub-wrapper > ul > li,
	#wpadminbar div.quicklinks ul li#wp-admin-bar-bp-login,
	#wpadminbar div.quicklinks ul li#wp-admin-bar-bp-register,
	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li.menupop {
		border-top:1px solid #2d4058;
		border-bottom:1px solid #0a1522;
	}

	/* Nav Elements */
	#wpadminbar div.quicklinks > ul > li.menupop > div.ab-sub-wrapper > ul > li,
	#wpadminbar div.quicklinks ul li#wp-admin-bar-bp-login,
	#wpadminbar div.quicklinks ul li#wp-admin-bar-bp-register {
		display:block;
		min-height:45px;
	}

	#wpadminbar div.quicklinks > ul > li.menupop > div.ab-sub-wrapper > ul > li > a,
	#wpadminbar div.quicklinks ul li#wp-admin-bar-bp-login > a,
	#wpadminbar div.quicklinks ul li#wp-admin-bar-bp-register > a {
		padding-top:15px;
		font-size:15px;
		width:95%;
		height:30px;
		position:absolute;
		padding-left:5%;
	}

	/* Parent Nav Elements */
	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li.menupop {
		min-height:30px;
		width:100%;
		display:block;
		padding-top:15px;
		position:relative;
	}

	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li.menupop > a {
		font-weight:normal;
		font-size:11px;
		text-transform: uppercase;
		width:90%;
		margin-left:5%;
		position:absolute;
		top:0;
		left:0;
		height:30px;
		padding:14px 0 0 0;
		color:#79b3e0;
		cursor: default;
		letter-spacing: .1em;
	}

	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li.menupop > a span.count {
		display:none;
	}

	/* Sub Nav */
	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li.menupop > div.ab-sub-wrapper {
		overflow:hidden;
		height:auto !important;
		margin:7px 0 0 0 !important;
		width:100%;
		opacity:1;
		padding:10px 0 8px 0;
	}

	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li.menupop > div.ab-sub-wrapper li {
		width:100%;
		margin:0;
		padding: 0 0 12px 0;
	}

	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li.menupop > div.ab-sub-wrapper li a {
		font-size:15px;
		padding-top:11px;
		width:90%;
		margin-left:5%;
		display:block;
		border-top:1px solid #34546f;
	}
	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li.menupop > div.ab-sub-wrapper li a span.count {
		background: #33546f;
		color: #fff;
	    font-size: 12px;
	    line-height: 1;
	    padding: 1px 5px;
	    border-radius: 25%;
	}

	#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li.menupop > div.ab-sub-wrapper li:first-of-type a {
		border-top:3px solid #34546f;
	}

	/* Logged Out Nav */

	#wpadminbar ul.ab-top-menu {
		display: block;
		border-bottom: 1px solid #2d4058;
	}

}