/*--------------------------------------------------------------
This is the FLOATING admin bar stylesheet (default).
It floats the menus at the top right, scrolling with the page.
On a mobile device, the admin bar is the left sliding panel.
The default admin-bar.min.css is deregistered via /buddyboss-inc/theme.php.
----------------------------------------------------------------
1.0 - Responsive media queries (mobile styles)
	2.0 - MINIMUM width of 720 pixels (tablets+)
		2.1 - Remove default 28px top margin
		2.2 - General
		2.3 - My Account
		2.4 - My Sites
		2.5 - Search
		2.6 - Site Menu
		2.7 - Icons
			2.7.1 - WP Logo Icon
			2.7.2 - Updates Icon
			2.7.3 - Comments Icon
			2.7.4 - Add New Icon
		2.8 - Customize support classes
		2.9 - Retina display 2x icons
		2.10 - Skip Link
		2.11 - IE 6-targeted rules
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 - MINIMUM width of 720 pixels (tablets+)
--------------------------------------------------------------*/

@media screen and (min-width: 720px) {
	
	/*--------------------------------------------------------------
	2.1 - Remove default 28px top margin
	--------------------------------------------------------------*/
	
	html { margin-top: 0 !important; }
	* html body { margin-top: 0 !important; }

	/*--------------------------------------------------------------
	2.2 - General
	--------------------------------------------------------------*/

	#wpadminbar * {
		height: auto;
		width: auto;
		margin: 0;
		padding: 0;
		position: static;
		text-transform: none;
		letter-spacing: normal;
		line-height: 1;
		font: normal 12px/28px sans-serif;
		color: #222;
		-webkit-box-sizing: content-box;
		-moz-box-sizing:    content-box;
		box-sizing:         content-box;
	}
	
	#wpadminbar ul li:before,
	#wpadminbar ul li:after {
		content: normal;
	}
	
	#wpadminbar a,
	#wpadminbar a:hover {
		outline: none;
		border: none;
		text-decoration: none;
		background: none;
	}
	
	#wpadminbar a:focus,
	#wpadminbar a:active,
	#wpadminbar input[type="text"],
	#wpadminbar input[type="password"],
	#wpadminbar input[type="number"],
	#wpadminbar input[type="search"],
	#wpadminbar input[type="email"],
	#wpadminbar input[type="url"],
	#wpadminbar select,
	#wpadminbar textarea,
	#wpadminbar div {
		outline: none;
	}
	
	#wpadminbar {
		direction: ltr;
		margin: 0 auto;
		position: relative;
		max-width: 1040px; /* same width as .header-inner in css/wordpress.css */
		padding: 0 30px; /* same padding as .header-inner in css/wordpress.css */
		z-index: auto;
	}
	
	
	#wpadminbar .ab-sub-wrapper,
	#wpadminbar ul,
	#wpadminbar ul li {
		background: none;
		clear: none;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		text-indent: 0;
		z-index: 99999;
	}
	
	#wpadminbar .quicklinks {
		right: 30px; /* must match right padding of .site in css/wordpress.css */
		z-index: 99999;
	}
	
	#wpadminbar .quicklinks ul {
		text-align: left;
	}
	
	#wpadminbar li {
		float: left;
	}
	
	#wpadminbar .ab-empty-item {
		outline: none;
	}
	
	#wpadminbar .quicklinks > ul > li > a {
		border-right: 1px solid #ccc;
	}
	
	#wpadminbar .quicklinks > ul > li > .ab-empty-item {
		display: none;
	}
	
	#wpadminbar .quicklinks .ab-top-secondary > li {
		border-left: 0;
		float: right;
	}
	
	#wpadminbar .quicklinks .ab-top-secondary > li:first-child {
		border: none;
	}
	
	#wpadminbar .quicklinks .ab-top-secondary > li > a,
	#wpadminbar .quicklinks .ab-top-secondary > li > .ab-empty-item {
		border-right: 0;
	}
	
	#wpadminbar .quicklinks a,
	#wpadminbar .quicklinks .ab-empty-item,
	#wpadminbar .shortlink-input {
		height: 28px;
		display: block;
		padding: 3px 6px;
		margin: 0;
	}
	
	#wpadminbar .menupop .ab-sub-wrapper,
	#wpadminbar .shortlink-input {
		margin: 0 0 0 -1px;
		padding: 0;
		-webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
		box-shadow: 0 4px 4px rgba(0,0,0,0.2);
		background: #fff;
		display: none;
		position: absolute;
		float: none;
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: #bbb;
		border-radius: 0 0 3px 3px;
	}
	
	#wpadminbar.ie7 .menupop .ab-sub-wrapper,
	#wpadminbar.ie7 .shortlink-input {
		top: 28px;
		left: 0;
	}
	
	#wpadminbar .ab-top-menu,
	#wpadminbar .ab-top-secondary {
		border:none !important;
		border-radius: 0px;
		box-shadow: 0 0px 0px rgba(64, 64, 64, 0.1) !important;
		float: left;
		clear: right;
		margin-top: 0px;
		/*background-color: #e6e6e6;
		background-repeat: repeat-x;
		background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
		background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
		background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
		background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
		background-image: linear-gradient(top, #f4f4f4, #e6e6e6);*/
		width:75%;
	}
	
	body.logged-in #wpadminbar .ab-top-menu:not(.ab-top-secondary),
	body.logged-in #wpadminbar .ab-top-secondary:nth-child(2) {
		margin-top: 18px;
	}
	
	#wpadminbar #wp-admin-bar-root-default {
		z-index: 2;
	}
	#wpadminbar #wp-admin-bar-top-secondary {
		z-index: 1;
	}
	
	
	#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
		min-width: 100%;
	}
	
	#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper,
	#wpadminbar .ab-top-secondary #wp-admin-bar-new-content .ab-sub-wrapper {
		right: 0;
		left: auto;
		margin: 0 -1px 0 0;
	}
	
	/* Notifications */
	#wpadminbar .ab-top-secondary #wp-admin-bar-bp-notifications .ab-sub-wrapper {
		right: auto;
		left: 0;
		margin: 0 0 0 -1px;
	}
	#wpadminbar .ab-top-secondary #wp-admin-bar-bp-notifications ul li .ab-item,
	#wpadminbar .ab-top-secondary #wp-admin-bar-bp-notifications:hover ul li .ab-item {
		white-space: normal;
		height: auto;
		min-width: 145px;
		line-height: 18px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.entry-content #buddypress a.create-group-button{
    background: #300948 !important;
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    font: 16px/20px Arial,Tahoma,Verdana,sans-serif;
    outline: medium none;
    padding: 7px 20px;
    text-decoration: none;
}
  .entry-content #buddypress a.create-group-button:hover{background:#6F5092  !important; text-decoration:none; color:#ffffff;}
	/* My Account */
	#wpadminbar .ab-top-secondary #wp-admin-bar-my-account a {
	  	padding-right: 6px; /* less padding to make avatar look nice */
	 
	}
	#wpadminbar .ab-top-secondary ul#wp-admin-bar-bp-notifications-default,
	#wpadminbar .ab-top-secondary ul#wp-admin-bar-bp-notifications-default a {
		min-width: 100px !important;
	}
	
	
	#wpadminbar .ab-sub-wrapper > .ab-submenu:first-child {
		border-top: 1px solid #eee;
	}
	#wpadminbar .ab-sub-wrapper > .ab-submenu .ab-submenu:first-child {
		border-top: none;
	}
	
	#wpadminbar .ab-submenu {
		padding: 6px 0;
		border-top: 1px solid #bbb;
	}
	
	#wpadminbar .selected .shortlink-input {
		display: block;
	}
	
	#wpadminbar .quicklinks .menupop ul li {
		float: none;
	}
	
	#wpadminbar .quicklinks .menupop ul li a strong {
		font-weight: bold;
	}
	
	#wpadminbar .quicklinks .menupop ul li .ab-item,
	#wpadminbar .quicklinks .menupop ul li a strong,
	#wpadminbar .quicklinks .menupop.hover ul li .ab-item,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li .ab-item,
	#wpadminbar .shortlink-input {
		line-height: 26px;
		height: 26px;
		text-shadow: none;
		white-space: nowrap;
		min-width: 120px;
	}
	
	#wpadminbar .shortlink-input {
		width: 200px;
	}
	
	#wpadminbar.nojs li:hover > .ab-sub-wrapper,
	#wpadminbar li.hover > .ab-sub-wrapper {
		display: block;
	}
	
	#wpadminbar .menupop li:hover > .ab-sub-wrapper,
	#wpadminbar .menupop li.hover > .ab-sub-wrapper {
		margin-left: 100%;
		margin-top: -33px;
		border-width: 1px;
	}
	
	#wpadminbar .ab-top-secondary .menupop li:hover > .ab-sub-wrapper,
	#wpadminbar .ab-top-secondary .menupop li.hover > .ab-sub-wrapper {
		margin-left: 0;
		left: inherit;
		right: 100%;
	}
	
	#wpadminbar .ab-top-menu > li:hover > .ab-item,
	#wpadminbar .ab-top-menu > li.hover > .ab-item,
	#wpadminbar .ab-top-menu > li > .ab-item:focus,
	#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
		background: #e9e9e9;
	}
	
	#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
	#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
		background: #fff;
		color: #333;
		text-shadow: none;
		border-right-color: transparent;
		border-left-color: transparent;
	}
	
	#wpadminbar .hover .ab-label,
	#wpadminbar.nojq .ab-item:focus .ab-label {
		color: #fafafa;
	}
	
	#wpadminbar .menupop.hover .ab-label {
		color: #333;
		text-shadow: none;
	}
	
	#wpadminbar .menupop li:hover,
	#wpadminbar .menupop li.hover,
	#wpadminbar .quicklinks .menupop .ab-item:focus,
	#wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus {
		background-color: #eaf2fa;
	}
	
	#wpadminbar .ab-submenu .ab-item {
		color: #333;
		text-shadow: none;
	}
	
	#wpadminbar .quicklinks .menupop ul li a,
	#wpadminbar .quicklinks .menupop ul li a strong,
	#wpadminbar .quicklinks .menupop.hover ul li a,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
		color: #21759B;
	}
	
	#wpadminbar .menupop .menupop > .ab-item {
		display: block;
		background-image: url(../images/admin-bar-sprite.png);
		background-position: 95% -20px;
		background-repeat: no-repeat;
		padding-right: 2em;
	}
	
	#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item {
		background-image: url(../images/admin-bar-sprite.png);
		background-position: 5% -43px;
		background-repeat: no-repeat;
		padding-left: 2em;
		padding-right: 1em;
	}
	
	#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
		display: block;
		position: relative;
		right: auto;
		margin: 0;
		background: #eee;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0 0 3px 3px;
                float:left;
                width:100%;
	}
	
	#wpadminbar .quicklinks .menupop .ab-sub-secondary > li:hover,
	#wpadminbar .quicklinks .menupop .ab-sub-secondary > li.hover,
	#wpadminbar .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus {
		background-color: #dfdfdf;
	}
	
	#wpadminbar .quicklinks a span#ab-updates {
		background: #eee;
		color: #333;
		text-shadow: none;
		display: inline;
		padding: 2px 5px;
		font-size: 10px;
		font-weight: bold;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	
	#wpadminbar .quicklinks a:hover span#ab-updates  {
		background: #fff;
		color: #000;
	}
	
	#wpadminbar .ab-top-secondary {
		float: right;
		width:25% !important;
		top:0px !important;
	}
	.ab-label{color:#ffffff !important;}
	.count.no-alert{color:#ffffff !important;}
	.ab-sub-wrapper{top:28px !important; float:left;}
	#wpadminbar ul li:last-child,
	#wpadminbar ul li:last-child .ab-item,
	#wpadminbar ul li#wp-admin-bar-bp-register,
	#wpadminbar ul li#wp-admin-bar-bp-register .ab-item {
		border-right: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	/*--------------------------------------------------------------
	2.3 - My Account
	--------------------------------------------------------------*/

	#wp-admin-bar-my-account > ul {
		min-width: 198px;
	}
	
	#wp-admin-bar-my-account.with-avatar > ul {
		min-width: 270px;
	}
	
	#wpadminbar #wp-admin-bar-user-actions > li {
		margin-left: 16px;
		margin-right: 16px;
	}
	
	#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
		margin-left: 88px;
	}
	
	#wp-admin-bar-user-actions > li > .ab-item {
		padding-left: 8px;
	}
	
	#wpadminbar #wp-admin-bar-user-info {
		margin-top: 6px;
		margin-bottom: 15px;
		height: auto;
		background: none;
	}
	
	#wp-admin-bar-user-info .avatar {
		position: absolute;
		left: -72px;
		top: 4px;
		width: 62px;
		height: 62px;
		border: 1px solid #ccc;
	}
	
	#wpadminbar #wp-admin-bar-user-info a {
		background: none;
		height: auto;
	}
	
	#wpadminbar #wp-admin-bar-user-info span {
		background: none;
		padding: 0;
		height: 18px;
	}
	
	#wpadminbar #wp-admin-bar-user-info .display-name,
	#wpadminbar #wp-admin-bar-user-info .username {
		text-shadow: none;
		display: block;
	}
	
	#wpadminbar #wp-admin-bar-user-info .display-name {
		color: #333;
	}
	
	#wpadminbar #wp-admin-bar-user-info .username {
		color: #999;
		font-size: 11px;
	}
	
	#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
		width: 16px;
		height: 16px;
		border: 1px solid #aaa;
		padding: 0;
		background: #eee;
		line-height: 24px;
		vertical-align: middle;
		margin: -2px 0 0 10px;
		float: none;
		display: inline;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}

	/*--------------------------------------------------------------
	2.4 - My Sites
	--------------------------------------------------------------*/

	#wpadminbar .quicklinks li .blavatar {
		vertical-align: middle;
		margin: 0 4px 0 0;
		padding: 0;
	}

	#wpadminbar .quicklinks li div.blavatar {
		background: url('../images/wpmini-blue.png') no-repeat;
		height: 16px;
		width: 16px;
		display: inline-block;
	}
	
	/*--------------------------------------------------------------
	2.5 - Search
	--------------------------------------------------------------*/

	#wpadminbar #wp-admin-bar-search .ab-item {
		padding: 0;
	}
	
	#wpadminbar #wp-admin-bar-search .ab-item {
		/* default background */
		background: transparent;
	}
	
	#wpadminbar #adminbarsearch {
		height: 28px;
		padding: 0 2px;
	}
	
	#wpadminbar #adminbarsearch .adminbar-input {
		font: 13px/24px sans-serif;
		height: 24px;
		width: 24px;
		border: none;
		padding: 0 3px 0 23px;
		margin: 0;
		color: #ccc;
		text-shadow: #444 0px -1px 0px;
		background-color: rgba( 255, 255, 255, 0 );
		background-image: url(../images/admin-bar-sprite.png);
		background-position: 3px 2px;
		background-repeat: no-repeat;
		outline: none;
		cursor: pointer;
	
		-webkit-border-radius: 3px;
		border-radius: 3px;
	
		-webkit-box-shadow: none;
		box-shadow: none;
	
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	
		-webkit-transition-duration: 400ms;
		-webkit-transition-property: width, background;
		-webkit-transition-timing-function: ease;
		-moz-transition-duration: 400ms;
		-moz-transition-property: width, background;
		-moz-transition-timing-function: ease;
		-o-transition-duration: 400ms;
		-o-transition-property: width, background;
		-o-transition-timing-function: ease;
	}
 .home-page p {
    display: none !important;
}
	
	#wpadminbar.ie7 #adminbarsearch .adminbar-input {
		margin-top: 1px;
		width: 120px;
	}
	
	#wpadminbar #adminbarsearch .adminbar-input:focus {
		color: #555;
		text-shadow: 0 1px 0 #fff;
		width: 200px;
		background-color: rgba( 255, 255, 255, 0.9 );
		cursor: text;
	}
	
	#wpadminbar.ie8 #adminbarsearch .adminbar-input {
		background-color: #464646;
	}
	
	#wpadminbar.ie8 #adminbarsearch .adminbar-input:focus {
		background-color: #fff;
	}
	
	/* Two rules to ensure browser recognition */
	#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
		color: #ddd;
	}
	
	#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
		color: #ddd;
	}
	
	#wpadminbar #adminbarsearch .adminbar-button {
		display: none;
	}
	
	/*--------------------------------------------------------------
	2.6 - Site Menu
	--------------------------------------------------------------*/

	#wpadminbar #wp-admin-bar-appearance {
		border-top: none;
		margin-top: -12px;
	}
	
	/*--------------------------------------------------------------
	2.7 - Icons
	--------------------------------------------------------------*/

	#wpadminbar .ab-icon {
		position: relative;
		float: left;
		width: 16px;
		height: 16px;
		margin-top: 6px;
	}
	
	#wpadminbar .ab-label {
		margin-left: 4px;
	}
	
	/*--------------------------------------------------------------
	2.7.1 - WP Logo Icon
	--------------------------------------------------------------*/

	#wp-admin-bar-wp-logo > .ab-item .ab-icon {
		width: 20px;
		height: 20px;
		margin-top: 4px;
		background-image: url(../images/admin-bar-sprite.png);
		background-position: 0 -76px;
		background-repeat: no-repeat;
	}
	
	#wpadminbar.nojs #wp-admin-bar-wp-logo:hover > .ab-item .ab-icon,
	#wpadminbar #wp-admin-bar-wp-logo.hover > .ab-item .ab-icon {
		background-position: 0 -104px;
	}
	
	/*--------------------------------------------------------------
	2.7.2 - Updates Icon
	--------------------------------------------------------------*/

	#wp-admin-bar-updates > .ab-item .ab-icon {
		background-image: url(../images/admin-bar-sprite.png);
		background-position: -2px -159px;
		background-repeat: no-repeat;
	}
	
	/*--------------------------------------------------------------
	2.7.3 - Comments Icon
	--------------------------------------------------------------*/

	#wp-admin-bar-comments > .ab-item .ab-icon {
		background-image: url(../images/admin-bar-sprite.png);
		background-position: -1px -134px;
		background-repeat: no-repeat;
	}
	
	#wpadminbar span.count-0 {
		display: none;
	}
	
	/*--------------------------------------------------------------
	2.7.4 - Add New Icon
	--------------------------------------------------------------*/

	#wpadminbar #wp-admin-bar-new-content > .ab-item .ab-icon {
		background-image: url(../images/admin-bar-sprite.png);
		background-position: -2px -182px;
		background-repeat: no-repeat;
	}

	#wpadminbar.nojs #wp-admin-bar-new-content:hover > .ab-item .ab-icon,
	#wpadminbar #wp-admin-bar-new-content.hover > .ab-item .ab-icon {
		background-position: -2px -203px;
	}
	
	/*--------------------------------------------------------------
	2.8 - Customize support classes
	--------------------------------------------------------------*/

	.no-customize-support .hide-if-no-customize,
	.customize-support .hide-if-customize,
	.no-customize-support.wp-core-ui .hide-if-no-customize,
	.no-customize-support .wp-core-ui .hide-if-no-customize,
	.customize-support.wp-core-ui .hide-if-customize,
	.customize-support .wp-core-ui .hide-if-customize {
		display: none;
	}
	
	/*--------------------------------------------------------------
	2.9 - Retina display 2x icons
	--------------------------------------------------------------*/

	@media print,
	  (-o-min-device-pixel-ratio: 5/4),
	  (-webkit-min-device-pixel-ratio: 1.25),
	  (min-resolution: 120dpi) {
		#wpadminbar .menupop .menupop > .ab-item,
		#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item,
		#wpadminbar #adminbarsearch .adminbar-input,
		#wp-admin-bar-wp-logo > .ab-item .ab-icon,
		#wp-admin-bar-updates > .ab-item .ab-icon,
		#wp-admin-bar-comments > .ab-item .ab-icon,
		#wpadminbar #wp-admin-bar-new-content > .ab-item .ab-icon {
			background-image: url(../images/admin-bar-sprite-2x.png);
			background-size: 20px 220px;
		}
	}
	
	/*--------------------------------------------------------------
	2.10 - Skip Link
	--------------------------------------------------------------*/

	#wpadminbar .screen-reader-text,
	#wpadminbar .screen-reader-text span {
		position: absolute;
		left: -1000em;
		top: -1000em;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
	
	#wpadminbar .screen-reader-shortcut {
		position: absolute;
		top: -1000em;
	}
	
	#wpadminbar .screen-reader-shortcut:focus {
		left: 6px;
		top: 7px;
		height: auto;
		width: auto;
		display: block;
		font-size: 14px;
		font-weight: bold;
		padding: 15px 23px 14px;
		background: #f1f1f1;
		color: #21759b;
		text-shadow: none;
		border-radius: 3px;
		z-index: 100000;
		line-height: normal;
		-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
		box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
		text-decoration: none;
	}
	
	/*--------------------------------------------------------------
	2.11 - IE 6-targeted rules
	--------------------------------------------------------------*/
	
	* html #wpadminbar {
		overflow: hidden;
		position: absolute;
	}
	
	* html #wpadminbar .quicklinks ul li a {
		float: left;
	}
	
	* html #wpadminbar .menupop a span {
		background-image: none;
	}
	
}
@media (max-width:1050px) {
.custom-tagline {
    float: left;
    left: -1% !important;
    width: 73% !important;

}
.welcome_text {
    float: left;
    margin: 0;
    padding: 0;
    width: 50% !important;
}
.welcome_text h2 {
    float: left;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 4%;
    text-align: center;
    width: 96% !important;
}
.welcome_text p {
    color: #1E1E1E;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0 0 0 4%;
    text-align: justify;
    width: 96% !important;
}

.plugin #providers .provider {
    width: 33px !important;
    float: left;
}

.footer_social ul {
    float: right;
    margin: 0;
    padding: 0;
    width: 80%;
}
.widget-area .widget {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 20px 10px !important;
}
.oneall_social_login {
    left: 0 !important;
    margin-bottom: 10px;
    position: relative;
    z-index: 9;
    float:left;
    width:100%;
}
  .oneall_social_login_label {
    float: left;
    left: 0 !important;
    position: relative;
    width: 100%;
}
.oneall_social_login_providers {
    left: 0px !important;
    position: relative;
}
  .oneall_social_login_providers {
    left: 0 !important;
    position: relative;
    width:22% !important;
    margin:0px auto;
}
#oneall_social_login_providers_8461169 #oa_social_login_frame_22982{float:left; width:100% !important;}
.main_top_inner{float:left; width:100% !important;}
.activity-inner {
    float: left;
    width: 100%;
}
.activity-inner p{
    float: left;
    width: 100%;
}
  
#login_wrapper {
    float: left;
    margin: 0 !important;
    width: 100% !important;
}
 #pets_login .oneall_social_login_providers {
    float: left;
    left: 0;
    margin: 0;
    position: relative;
    width: 100% !important;
}
 #pets_login  embed, iframe, object, video {
    height: auto !important;
    width: 100% !important;
    max-width:100% !important;
}

.footer_social ul li {
    float: left;
    list-style: none outside none;
    margin: 0 13px 0 0 !important;
    padding: 0;
}
.main-navigation li a {
    border-bottom: 0 none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    padding: 14px 12px !important;
    white-space: nowrap;
    word-wrap: break-word;
}
#frame{height:1000px !important;}
}
@media (max-width:980px) {
.custom-tagline {
    float: left;
    left: -1% !important;
    width: 63% !important;
}
.welcome_text h2 {
    float: left;
    font-size: 30px !important;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 0% !important;
    text-align: center;
    width: 100% !important;
}

.welcome_text p {
    color: #1E1E1E;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px !important;
    line-height: 18px !important;
    margin: 0;
    padding: 0 0 0 4%;
    text-align: justify;
    width: 96% !important;
}
.header-inner {
    padding: 20px 0px !important;
}
.header-inner, .nav-inner, .site, .footer-inner{padding-left:0px !important; padding-right:0px !important;}
#oa_social_login_frame_25450{width:100% !important; float:left; margin:0px;}
embed, iframe, object, video {
    max-width: 100% !important;
    width: 100% !important;
}

#footer-credits p {
    font-size: 14px !important;
}
.footer_social ul li {
    float: left;
    margin: 0 14px 0 0 !important;
}

.footer_social ul {
    float: left;
    width:90% !important;
   
 }
.entry-post-thumbnail img {
    float: left;
    max-height: 100%;
    max-width: 165px;
    width: 165px;
}
.wall-outer {
    float: left;
    width: 100%;
}
.dcwss.dc-wall {
    color: #444444;
    float: left;
    list-style: none outside none;
    margin: 0;
    width: 100%;
}
.dcwss.dc-wall .dcwss-content {
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
.dcwss.dc-wall ul.stream {
    float: left;
    padding-left: 2px;
    padding-top: 1px;
    width: 100%;
}
.dcwss.dc-wall.col-4 .stream li {
    float: left;
    margin: 0 2% 2% 0 !important;
    width: 31% !important;
}
.ajax_main{width:45% !important; float:left;}

body #wpadminbar {
    float: left;
    max-width: 50% !important;
    padding: 0 !important;
    width: 50% !important;
    z-index: 999999999;
}
#wpadminbar .ab-top-menu, #wpadminbar .ab-top-secondary {
    border: medium none !important;
    float: left;
    width: 65% !important;
}
#wpadminbar .ab-top-secondary{float:right; width:34% !important;}
#wpadminbar .quicklinks a, #wpadminbar .quicklinks .ab-empty-item, #wpadminbar .shortlink-input {
    display: block;
    height: 28px;
    margin: 0;
    padding: 5px 6px !important;
}


.main-navigation li a {
    border-bottom: 0 none;
    color: #FFFFFF;
    font-size: 12px !important;
    padding: 14px 9px !important;
}
div#sitewide-notice{width:100%!important; float:left; margin:30px 0px !important; padding:0px !important;}
.widget-area .widget h3, .widget-area .widget_bp_profile_search h4 {
    margin: -15px 0 15px !important;
    padding: 10px 0 !important;
    width: 100% !important;
}
.site-content {
    float: left;
    width: 67% !important;
    margin:0px 2% 0px 0px !important;
}
.widget-area {
    float: left;
    width: 31% !important;
}
.footer_social{float:left; width:49% !important;}
.footer-inner{float:left; width:100% !important;}
.page-full-width #primary{width:100% !important; float:left; margin:0px !important; padding:0px !important;}
.widget-area .widget {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    float: left;
    padding: 20px 10px !important;
    width: 90% !important;
}
  .login_logo {
    float: left;
    margin: 0;
    padding: 0;
    width: 32% !important;
}
  .logon_form {
    float: left;
    margin: 0;
    padding: 0;
    width: 68% !important;
}
  .logon_form form p.sign input.submit_button {
    background: none repeat scroll 0 0 #3B1555;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    height: auto;
    margin: 0 !important;
    padding: 5px 24px !important;
    width: auto;
}
  .logon_form h2{font-size:11px !important;}
  ._58mf ._58mg {
    border-color: #C3B0D0;
    border-radius: 5px;
    float: left;
    margin: 0;
    width: 96% !important;
}
  .login_section_left h4 {
    color: #555555;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px !important;
    text-align: center;
    width: 90%;
}
  ._58mh ._58mg {
    width: 92% !important;
}
  .pets_ima_inner img {
    float: left;
    height: 150px !important;
    margin: 0;
    padding: 0;
    width: 100%;
}
}
@media (max-width:852px) {
  .custom-tagline {
    float: left;
    left: -1% !important;
    width: 63% !important;
}
.welcome_text h2 {
    float: left;
    font-size: 30px !important;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 0% !important;
    text-align: center;
    width: 100% !important;
}

.welcome_text p {
    color: #1E1E1E;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px !important;
    line-height: 18px !important;
    margin: 0;
    padding: 0 0 0 4%;
    text-align: justify;
    width: 96% !important;
}
.header-inner {
    padding: 20px 0px !important;
}
.header-inner, .nav-inner, .site, .footer-inner{padding-left:0px !important; padding-right:0px !important;}

#oa_social_login_frame_25450{width:100% !important; float:left; margin:0px;}
embed, iframe, object, video {
    max-width: 100% !important;
    width: 100% !important;
}

#footer-credits p {
    font-size: 14px !important;
}
.footer_social ul li {
    float: left;
    margin: 0 14px 0 0 !important;
}

.footer_social ul {
    float: left;
    width:90% !important;
   
 }
.entry-post-thumbnail img {
    float: left;
    max-height: 100%;
    max-width: 165px;
    width: 165px;
}
.wall-outer {
    float: left;
    width: 100%;
}
.dcwss.dc-wall {
    color: #444444;
    float: left;
    list-style: none outside none;
    margin: 0;
    width: 100%;
}
.dcwss.dc-wall .dcwss-content {
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
.dcwss.dc-wall ul.stream {
    float: left;
    padding-left: 2px;
    padding-top: 1px;
    width: 100%;
}
.dcwss.dc-wall.col-4 .stream li {
    float: left;
    margin: 0 2% 2% 0 !important;
    width: 31% !important;
}
.ajax_main{width:45% !important; float:left;}

body #wpadminbar {
    float: left;
    max-width: 50% !important;
    padding: 0 !important;
    width: 50% !important;
    z-index: 999999999;
}
#wpadminbar .ab-top-menu, #wpadminbar .ab-top-secondary {
    border: medium none !important;
    float: left;
    width: 65% !important;
}
#wpadminbar .ab-top-secondary{float:right; width:34% !important;}
#wpadminbar .quicklinks a, #wpadminbar .quicklinks .ab-empty-item, #wpadminbar .shortlink-input {
    display: block;
    height: 28px;
    margin: 0;
    padding: 5px 6px !important;
}

.main-navigation li a {
    border-bottom: 0 none;
    color: #FFFFFF;
    font-size: 12px !important;
    padding: 14px 9px !important;
}
div#sitewide-notice{width:100%!important; float:left; margin:30px 0px !important; padding:0px !important;}
.widget-area .widget h3, .widget-area .widget_bp_profile_search h4 {
    margin: -15px 0 15px !important;
    padding: 10px 0 !important;
    width: 100% !important;
}
.site-content {
    float: left;
    width: 67% !important;
    margin:0px 2% 0px 0px !important;
}
.widget-area {
    float: left;
    width: 31% !important;
}
.footer_social{float:left; width:49% !important;}
.footer-inner{float:left; width:100% !important;}
.page-full-width #primary{width:100% !important; float:left; margin:0px !important; padding:0px !important;}
.entry-summary-thumbnail {
    margin-left: 0 !important;
}
.widget-area .widget {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    float: left;
    padding: 20px 10px !important;
    width: 90% !important;
}
  
.login_logo {
    float: left;
    margin: 0;
    padding: 0;
    width: 32% !important;
}
  .logon_form {
    float: left;
    margin: 0;
    padding: 0;
    width: 68% !important;
}
  .logon_form form p.sign input.submit_button {
    background: none repeat scroll 0 0 #3B1555;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    height: auto;
    margin: 0 !important;
    padding: 5px 24px !important;
    width: auto;
}
  .logon_form h2{font-size:11px !important;}
  ._58mf ._58mg {
    border-color: #C3B0D0;
    border-radius: 5px;
    float: left;
    margin: 0;
    width: 96% !important;
}
  .login_section_left h4 {
    color: #555555;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px !important;
    text-align: center;
    width: 90%;
}
  ._58mh ._58mg {
    width: 92% !important;
}
  .pets_ima_inner img {
    float: left;
    height: 150px !important;
    margin: 0;
    padding: 0;
    width: 100%;
}
}
@media (max-width:767px) {
.welcome_text h2 {
    float: left;
    font-size: 24px !important;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 0 !important;
    text-align: center;
    width: 100% !important;
}
  
.widget-area .widget {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    float: left;
    padding: 20px 10px !important;
    width: 95% !important;
}
header#masthead {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 262px;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  background: #1d2b3c;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -moz-box-shadow:    inset  5px 0 5px rgba(0,0,0,.4);
  -webkit-box-shadow: inset  5px 0 5px rgba(0,0,0,.4);
  box-shadow:         inset  5px 0 5px rgba(0,0,0,.4);
 }
.welcome_text p {
    color: #1E1E1E;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px !important;
    line-height: 15px !important;
    margin: 0;
    padding: 0 0 0 4%;
    text-align: justify;
    width: 96% !important;
}
.site-content {
    margin: 0 !important;
    float: left !important;
    width: 100% !important;
}
.widget-area {
    float: right;
    width: 96% !important;
    margin: 0px 2%;
}
#footer-credits {
    float: left;
    width: 100% !important;
}
.main-navigation {
    background: none repeat scroll 0 0 #664688;
    position: relative;
    z-index: 10000;
    width: 57%;
    float: left;
    height:100%;
    overflow-y:scroll;
    
}
.footer_social {
    float: left;
    margin: 0;
    padding: 0;
    width: 100% !important;
}
#fwslider {
    float: left;
    width: 100% !important;
}
.welcome_text {
    float: left;
    width: 100% !important;
}
.dcwss.dc-wall.col-4 .stream li {
    float: left;
    width: 33% !important;
}
body.buddypress:not(.bp-user):not(.single-item):not(.activity) #content, body:not(.buddypress) #content article, body.buddypress #content article.error404, .site-content nav.nav-single, .site-content #comments, .bp-legacy div#item-body {
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    clear: left;
    margin: 0;
    overflow: hidden;
    padding: 15px 0 !important;
    width: 100%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0 2% 2.992em 0 !important;
    width: 31% !important;
}
.woocommerce div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce-page #content div.product div.images img, .woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
    max-width: 100% !important;
    width: 100% !important;
	float:left;
}
.dcwss.dc-wall.col-4 .stream li {
    float: left;
    margin: 0 2% 2% 0 !important;
    width: 45% !important;
}
.main_top{display:none !important;}
#buddypress div.item-list-tabs ul li.current a, #buddypress div.item-list-tabs ul li.selected a {
    background: none repeat scroll 0 0 #FFFFFF !important;
    font-weight: 400;
}
#buddypress div#subnav.item-list-tabs ul li a, #buddypress .dir-form div.item-list-tabs ul li a, .bp-legacy div#item-body div.item-list-tabs ul li a, #buddypress div#subnav.item-list-tabs ul li span, #buddypress .dir-form div.item-list-tabs ul li span, .bp-legacy div#item-body div.item-list-tabs ul li span a{-webkit-border-top-left-radius: 3px !important;
-webkit-border-top-right-radius: 3px !important;
-moz-border-radius-topleft: 3px !important;
-moz-border-radius-topright: 3px !important;
border-top-left-radius: 3px !important;
border-top-right-radius: 3px !important; border:1px solid #ffffff !important; box-shadow:0 0 0 0px #CCCCCC inset !important;}
.main-navigation li{background:none !important;}
.main-navigation li ul{background:none !important; border:none !important;}
.hfeed.site {
    float: left;
    width: 100%;
}
.wrapper {
    float: left;
    width: 100%;
}

header#masthead .nav-inner {
    float: left;
    padding: 0 !important;
    width: 100%;
}
.menu-main-container{
    float: left;
    padding: 0 !important;
    width: 100%;
}
.menu-main-container ul{
    float: left;
    padding: 0 !important;
    width: 100%;
}
.main-navigation div.nav-inner > div ul li a {
    font-size: 15px;
    height: auto !important;
    left: 0;
    margin-left: 0 !important;
    padding: 15px 0 16px 15px !important;
    position: absolute;
    top: 0;
    width: 95% !important;
}
.main-navigation div.nav-inner > div ul li{
    border-bottom:none !important;
    border-top:1px solid #2D4058;
    float:left;
}
.main-navigation li ul {
    background: none repeat scroll 0 0 #654588 !important;
    border: medium none !important;
    float: left;
}
div.footer-inner-bottom {
    background-color: #242424 !important;
    clear: none !important;
    color: rgba(225, 225, 225, 0.8) !important;
    font-size: 13px !important;
    padding: 30px 0 !important;
}
div.footer-inner div#footer-links{
    display:none;
}
.main-navigation li ul{border:none !important;}
#buddypress ul.item-list li div.action {
    float: left;
    margin: 0 9px 0 0px !important;
    position: absolute;
    right: 0;
    text-align: right;
    top: 15px;
    width: 34%;
}
#role-admin .wrapper {
    float: left;
    margin: 0% !important;
    width: 100% !important;
}
#post-2969 .entry-header {
    float: left;
    margin-bottom: 15px;
    padding: 10px !important;
    width: 96% !important;
}
#post-2969 .entry-content, .entry-summary, .mu_register {
    float: left;
    font-size: 14px;
    padding: 10px !important;
    width: 96% !important;
}
#post-2969 .entry-content img {
    float: left;
    max-width: 100% !important;
    width: 100% !important;
}
#post-20 .entry-header {
    float: left;
    margin-bottom: 15px;
    padding: 10px !important;
    width: 93% !important;
}

#post-20 .entry-content, .entry-summary, .mu_register {
    float: left;
    font-size: 14px;
    padding: 10px !important;
    width: 92% !important;
}
#role-admin #page #content article {
    float: left !important;
    margin: 0px 0 0 !important;
    width: 100% !important;
    border:none !important;
    padding:0px !important;
}
.entry-header {
    float: left;
    margin-bottom: 0 !important;
    padding: 0 0 0 1% !important;
    width: 99% !important;
}
.post-4146 .entry-content, .entry-summary, ..entry-summary.entry-summary-thumbnail {
    float: none;
    font-size: 14px;
    padding: 10px !important;
    width: auto !important;
}
#secondary{float:left; margin:0px !important; width:100% !important;}
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
    float: left !important;
    width: 28% !important;
}

.entry-content ul, .comment-content ul, .mu_register ul {
    float: left;
    list-style: disc outside none;
    width: 100% !important;
}
.entry-content ol, .comment-content ol {
    float: left;
    list-style: decimal outside none;
    width: 100% !important;
}
#buddypress {
    float: left;
    position: relative;
    width: 100% !important;
}

#buddypress div#subnav.item-list-tabs, #buddypress .dir-form div.item-list-tabs, .bp-legacy div#item-body div.item-list-tabs {
    background: linear-gradient(to bottom, rgba(111, 80, 146, 0.9) 0%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    margin: 15px 0 10px !important;
    padding: 0 !important;
    width: 97% !important;
}

body.has-activity #buddypress div.item-list-tabs ul li#activity-filter-select, body.has-activity #buddypress div.item-list-tabs ul li.filter {
    height: 27px !important;
    width: 95%;
    margin:0px !important;
    padding:0px !important;
}
#buddypress div.item-list-tabs ul li, #buddypress div#group-create-tabs ul li{margin:0px !important;}
#buddypress div.item-list-tabs ul li#activity-filter-select select, #buddypress div.item-list-tabs ul li.filter select, #buddypress div.whats-new-select ul li#activity-filter-select select, #buddypress div.whats-new-select ul li.filter select {
    border: 1px solid #EEEEEE;
    cursor: pointer;
    height: 30px;
    left: 0;
    margin: 0 !important;
    opacity: 0;
    padding: 0 0 0 10px !important;
    position: absolute;
    top: 0;
    width: 100%;
}
#buddypress div#filter.item-list-tabs, #buddypress div#filter.whats-new-select {
    background: none repeat scroll 0 0 #F6F7F8;
    border: 1px solid #999999;
    border-radius: 3px;
    clear: left;
    float: left;
    height: 35px;
    margin: 0 0 15px;
    padding: 0;
    width: 99% !important;
}
.header-inner, .nav-inner, .site, .footer-inner{
    float:left;
    width:100% !important;
    padding:0px !important;
    margin:0% !important;
}

.hfeed.site {
    float: left;
    margin: 0 1% !important;
    width: 98% !important;
}
body.buddypress:not(.bp-user):not(.single-item):not(.activity) #content, body:not(.buddypress) #content article, body.buddypress #content article.error404, .site-content nav.nav-single, .site-content #comments, .bp-legacy div#item-body{border:none !important;}

.entry-content, .entry-summary, .mu_register {
    float: left;
    font-size: 14px;
    padding: 1% !important;
    width:98% !important;
}
.entry-content ul, .comment-content ul, .mu_register ul {
    float: left;
    list-style: disc outside none;
    margin: 10px 0 !important;
    width: 100% !important;
}
#buddypress div#filter.item-list-tabs ul, #buddypress div#filter.whats-new-select ul {
    float: left;
    list-style: disc outside none;
    margin: 0px 0 !important;
    width: 100% !important;
}

.entry-content ul, .comment-content ul, .mu_register ul {
    float: left;
    list-style: disc outside none;
    margin: 10px 0 !important;
    width: 100% !important;
}

#buddypress div#filter.item-list-tabs, #buddypress div#filter.whats-new-select {
    background: none repeat scroll 0 0 #F6F7F8;
    border: 1px solid #999999;
    border-radius: 3px;
    clear: left;
    float: left;
    height: 35px;
    margin: 0 0 15px;
    padding: 0;
    width: 97% !important;
}
 .oneall_social_login_providers {
    left: 0 !important;
    margin: 0 auto;
    position: relative;
    width: 46% !important;
}
  div#register-page p.top_line {
    color: #000000;
    font-size: 20px !important;
    font-weight: bold;
    margin: 0;
    max-width: 100% !important;
    padding: 0;
}
  div#register-page p.top_line a {
    color: #800080;
    font-size: 25px !important;
    margin: 0;
}
  
div#register-page p.bottom_line {
    color: #000000;
    font-size: 18px !important;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    max-width: 100% !important;
    padding: 12px 0 0;
}
  body{overflow-x:hidden;}
div.footer-inner-bottom {
    background-color: #242424 !important;
    clear: none !important;
    color: rgba(225, 225, 225, 0.8) !important;
    font-size: 13px !important;
    padding: 10px 0 !important;
}
  
.login_logo {
    float: left;
    margin: 0;
    padding: 0;
    width: 100% !important;
}
  .logon_form {
    float: left;
    margin: 20px 0 0 !important;
    padding: 0;
    width: 100% !important;
}
  .login_logo a img {
    float: left;
    margin: 0 29% !important;
    padding: 0;
    width: auto;
}
  .logon_form h2 {
    font-size: 13px !important;
    font-weight: bold;
}
  .logon_form form p input {
    float: left;
    padding: 0 0 0 10px !important;
    width: 90% !important;
}
  .login_section_left {
    float: left;
    margin: 20px 0 0 1% !important;
    padding: 0;
    width: 99% !important;
}
  .login_section_right {
    float: left;
    margin: 0;
    padding: 0 1% !important;
    width: 98% !important;
}
  .login_section_left h4 {
    color: #555555;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px !important;
    text-align: center;
    width: 90%;
}
  
#footer-credits p {
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px !important;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-align: center !important;
    width: 100%;
}
  .footer_social ul {
    float: left;
    margin: 10px 0 0 !important;
    width: 78% !important;
}
}
@media (max-width:480px) {
.dcwss.dc-wall.col-4 .stream li {
    float: left !important;
    width: 50% !important;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0 2% 2.992em 0 !important;
    width: 48% !important;
}
.dcwss.dc-wall.col-4 .stream li {
    float: left !important;
    margin: 0 2% 2% 0 !important;
    width: 47% !important;
}
.oneall_social_login_providers {
    left: 0 !important;
    margin: 0 auto;
    position: relative;
    width: 51% !important;
}
  .login_logo a img {
    float: left;
    margin: 0 25% !important;
    padding: 0;
    width: auto;
}
  .logon_form h2 {
    font-size: 14px !important;
    font-weight: bold;
    text-align: center;
}
  
.logon_form form {
    float: left;
    margin: 0 0 0 1% !important;
    padding: 0;
    width: 99% !important;
}
  
.login_section h2 {
    color: #3B1555;
    float: left;
    font-size: 24px !important;;
    width: 100%;
}
  .login_section_left h4 {
    color: #555555;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px !important;
    text-align: center;
    width: 100% !important;
}
  .footer_social ul {
    float: left;
    margin: 10px 0 0 !important;
    width: 83% !important;
}
}
@media (max-width:320px) {
.dcwss.dc-wall.col-4 .stream li {
    float: left !important;
    width: 100% !important;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0 2% 2.992em  !important;
    width: 96% !important;
}
.entry-post-thumbnail{float:left !important; width:100% !important;}
.entry-post-thumbnail img{float:left; width:100% !important; max-width:100% !important; height:300px !important;}
.dcwss.dc-wall.col-4 .stream li {
    float: left !important;
    margin: 0 2% 2% !important;
    width: 94% !important;
}
  
#main-wrap #mobile-header .mobile-header-inner div.right-btn, #main-wrap #mobile-header .mobile-header-inner div.right-btn a {
    width: 35px !important;
}
  
#main-wrap #mobile-header .mobile-header-inner div.left-btn, #main-wrap #mobile-header .mobile-header-inner div.left-btn a {
    width: 35px !important;
}
.main-navigation{float:left; width:58% !important;}
.main-navigation div.nav-inner > div ul li a{width:85% !important;}

body.has-activity #buddypress div.item-list-tabs ul, body.has-activity #buddypress div.item-list-tabs ul li {
    margin: 5px 1px !important;
}

#buddypress ul#activity-stream li.activity-item div.activity-meta a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    color: #9D9EA3;
    float: left;
    font: bold 13px/20px Arial,Tahoma,Verdana,sans-serif;
    margin: 10px 0px 10px 5px;
    padding: 8px 33px !important;
    text-shadow: none;
    width: auto;
}
.footer_social ul {
    float: left;
    width: 100% !important;
}

.footer_social ul li {
    float: left;
    margin: 0 11px 0 0 !important;
}
#buddypress ul.item-list li div.action {
    float: left;
    margin: 0 9px 0 22% !important;
    position: relative;
    right: 0;
    text-align: right;
    top: 15px;
    width: 70% !important;
}
#role-admin .wrapper {
    float: left;
    margin: 0 0% !important;
    width: 100% !important;
}
#post-2969 .entry-header {
    float: left;
    margin-bottom: 15px;
    padding: 10px !important;
    width: 93% !important;
}

#post-2969 .entry-content, .entry-summary, .mu_register {
    float: left;
    font-size: 14px;
    padding: 10px !important;
    width: 92% !important;
}

#post-20 .entry-header {
    float: left;
    margin-bottom: 15px;
    padding: 10px !important;
    width: 93% !important;
}

#post-20 .entry-content, .entry-summary, .mu_register {
    float: left;
    font-size: 14px;
    padding: 10px !important;
    width: 92% !important;
}
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
    float: left !important;
    width: 100% !important;
}
.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {
    float: left !important;
    margin: 0 !important;
    padding: 0 1% !important;
    width: 98% !important;
}
.entry-content img {
    float: left;
    max-width: 100% !important;
    width: 100% !important;
}
.entry-content ul, .comment-content ul, .mu_register ul {
    float: left;
    list-style: disc outside none;
    width: 100% !important;
}
.entry-content ol, .comment-content ol {
    float: left;
    list-style: decimal outside none;
    width: 100% !important;
}
.dcwss.dc-wall .stream li .icon {
    border-radius: 0;
    bottom: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
    float: left;
    left: 3px;
    margin: 0 !important;
    position: absolute;
    width: auto !important;
    z-index: 3;
}
.entry-content, .entry-summary, .mu_register {
    float: left;
    font-size: 14px;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.js #buddypress {
    float: left;
    width: 100%;
}
#item-header-avatar{
    float: left;
    width: 100%;
}
#buddypress #item-header-avatar img{float:left; width:96% !important; max-width:96% !important; margin:0px !important; position:relative !important;}
body.bp-user #buddypress #item-header-content, body.single-item.groups #buddypress #item-header-content {
    float: left;
    margin:10px 0px 0 !important;
    max-width: 100% !important;
}
 
#buddypress .activity-list .activity-content .activity-inner img {
    box-shadow: none;
    height: auto;
    max-width: 50% !important;
    width: auto !important;
}
.entry-content, .entry-summary, .mu_register {
    float: left;
    font-size: 14px;
    padding: 1% !important;
width:97% !important;
}
#buddypress ul#groups-list div.action, #buddypress ul#blogs-list div.action {
    clear: both;
    float: left;
    margin: 0 !important;
    text-align: left;
    width: 100% !important;
}
#buddypress img.wp-smiley {
    border: medium none !important;
    clear: none !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
}
#bbpress-forums li.bbp-forum-freshness img.avatar, #bbpress-forums li.bbp-topic-freshness img.avatar {
    box-shadow: none;
    float: left;
    margin-right: 7px;
    width: auto !important;
}
.bbp-forum-content p img{width:auto !important; margin:0px; padding:0px; float:left;}
  .oneall_social_login_providers {
    left: 0 !important;
    margin: 0 auto;
    position: relative;
    width: 60% !important;
}
  .widget-area .widget {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    float: left;
    padding: 20px 10px !important;
    width: 94% !important;
}

#buddypress .activity-list .activity-content .activity-inner img {
    box-shadow: none;
    height: auto;
    max-width: 100% !important;
    width: auto !important;
}
  .login_logo a img {
    float: left;
    margin: 0 12% !important;
    padding: 0;
    width: auto;
}
  .logon_form h2 {
    font-size: 12px !important;
    font-weight: bold;
    text-align: center;
}
  .logon_form form p {
    float: left;
    margin: 14px 0 0 2% !important;
    padding: 0;
    width: 98% !important;
}
  
.logon_form form p.sign {
    float: left;
    margin: 28px 0 0 2% !important;
    padding: 0;
    width: auto !important;
}
  .logon_form form p.sign input.submit_button {
    background: none repeat scroll 0 0 #3B1555;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    height: auto;
    margin: 0 !important;
    padding: 5px 35px !important;
    width: auto;
}
  .login_section h2 {
    color: #3B1555;
    float: left;
    font-size: 17px !important;
    width: 100%;
}
  .pets_ima_inner {
    float: left !important;
    margin: 0 1% 1.3% 0px !important;
    padding: 0;
    width: 49% !important;
}
  .pets_ima_inner img {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height:130px;
}
  .login_section_left h4 {
    color: #555555;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px !important;
    text-align: center;
    width: 100% !important;
}
  ._ohe {
    float: left;
    margin: 0 !important;
    width: 100% !important;
}
  ._ohf {
    float: right;
    margin: 30px 0 0 !important;
    width: 100% !important;
}
  ._58mh ._58mg {
    width: 96% !important;
}
 #footer-credits p {
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px !important;
    line-height: 24px;
    margin: 0;
    padding: 0;
    width: 100%;
}
  .logon_form form p.sign input.submit_button {
    background: none repeat scroll 0 0 #300948 !important;
    border: medium none;
    border-radius: 5px;
    float: left;
    margin: 0 0 0 25% !important;
    padding: 7px 50px !important;
}
}