/*--------------------------------------------------------------
This is the bbPress stylesheet.
Only loads if the bbPress plugin is activated.
Used in standalone forums as well as BuddyPress group forums.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Forums
2.0 - Breadcrumb and tags
3.0 - Admin links
4.0 - Toggles
5.0 - Pagination
6.0 - Forms
7.0 - TinyMCE in themes
8.0 - Edit user
9.0 - Notices
10.0 - Stickies
11.0 - Revisions
12.0 - Login widget
13.0 - Avatars
14.0 - BuddyPress activity streams
15.0 - User pages
16.0 - User capabilities
17.0 - BuddyPress group forums
18.0 - Search results
19.0 - Responsive media queries (mobile styles)
	19.1 - MAXIMUM width of 720 pixels (phones landscape)
	19.2 - MAXIMUM width of 480 pixels and MINIMUM width of 380 pixels (phones)
	19.3 - MAXIMUM width of 380 pixels (phones portrait)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Forums
--------------------------------------------------------------*/

#bbpress-forums hr {
	margin: 0 0 24px 0;
}

#bbpress-forums {
	background: transparent;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
	font-size: 12px;
}

#bbpress-forums div.bbp-search-form {
	float: right;
	margin-bottom: 10px;
}
label.screen-reader-text{
	position: relative !important;
}
#bbp-search-index-form label.screen-reader-text{
	position: relative !important;
}

#bbpress-forums div.even,
#bbpress-forums ul.even {
	background-color: #fff;
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd {
	background-color: #f9f9f9;
}

#bbpress-forums div.reply {
	height: auto;
}

#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header,
#bbpress-forums .bbp-forum-header {
	background-color: #f4f4f4;
}

#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {
	background-color: #fee;
}
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {
	background-color: #fdd;
}

#bbpress-forums ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#bbpress-forums li {
	margin: 0;
	list-style: none;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies {
	font-size: 12px;
	overflow: hidden;
	margin-bottom: 20px;
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
	border-top: 1px solid #ddd;
	font-weight: bold;
	padding: 8px 12px;
	text-align: center;
	background: #F3F7FA;
}
#bbpress-forums li.bbp-footer {
	display: none;
}

#bbpress-forums li.bbp-header ul {
	overflow: hidden;
}

#bbpress-forums .bbp-forums-list {
	margin: 4px 0 4px 5px;
	padding-left: 15px;
	border-left: 1px solid #ddd;
}

#bbpress-forums .bbp-forums-list li {
	display: inline;
	font-size: 11px;
}

#bbpress-forums li.bbp-footer p {
	margin: 0;
	line-height: 1em;
}

#bbpress-forums .bbp-topic-content img,
#bbpress-forums .bbp-reply-content img {
	max-width: 100%;
}

#bbpress-forums .bbp-topic-content ul,
#bbpress-forums .bbp-reply-content ul,
#bbpress-forums .bbp-topic-content ol,
#bbpress-forums .bbp-reply-content ol {
	padding-left: 25px;
}
#bbpress-forums .bbp-topic-content ul li,
#bbpress-forums .bbp-reply-content ul li {
	list-style-type: disc;
}
#bbpress-forums .bbp-topic-content ol li,
#bbpress-forums .bbp-reply-content ol li {
	list-style-type: decimal;
}

#bbpress-forums .bbp-forum-content p {
	margin: 5px 0 0;
	font-style: italic;
}

li.bbp-forum-info,
li.bbp-topic-title {
	float: left;
	text-align: left;
	width: 48%;
}
li.bbp-forum-info a.bbp-forum-title,
li.bbp-topic-title a.bbp-topic-permalink {
	font-weight: bold;
	font-size: 15px;
	line-height: 1.3;
	font-family: Tahoma,Verdana,Arial,sans-serif;
}
li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
	float: left;
	text-align: left;
	width: 10%;
}

li.bbp-body li.bbp-forum-topic-count,
li.bbp-body li.bbp-topic-voice-count,
li.bbp-body li.bbp-forum-reply-count,
li.bbp-body li.bbp-topic-reply-count {
	font-size: 13px;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness {
	text-align: left;
	float: left;
	width: 32%;
}

.bbp-topic-freshness-author {
	font-weight: bold;
	font-size: 12px;
}
.bbp-topic-freshness-link a {
	color: #999;
	font-size: 11px;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	border-top: 1px solid #ddd;
	overflow: hidden;
	padding: 8px 12px;
}

/* Forums */

#bbpress-forums li.bbp-body ul.forum div.bbp-forum-info-content {
	background-image: url('../images/forum.gif');
	background-repeat: no-repeat;
	background-position: 6px top;
	padding-left: 58px;
	padding-right: 20px;
	min-height: 32px;
}
#bbpress-forums li.bbp-body ul.bbp-forum-visibility-private div.bbp-forum-info-content {
	background-image: url('../images/forum-private.gif');
}
#bbpress-forums li.bbp-body ul.bbp-forum-visibility-hidden div.bbp-forum-info-content {
	background-image: url('../images/forum-hidden.gif');
}
#bbpress-forums li.bbp-body ul.bbp-forum-status-closed div.bbp-forum-info-content {
	background-image: url('../images/forum-closed.gif');
}
	#bbpress-forums li.bbp-body ul.bbp-forum-status-closed a {
		color: #bbb;
	}

/* Topics */

#bbpress-forums li.bbp-body ul.topic div.bbp-topic-title-content {
	background-image: url('../images/forum-topic.gif');
	background-repeat: no-repeat;
	background-position: 9px top;
	padding-left: 54px;
	padding-right: 35px;
	min-height: 32px;
	word-wrap: break-word;
}
#bbpress-forums li.bbp-body ul.status-closed div.bbp-topic-title-content {
	background-image: url('../images/forum-topic-closed.gif');
}
	#bbpress-forums li.bbp-body ul.status-closed a {
		color: #bbb;
	}
#bbpress-forums li.bbp-body ul.topic div.bbp-topic-title-content p:last-child {
	margin-bottom: 0;
}


li.bbp-header div.bbp-topic-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
	float: right;
}

#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
	float: left;
	text-align: center;
	width: 115px;
}

#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
	max-width: 50px;
	height: auto;
	padding: 0;
	margin: 12px auto 0 auto;
	float: none;
}

#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	clear: both;
    line-height: 1.5;
    margin: 0 5px 2px;
    text-align: center;
    word-wrap: break-word;
}

#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
	font-size: 11px;
	font-style: italic;
}

#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
	margin-left: 140px;
	padding: 12px 12px 12px 0;
	text-align: left;
}

#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
}

#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
	margin-left: 140px;
	padding: 0;
	text-align: left;
}

div.bbp-topic-header,
div.bbp-reply-header,
div.bbp-forum-header,
li.bbp-body div.hentry {
	margin-bottom: 0;
	overflow: hidden;
	padding: 8px 12px;
}

div.bbp-topic-header,
div.bbp-reply-header,
div.bbp-forum-header {
	border-top: 1px solid #ddd;
	clear: both;
}

span.bbp-author-ip {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aaa;
}


/*--------------------------------------------------------------
2.0 - Breadcrumb and tags
--------------------------------------------------------------*/

div.bbp-breadcrumb {
	float: left;
	font-size: 16px;
  	font-weight: bold;
  	font-family: Tahoma,Verdana,Arial,sans-serif;
}
div.bbp-topic-tags {
	font-size: 12px;
	float: right;
	margin-top: 4px;
}

#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
	margin-bottom: 10px
}


/*--------------------------------------------------------------
3.0 - Admin links
--------------------------------------------------------------*/

span.bbp-admin-links {
	float: right;
	color: #ddd;
}
span.bbp-admin-links a {
	color: #aaa;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}
span.bbp-admin-links a:hover {
	color: #555;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}
td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}

.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink,
.bbp-forum-header a.bbp-forum-permalink {
	float: right;
	margin-left: 10px;
	color: #ccc;
}


/*--------------------------------------------------------------
4.0 - Toggles
--------------------------------------------------------------*/

.bbp-topic-action #favorite-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-topic-action #favorite-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-topic-action #favorite-toggle span.is-favorite a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-topic-action #favorite-toggle span.is-favorite a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

.bbp-topic-action #subscription-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-topic-action #subscription-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-topic-action #subscription-toggle span.is-subscribed a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-topic-action #subscription-toggle span.is-subscribed a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

#bbpress-forums li.bbp-forum-freshness img.avatar,
#bbpress-forums li.bbp-topic-freshness img.avatar {
	float: left;
	margin-right: 7px;
	box-shadow: none;
}
#bbpress-forums li.bbp-forum-freshness p.bbp-topic-meta,
#bbpress-forums li.bbp-topic-freshness p.bbp-topic-meta {
	line-height: 1.6;
	margin: 0;
	float: left;
	width: 70%;
}
#bbpress-forums .bbp-forum-title-content p.bbp-topic-meta,
#bbpress-forums .bbp-topic-title-content p.bbp-topic-meta {
	margin: 5px 0 0;
}
#bbpress-forums li.bbp-body ul.topic div.bbp-topic-title-content p.bbp-topic-meta {
	margin: 0;
}


/*--------------------------------------------------------------
5.0 - Pagination
--------------------------------------------------------------*/

.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.bbp-pagination-count {
	float: left;
}
.bbp-pagination-links {
	float: right;
	font-size: 11px;
    line-height: 13px;
}
.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
	}
	.bbp-topic-pagination a {
		font-size: 10px;
		line-height: 10px;
		padding: 1px 3px;
		border: 1px solid #ddd;
		text-decoration: none;
	}


/*--------------------------------------------------------------
6.0 - Forms
--------------------------------------------------------------*/

#bbpress-forums fieldset.bbp-form {
	clear: left;
	border: none;
}

#bbpress-forums fieldset.bbp-form legend {
	padding: 0 0 12px;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	word-break: break-all;
}

#bbpress-forums fieldset.bbp-form label {
	margin: 0;
	display: inline-block;
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
	width: 100px;
}

#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
	margin: 0 0 8px;
	font-size: inherit;
}

textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
	width: 97%;
	box-sizing: border-box;
}

textarea#bbp_forum_content {
	height: 210px;
}

#bbpress-forums fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}

#bbpress-forums fieldset select#bbp_forum_id {
	max-width: 200px; /* Fix for too-long forum names, usually from conversion */
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
	background-color: #F3F7FA;
	border: 1px solid #D3D6DB;
	padding: 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
}
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 0;
	background-color: #efefef;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	font-size: 11px;
	background-color: #f6f7f8;
	border: 1px solid #e4e4e4;
	display: block;
	padding: 8px;
	margin-top: 5px;
	max-width: 369px;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
}

#merge_tag,
#delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

p.form-allowed-tags {
	width: 462px;
}


/*--------------------------------------------------------------
7.0 - TinyMCE in themes
--------------------------------------------------------------*/

#bbpress-forums div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
	font-size: 12px;
}

#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper input {
	font-size: 12px;
	padding: 5px;
	margin: 3px 0 0;
	line-height: 1em;
	margin: 0;
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 5px;
	min-height: 26px;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}

#bbpress-forums div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
	background-color: #fff;
}

#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}


/*--------------------------------------------------------------
8.0 - Edit user
--------------------------------------------------------------*/

#bbpress-forums #bbp-your-profile fieldset {
	padding: 20px 20px 0 20px;
}
	#bbpress-forums #bbp-your-profile fieldset div {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		clear: left;
	}
	#bbpress-forums #bbp-your-profile fieldset select {
		margin-bottom: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input,
	#bbpress-forums #bbp-your-profile fieldset textarea {
		margin-bottom: 0;
		width: 60%;
		background: #f9f9f9;
		border: 1px solid #ddd;
		box-shadow: none;
		padding: 5px 8px;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input:focus,
	#bbpress-forums #bbp-your-profile fieldset textarea:focus {
		border: 1px solid #ccc;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		outline-color: rgba(240,255,240,0.1);
	}
	#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
		width: auto;
	}
	#bbpress-forums #bbp-your-profile fieldset legend {
		display: none;
	}
	#bbpress-forums #bbp-your-profile fieldset label[for] {
		float: left;
		width: 20%;
		padding: 5px 20px 5px 0;
		text-align: right;
		cursor: pointer;
	}
	#bbpress-forums #bbp-your-profile fieldset dl label[for] {
		text-align: left;
		width: 60%;
	}
	#bbpress-forums #bbp-your-profile fieldset span.description {
		margin: 5px 0 0 20%;
		font-size: 12px;
		font-style: italic;
		float: left;
		clear: left;
		width: 60%;
		padding: 5px 8px;
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}

	#bbpress-forums #bbp-your-profile fieldset fieldset {
		margin: 0;
		border: none;
		padding: 0;
		clear: none;
		float: none;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password {
		width: 60%;
		display: inline;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
		width: 100%;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
		margin: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
		margin-left: 0;
		margin-bottom: 20px;
	}

	#bbpress-forums #bbp-your-profile fieldset.submit button {
		float: right;
	}


/*--------------------------------------------------------------
9.0 - Notices
--------------------------------------------------------------*/

div.bbp-template-notice,
div.indicator-hint {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 0 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	background-color: #faf6e4;
	border-color: #E4DFC6;
	color: #555555;
	clear: both;
}
div.bbp-template-notice a {
	color: #555;
	text-decoration: none;
}
	div.bbp-template-notice a:hover {
		color: #000;
	}
	div.bbp-template-notice.info {
		border: 1px solid #cee1ef;
		background-color: #F3F7FA;
	}
	div.bbp-template-notice.important {
		border: #e6db55 1px solid;
		background-color: #fffbcc;
	}
	div.bbp-template-notice.error,
	div.bbp-template-notice.warning {
		background-color: #ffebe8;
		border-color: #c00;
	}
	div.bbp-template-notice.error a,
	div.bbp-template-notice.warning a {
		color: #c00;
	}
	div.bbp-template-notice p {
		margin: 0.5em 0 6px 0 !important;
		padding: 2px;
		font-size: 12px;
		line-height: 140%;
	}


/*--------------------------------------------------------------
10.0 - Stickies
--------------------------------------------------------------*/

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	background-color: #fef8f0 !important;
}
.bbp-topics-front ul.super-sticky div.bbp-topic-title-content,
.bbp-topics ul.super-sticky div.bbp-topic-title-content,
.bbp-topics ul.sticky div.bbp-topic-title-content,
.bbp-forum-content ul.sticky {
	background-image: url("../images/forum-topic-sticky.gif") !important;
}


/*--------------------------------------------------------------
11.0 - Revisions
--------------------------------------------------------------*/

#bbpress-forums .bbp-topic-revision-log,
#bbpress-forums .bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 11px;
	color: #aaa;
}


/*--------------------------------------------------------------
12.0 - Login widget
--------------------------------------------------------------*/

.bbp-login-form fieldset legend {
	display: none;
}
.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
	padding: 5px;
}
.bbp-login-form label {
	width: 140px;
	display: inline-block;
}
#sidebar .bbp-login-form label {
	width: 70px;
}
.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}
.bbp-login-form .bbp-remember-me {

}
.bbp-login-form .bbp-submit-wrapper {
	text-align: right;
}
.bbp-login-form .bbp-login-links {
}
.bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}
.bbp-logged-in {
	overflow: hidden;
	min-height: 40px;
	position: relative;
}
.bbp-logged-in img.avatar {
	position: absolute;
	left: 0;
	top: 0;
}
.bbp-logged-in h4,
.bbp-logged-in a.button {
	float: left;
	word-wrap: break-word;
	margin-left: 57px;
	margin-bottom: 0;
	padding-bottom: 5px;
}
.bbp-logged-in h4 {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.3;
	clear: none;
	width: 55%;
}
.bbp-logged-in a.button {
	clear: left;
	width: 40%;
}


/*--------------------------------------------------------------
13.0 - Avatars
--------------------------------------------------------------*/

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar,
#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums .bbp-topic-started-by img.avatar {
	float: none;
	margin-bottom: -4px;
	border: 1px solid #ccc;
	box-shadow: none;
}

fieldset div.avatar {
	float: right;
}


/*--------------------------------------------------------------
14.0 - BuddyPress activity streams
--------------------------------------------------------------*/

.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left: 2px solid #eaeaea;
	margin-left: 5px;
	padding-left: 10px;
}


/*--------------------------------------------------------------
15.0 - User pages
--------------------------------------------------------------*/

#bbpress-forums h1 {
	clear: none;
	font-size: 1.8em;
	line-height: 1em;
	padding-bottom: 10px;
}

#bbpress-forums #bbp-user-wrapper {
	float: left;
	width: 100%;
}

#bbpress-forums #bbp-user-wrapper h2.entry-title {
	font-size: 1.4em;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 0;
	clear: none;
}

#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies,
#bbpress-forums #bbp-user-wrapper fieldset.bbp-form {
	clear: none;
}

#bbpress-forums #bbp-single-user-details {
	margin: 0;
	width: 150px;
	float: left;
	overflow: hidden;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
	margin: 0;
	width: 150px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
	border: none;
	height: 150px;
	padding: 0;
	margin: 0 0 20px 0;
	width: 150px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-description {
	float: none;
	margin-left: 180px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
	float: none;
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
	padding: 5px 8px;
	display: block;
	border: 1px solid transparent;
	text-decoration: none;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	background: #eee;
	opacity: 0.8;
}

#bbpress-forums #bbp-user-body {
	margin-left: 180px;
}

body.my-account #bbpress-forums {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}


/*--------------------------------------------------------------
16.0 - User capabilities
--------------------------------------------------------------*/

#bbpress-forums dl.bbp-user-capabilities {
	display: inline-block;
	vertical-align: top;
}

#bbpress-forums dl.bbp-user-capabilities dt {
	margin: 0 0 10px;
	text-transform: capitalize;
}

#bbpress-forums dl.bbp-user-capabilities dd {
	margin: 0;
	padding: 0;
}


/*--------------------------------------------------------------
17.0 - BuddyPress group forums
--------------------------------------------------------------*/

#bbpress-forums div.row-actions {
	font-size: 11px;
	visibility: hidden;
}

#bbpress-forums li:hover > div.row-actions {
	visibility: visible;
}


/*--------------------------------------------------------------
18.0 - Search results
--------------------------------------------------------------*/

#bbp-search-results .bbp-forum-title h3,
#bbp-search-results .bbp-reply-title h3,
#bbp-search-results .bbp-topic-title h3 {
  font-size: 15px;
  margin: 3px 0 0;
}
#bbp-search-results .bbp-forum-title .bbp-forum-title-meta,
#bbp-search-results .bbp-reply-title .bbp-reply-title-meta,
#bbp-search-results .bbp-topic-title .bbp-topic-title-meta,
#bbp-search-results .bbp-search-author {
	display: none;
}
body.bbp-search #bbp-search-index-form {
	clear: left;
}
#bbpress-forums ul#bbp-search-results {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	clear: left;
}


/*--------------------------------------------------------------
19.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
19.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/

@media screen and (max-width: 720px) {
	
	p.form-allowed-tags,
	div.bbp-submit-wrapper {
		width:100%;
	}
	.bbp-topic-form, .bbp-reply-form, .bbp-topic-tag-form {
		overflow:hidden;
	}
	.bbp-topic-form, .bbp-reply-form, .bbp-topic-tag-form {
		padding:20px 3%;
	}

	#bbpress-forums li.bbp-body ul.topic div.bbp-topic-title-content,
	#bbpress-forums li.bbp-body ul.forum div.bbp-forum-info-content {
		padding-left:0;
		padding-right:10px;
		background-image:none !important;
	}
	#bbpress-forums .bbp-forums-list {
		margin-bottom: 15px;
	}
	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-footer {
		display: none;
	}
	li.bbp-forum-info,
	li.bbp-topic-title,
	li.bbp-forum-freshness,
	li.bbp-topic-freshness {
		width: 100% !important;
	}
	li.bbp-forum-topic-count,
	li.bbp-topic-voice-count,
	li.bbp-forum-reply-count,
	li.bbp-topic-reply-count,
	li.bbp-forum-topic-count,
	li.bbp-topic-voice-count,
	li.bbp-forum-reply-count,
	li.bbp-topic-reply-count {
		display: none;
	}
	li.bbp-forum-info a.bbp-forum-title,
	li.bbp-topic-title a.bbp-topic-permalink {
		font-family: "Helvetica Neue",Arial,sans-serif;
		line-height: 110%;
	}
	#bbpress-forums li.bbp-forum-freshness p.bbp-topic-meta,
	#bbpress-forums li.bbp-topic-freshness p.bbp-topic-meta {

	}
	.bbp-forum-content {
		font-size: 14px;;
		margin-bottom: 10px;
	}

	div.bbp-template-notice,
	div.indicator-hint {
		padding: 0 2%;
	}
	div.bbp-template-notice{
		width:95%;
	}
	#bbpress-forums div.bbp-search-form input[type=text],
	#bbpress-forums form#bbp-search-index-form input[type=text] {
		float:left;
		-moz-box-shadow:    inset 0 0 2px 2px #f7f7f7;
		-webkit-box-shadow: inset 0 0 2px 2px #f7f7f7;
		box-shadow:         inset 0 0 2px 2px #f7f7f7;
		border:1px solid #bbb !important;
		line-height:24px;
		font-size:14px;
		padding:6px 2% 6px 3% !important;
		width:95%;
		position:relative;
		color:#000;
		-webkit-appearance: none;
		-moz-border-radius: 3px !important;
		-webkit-border-radius: 3px !important;
		border-radius: 3px !important;
	}
	#bbpress-forums div.bbp-search-form a#clear-input,
	#bbpress-forums form#bbp-search-index-form a#clear-input {
		width: 25px;
		height: 25px;
		display: block;
		position: absolute;
		right: 8px;
		top: 8px;
		padding: 0;
		background: url('../images/search-erase-icon.png') no-repeat;
	}
	#bbpress-forums div.bbp-search-form input[type=submit],
	#bbpress-forums form#bbp-search-index-form input[type=submit] {
		display:none;
	}
	#bbpress-forums div.bbp-search-form,
	#bbpress-forums form#bbp-search-index-form {
		float: left;
		clear: both;
		width: 98%;
		position: relative;
	}
	div.bbp-breadcrumb {
		clear: both;
		float: none;
	}
	
	#bbpress-forums li.bbp-header .bbp-topic-author,
	#bbpress-forums li.bbp-footer .bbp-topic-author,
	#bbpress-forums li.bbp-header .bbp-reply-author,
	#bbpress-forums li.bbp-footer .bbp-reply-author,
	li.bbp-body .bb-reply-author {
		width: 100%;
	}
	#bbpress-forums div.bbp-topic-author,
	#bbpress-forums div.bbp-reply-author {
		float: left;
		position: relative;
		margin: 0 0 8px;
	}
	#bbpress-forums div.bbp-topic-author img.avatar,
	#bbpress-forums div.bbp-reply-author img.avatar {
		float: left;
		display: block;
	}
	#bbpress-forums li.bbp-header .bbp-topic-content,
	#bbpress-forums li.bbp-footer .bbp-topic-content,
	#bbpress-forums li.bbp-header .bbp-reply-content,
	#bbpress-forums li.bbp-footer .bbp-reply-content,
	#bbpress-forums div.bbp-topic-content,
	#bbpress-forums div.bbp-reply-content,
	#bbpress-forums li.bbp-header div.bbp-search-content {
		clear: left;
		margin: 0;
		padding: 12px 12px 0 0;
		font-size: 15px;
	}
	#bbpress-forums div.bbp-topic-author a.bbp-author-name,
	#bbpress-forums div.bbp-reply-author a.bbp-author-name {
		position: absolute;
		font-weight: bold;
		left: 65px;
		top: 18px;
		min-width: 250px;
		margin: 0;
		text-align: left;
	}
	#bbpress-forums div.bbp-topic-author .bbp-author-role,
	#bbpress-forums div.bbp-reply-author .bbp-author-role {
		position: absolute;
		left: 65px;
		top: 38px;
	}
	#bbpress-forums div.bbp-topic-author div.bbp-reply-ip,
	#bbpress-forums div.bbp-reply-author div.bbp-reply-ip {
		position: absolute;
		left: 65px;
		top: 58px;
	}
	#bbpress-forums li.bbp-header div.bbp-search-content {
		text-align: left;
	}
	
	#bbpress-forums li.bbp-header div.bbp-search-author {
		width: 100%;
		float: left;
	}
	span.bbp-admin-links{
		float: left;
	}
	span.bbp-admin-links a{
		font-size: 12px;
	}
	
}


/*--------------------------------------------------------------
19.2 - MAXIMUM width of 480 pixels and MINIMUM width of 380 pixels (phones)
--------------------------------------------------------------*/

@media screen and (max-width: 480px) and (min-width: 380px) {

	#bbpress-forums li.bbp-forum-freshness p.bbp-topic-meta, #bbpress-forums li.bbp-topic-freshness p.bbp-topic-meta {
		width:85%;
	}
	
}
	
/*--------------------------------------------------------------
19.3 - MAXIMUM width of 380 pixels (phones portrait)
--------------------------------------------------------------*/

@media screen and (max-width: 380px) {
	li.bbp-forum-info, li.bbp-topic-title{
		width:30%;
	}
	li.bbp-forum-freshness, li.bbp-topic-freshness{
		width:24%;
	}
	li.bbp-forum-topic-count, li.bbp-topic-voice-count{
		width:20%;
	}
	li.bbp-forum-reply-count, li.bbp-topic-reply-count{
		width:20%;
	}
}
		 
		 