@import url(http://fonts.googleapis.com/css?family=Jura);

/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 380 pixels (phones portrait)
	2.3 - MINIMUM width of 720 pixels (tablets+)
	2.4 - MINIMUM width of 960 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/
.oneall_social_login {
    position: relative;
    left: 42.5%;
    margin-bottom: 10px;
    z-index: 9;
}
.oneall_social_login_label {
    position: relative;
    left: -42.5%;
}

.register-section {
    position: relative;
    z-index: 10;
}

#footer-credits {
    display: none;
}

a {
    color: #6f5092;
}
#buddypress a.bp-primary-action span, #buddypress #reply-title small a span {
    background: #9362b3;
}

#buddypress div.activity-comments ul, #buddypress div.activity-comments form.ac-form {
    background: #c3b0d0;
}
.time-since {
    color: #6f5092;
}
.acomment-reply a {
    color: white;
}
.acomment-reply a:hover {
    color: black;
}
.sidebarme-profile a {
    color: black;
}
.feed {
    display: none !important;
}
.activity-avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.avatar-social-login img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.lowermedia_add_sticky {
    width: 100%;
    position: relative;
    z-index: 10001;
    background: -moz-linear-gradient(top,  rgba(111,80,146,0.9) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(111,80,146,0.9)), color-stop(100%,rgba(0,0,0,.2))); /*    Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69169e3', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.main-navigation {
    position: relative;
    z-index: 10000;
    background:#664688;
}

.main-navigation div > ul > .current-menu-item > a, .main-navigation div > ul > .current-menu-ancestor > a {
    background-color: #3b1555;
}

.main-navigation div > ul > a:hover {
    background-color: #3b1555;
}

.main-navigation div > ul > .current-menu-item > a {
    background-color: #300948;
}


.main-navigation li a:hover{background-color: #300948 !important;}
.main-navigation li ul{ background:#654588 !important; border:1px solid #3c1756 !important;}
.main-navigation li ul li a{color:#ffffff !important; font-size:14px !important;}
.main-navigation li{background:url(../images/sap.jpg) no-repeat center right;}
.main-navigation li:last-child{background:none;}
.main-navigation li ul li{background:none !important;}
.main-wrap{width:100% !important; float:left;}
body #wpadminbar{width:100% !important; float:left; padding:0px !important; max-width:100% !important; background:#300948;}
body {
    background-color: #F6F7F8;
    overflow-x: hidden;
}
.site-header{width:100% !important; float:left;}
#wpadminbar .quicklinks{width:1032px !important; margin:0px auto;}
.ab-top-menu{float:left; margin:0px; width:100% !important;}
.site-header {
    background: #ffffff; 
}

.count {
    color: #3b1555;
}
#oa_social_login-2 {
    margin-bottom: 0px;
    position: relative;
    z-index: 9;
    top: 10px;
}
#wpadminbar .ab-top-menu, #wpadminbar .ab-top-secondary{margin-top:0px !important;}
.oneall_social_login_providers {
    left: -27.5%;
    position: relative;
}
.widget buddyboss-login-widget {
    position: relative;
    margin-top: -20px;
}
#buddybossloginwidget-3 {
    position: relative;
    z-index: 10;
}
.oneall_social_login_providers {
    height: 30px !important;
}

.pagination .current, .bbp-pagination-links span {
    background-color: #a684bc;
}
.widget-area .widget #sidebarme img.avatar {
  margin-right: 8%;
  margin-left: 7.5%;
}
.sidebarme-profile {
    margin-right: 5%;
}

#buddypress div#subnav.item-list-tabs, #buddypress .dir-form div.item-list-tabs, .bp-legacy div#item-body div.item-list-tabs {
    background: -moz-linear-gradient(top,  rgba(111,80,146,0.9) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(111,80,146,0.9)), color-stop(100%,rgba(0,0,0,.2))); /*    Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(111,80,146,0.9) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69169e3', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    margin: 15px 0 10px !important;
    padding: 0px 5px !important;
}
#buddypress div#subnav.item-list-tabs ul li a, #buddypress .dir-form div.item-list-tabs ul li a, .bp-legacy div#item-body div.item-list-tabs ul li a, #buddypress div#subnav.item-list-tabs ul li span, #buddypress .dir-form div.item-list-tabs ul li span, .bp-legacy div#item-body div.item-list-tabs ul li span a {
    background-color: #6f5092;
    color: white;
}
#buddypress div#subnav.item-list-tabs ul li.selected a, #buddypress .dir-form div.item-list-tabs ul li.selected a, .bp-legacy div#item-body div.item-list-tabs ul li.selected a #buddypress div#subnav.item-list-tabs ul li.current a, #buddypress .dir-form div.item-list-tabs ul li.current a, .bp-legacy div#item-body div.item-list-tabs ul li.current a, #buddypress div#subnav.item-list-tabs ul li a:hover, #buddypress .dir-form div.item-list-tabs ul li a:hover, .bp-legacy div#item-body div.item-list-tabs ul li a:hover li {
    color: black;
}

div#login h1 a {
    height: 120px !important;
}

#branding {
    display: none;
}

/* Hides the RSS Feed links on menus */
.feed {
    display: none;
}

.comment-content img {
  max-width:75%;
}

.entry-content img {
    max-width: 50%;
}

.wall-outer .dcsns-toolbar .filter li img {
    max-width: 100%;
}

#buddypress ul.item-list li img.avatar {
    max-width: 100% ;
}

embed, iframe, object, video {
  max-width:75%;
}

/* Hides the PetsPage link in the header */
#wp-admin-bar-s2-site-name {
    display: none;
}

#buddypress div.activity-comments ul li ul > li {
    background-color: #ead7f6;
}
#buddypress .acomment-options a {
    color: black;
}
.acomment-options a {
    color: black;
}
.bbp-attachments ol.with-icons li.bbp-atthumb .wp-caption p.wp-caption-text {
    display: none;
}
p.form-allowed-tags {
    display: none;
}

.custom-logo {
    position: relative;
    float: left;
    z-index: 3;
}
.custom-tagline {
    position: relative;
    float: left;
    top: 35px;
    width: 75.9%;
    background: #3b1555;
    color: white;
    height: 40px;
    font-size: 25px;
    padding-left: 20px;
    left: -.3%;
    z-index: 2;
    padding-top: 10px;
    font-family: 'Jura', sans-serif;
}
#whats-new-pic {
    color: #6f5092;
}
#wp-admin-bar-top-secondary {
    top: 20px;
    left: -1%;
}


#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #6f5092;
}
h1, h2, h3, h4, h5, h6 {
    color: #6f5092;
}
/* Hides a couple old avatars from the first site. Probably remove these down the road */
.widget img.user-1-avatar {
    display: none;
}
.widget img.user-40-avatar {
    display: none;
}
.widget img {
    width: 100%;
    height: 100%;
}
#buddypress div#item-header div#item-header-content span.highlight {
    background: none;
    color: black;
}
#buddypress span.activity {
    color: black;
}
#buddypress div#item-header div#item-meta {
    color: black;
}

.pluginCountBox {
    min-width: 75px !important;
}
.socialize-in-button {
    min-width: 75px;
}

.terms-register a:hover {
    color: #6f5092;
}

/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/
    
/* Hides the RSS Feed links on menus */
    .feed li {
        display: none;
    }
    #main-wrap #mobile-header {
        background: #6f5092;
    }
    #buddypress #mobile-item-nav ul li a {
        color: black;
    }


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 380 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 380px) {


	/*
	.just_an_example {
		color: black;
	}
	*/
    
    /* Hides the RSS Feed links on menus */
    .feed li {
        display: none;
    }
    



}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 720 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 720px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/
    
    /* Hides the RSS Feed links on menus */
    .feed li {
        display: none;
    }
    
    .custom-logo {
    position: relative;
    float: left;
    z-index: 3;
    }
    .custom-tagline {
    position: relative;
    float: left;
    top: 35px;
    width: 63%;
    background: #6f5092;
    color: white;
    height: 40px;
    font-size: 25px;
    padding-left: 20px;
    left: -.5%;
    z-index: 2;
    padding-top: 10px;
    font-family: 'Jura', sans-serif;
    }
    
    #buddypress .activity-list .activity-content .activity-header img.avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 960 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 960px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/
        .custom-logo {
    position: relative;
    float: left;
    z-index: 3;
    }
    .custom-tagline {
        position: relative;
        float: left;
        top: 35px;
        width: 74%;
        background: #3b1555;
        color: white;
        height: 40px;
        font-size: 25px;
        padding-left: 20px;
        left: -.3%;
        z-index: 2;
        padding-top: 10px;
        font-family: 'Jura', sans-serif;
    }
    
    


}/* don't delete this closing bracket */

@media screen and (min-width: 1280px)  {
    
    .custom-logo {
    position: relative;
    float: left;
    z-index: 3;
    }
    .custom-tagline {
        position: relative;
        float: left;
        top: 35px;
        width: 75.9%;
        background: #3b1555;
        color: white;
        height: 40px;
        font-size: 25px;
        padding-left: 20px;
        left: -.6%;
        z-index: 2;
        padding-top: 10px;
        font-family: 'Jura', sans-serif;
    }
    
}