/*--------------------------------------------------------------
This is the Internet Explorer stylesheet.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Older IE versions (previous to IE10)
2.0 - Older IE versions (previous to IE10)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Older IE versions (previous to IE10)
--------------------------------------------------------------*/

form#group-settings-form input[type=radio], form#group-settings-form input[type=checkbox]{
	padding-top:4px;
	padding-right:3px;
}

#buddypress{
	width: 100% !important;
}
#buddypress div#item-nav .item-list-tabs ul{
	list-style:none !important;
}

body.logged-in #wpadminbar .ab-top-menu {
	margin-top: 18px;
}