/*--------------------------------------------------------------
This is the WordPress stylesheet.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Browser Reset
2.0 - Repeatable patterns
	2.1 - Small headers
	2.2 - Form fields
	2.3 - Reset non-text input types
	2.4 - Buttons
	2.5 - Responsive images
	2.6 - Videos and embeds
	2.7 - Images
	2.8 - Post Pagination
	2.9 - Post Navigation
	2.10 - Author Profiles
3.0 - Basic structure
	3.1 - Body, links, basics
	3.2 - Assistive text
	3.3 - Page structure
	3.4 - Header
	3.5 - Banner
	3.6 - Sidebar
	3.7 - Footer
		3.7.1 - General
		3.7.2 - Footer Widgets
4.0 - Main content and comment content
5.0 - Archives
6.0 - Single image attachment view
7.0 - Aside post format
8.0 - Post formats
	8.1 - Image posts
	8.2 - Link posts
	8.3 - Quote posts
	8.4 - Status posts
9.0 - Comments
	9.1 - Comment area
	9.2 - Comment form
10.0 - Front page template
11.0 - Widgets
13.0 - Responsive media queries (mobile styles)
	13.1 - MAXIMUM width of 720 pixels (phones landscape)
		13.1.1 - Basic Structure
		13.1.2 - Sliding Panel - Main Nav - General
		13.1.3 - Main Nav
		13.1.4 - Sub Nav
		13.1.5 - Mobile Header
		13.1.6 - Mobile Content Area
		13.1.7 - Mobile Post Content
		13.1.8 - Widgets
		13.1.9 - Mobile Footer
	13.2 - MAXIMUM width of 380 pixels (phones portrait)
	13.3 - MINIMUM width of 720 pixels (tablets+)
		13.3.1 - Sidebars
		13.3.2 - Footer Widgets
		13.3.3 - Header & Navigation
		13.3.4 - Sliding Panels
	13.4 - MINIMUM width of 960 pixels (desktops and laptops)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Browser Reset
--------------------------------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{font-weight:normal;text-align:left}h1,h2,h3,h4,h5,h6{clear:both}html{:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none}del{color:#333}ins{background:#fff9c0;text-decoration:none}hr{background-color:#eee;border:0;height:1px;margin:24px 0}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}small{font-size:smaller}img{border:0;-ms-interpolation-mode:bicubic}.clear:after,.wrapper:after,.format-status .entry-header:after{clear:both}.clear:before,.clear:after,.wrapper:before,.wrapper:after,.format-status .entry-header:before,.format-status .entry-header:after,.site-content article:before,.site-content article:after,#item-header:before,#item-header:after{display:table;content:""}

/*--------------------------------------------------------------
2.0 - Repeatable patterns
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Small headers
--------------------------------------------------------------*/

.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
	font-size: 13px;
	line-height: 2.181818182;
	font-weight: bold;
	text-transform: uppercase;
	color: #636363;
}

/*--------------------------------------------------------------
2.2 - Form fields, general styles first
--------------------------------------------------------------*/

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	font-family: inherit;
	padding: 6px;
	font-family: inherit;
    font-size: inherit;
}
button,
input[type="text"],
input[type="password"],
input[type="number"] {
    line-height: normal;
}
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
	box-shadow: 0 1px 0 rgba(8, 22, 37, 0.02) inset, 0 0 2px rgba(8, 22, 37, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}
textarea {
	font-size: 100%;
	overflow: auto;
	vertical-align: top;
}

/*--------------------------------------------------------------
2.3 - Reset non-text input types
--------------------------------------------------------------*/

input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
	border: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0;
}

/*--------------------------------------------------------------
2.4 - Buttons
--------------------------------------------------------------*/

/* Default state */
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
a.comment-reply-link,
a.comment-edit-link,
li.bypostauthor cite span,
a.button,
#buddypress ul.button-nav li a,
#buddypress div.generic-button a,
#buddypress .comment-reply-link,
#buddypress .activity-list li.load-more a,
.entry-header .entry-title a.button,
a.bp-title-button {
	border:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font: normal 12px/20px Arial, Tahoma, Verdana, sans-serif;
	outline: none;
	padding: 6px 10px;
	text-align: center;
	text-decoration: none;
	line-height: 14px;
  background:#6F5092 !important;
}

/* Hover state */
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
article.post-password-required input[type=submit]:hover,
a.comment-reply-link:hover,
a.comment-edit-link:hover,
a.button:hover,
#buddypress ul.button-nav li a:hover,
#buddypress ul.button-nav li.current a,
#buddypress div.generic-button a:hover,
#buddypress .comment-reply-link:hover,
#buddypress .activity-list li.load-more a:hover,
.entry-header .entry-title a.button:hover,
a.bp-title-button:hover {
	background: #6F5092 !important;

	border:none !important;
	color: #555;
	outline: none;
	text-decoration: none;
}

/* Active state */
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
article.post-password-required input[type=submit]:active,
a.comment-reply-link:active,
a.comment-edit-link:active,
a.button:active,
#buddypress ul.button-nav li a:active,
#buddypress div.generic-button a:active,
#buddypress .comment-reply-link:active,
#buddypress .activity-list li.load-more a:active,
.entry-header .entry-title a.button:active,
a.bp-title-button:active {
	color: #757575;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
}

button[disabled],
input[disabled] {
    cursor: default;
}
.entry-header .entry-title a.button {
	vertical-align: middle;
}
li.bypostauthor cite span {
	color: #fff;
	background-color: #497EA8;
	background-image: none;
	border: 1px solid #1f6f93;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}

/*--------------------------------------------------------------
2.5 - Responsive images
--------------------------------------------------------------*/

.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/*--------------------------------------------------------------
2.6 - Make sure videos and embeds fit their containers
--------------------------------------------------------------*/

embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/*--------------------------------------------------------------
2.7 - Images
--------------------------------------------------------------*/

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#buddypress .standard-form p.description{font-size:20px !important;}
#signup_form .checkbox label{padding:0px !important;}
#field-visibility-settings-toggle-4{display:none;}
.entry-content img,
.comment-content img,
.widget img,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	line-height: 2;
	color: #757575;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}

div#register-page p.top_image img {
    float: left;
    margin: 0;
    max-width: 100% !important;
    padding: 0;
    width: 100% !important;
}
div#register-page p.top_line {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    max-width: 100% !important;
    padding: 0px;
}
div#register-page p.top_line a {
    color: #800080;
    font-size: 35px;
    margin: 0;
}

div#register-page p.bottom_line {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    max-width: 100% !important;
    padding: 12px 0 0;
}

div#register-page p.bottom_line a {
    color: #800080;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}
#buddypress .standard-form label, #buddypress .standard-form span.label {
    clear: left;
    color: #000000 !important;
    display: block;
    font-size: 17px !important;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 10px 0;
}
/* Avatars */
img.avatar,
.author-avatar img {
	border: 1px solid #ccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    border-radius: 2px;
}


/*--------------------------------------------------------------
2.8 - Post Pagination
--------------------------------------------------------------*/

.pagination-above {
	margin: 0 0 20px
}
.pagination-below {
	margin: 0;
}
.pagination {
	clear: both;
	overflow: hidden;
	position: relative;
	font-size: 11px;
	line-height: 13px;
}
.pagination span, .pagination a,
.bbp-pagination-links span, .bbp-pagination-links a {
	display: block;
	float: left;
	margin:  2px 2px 2px 0;
	padding: 7px 9px;
	text-decoration: none;
	width: auto;
	color: #fff;
	background:  #555;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	line-height: 1;
}
.pagination a:hover,
.bbp-pagination-links a:hover {
	color: #fff;
	background: #777;
	text-decoration: underline;
}
.pagination .current,
.bbp-pagination-links span {
	background: #558AB4;
	color: #fff;
	font-weight: bold;
}
#ambassador p a{font-size:20px; float:none; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:30px; padding:0px 5px 0px 0px;}
#ambassador p a.view.activity-time-since{font-size:13px; font-family:Arial, Helvetica, sans-serif; float:none; font-weight:normal;}
.entry-header h1.entry-title a{font-size:16px;}
.entry-header h1#Ambassador_title a{font-size:25px; float:left; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:35px; padding:0px 5px 0px 0px;}
.entry-header h1#upgrade_profile a{font-size:25px; float:left; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:30px; padding:0px 5px 0px 0px;}
#upgrade_user p a{font-size:20px; float:left; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:30px; padding:0px 5px 0px 0px;}
#upgrade_user p a.view.activity-time-since{font-size:13px; font-family:Arial, Helvetica, sans-serif; float:none; font-weight:normal;}
.groups .activity-content .activity-header p a{font-size:13px !important; font-family:Arial, Helvetica, sans-serif; float:none; font-weight:normal;}
.groups .activity-content  p#amb_img{display:none;}
.friends .activity-content .activity-header p a{font-size:13px !important; font-family:Arial, Helvetica, sans-serif; float:none; font-weight:normal;}
.friends .activity-content  p#amb_img{display:none;}
.woocommerce-info a{float:none; width:auto; font-size:13px;}
/*--------------------------------------------------------------
2.9 - Post Navigation
--------------------------------------------------------------*/

.site-content nav {
	clear: both;
	line-height: 2;
	overflow: hidden;
}
#nav-above {
	padding: 24px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-single + .comments-area,
#comment-nav-above {
	margin: 48px 0;
}

/*--------------------------------------------------------------
2.10 - Author Profiles
--------------------------------------------------------------*/
#main-wrap{float:left; width:100%;}
.author .archive-header {
	margin-bottom: 24px;
}
.author-info {
	border-top: 1px solid #ededed;
	margin: 24px 0;
	padding-top: 24px;
	overflow: hidden;
}
.author-description p {
	color: #757575;
	font-size: 13px;
	line-height: 1.846153846;
}
.author.archive .author-info {
	border-top: 0;
	margin: 0 0 48px;
}
.author.archive .author-avatar {
	margin-top: 0;
}


/*--------------------------------------------------------------
3.0 - Basic structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 - Body, links, basics
--------------------------------------------------------------*/

html {
	font-size: 87.5%;
}
body {
	font-size: 13px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	text-rendering: optimizeLegibility;
	color: #333;
}
a {
	outline: none;
	color: #497EA8;
	text-decoration: none;
}
a:hover {
	color: #300948;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma,Verdana,Arial,sans-serif;
	color: #555;
}


.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */

/*--------------------------------------------------------------
3.2 - Assistive text
--------------------------------------------------------------*/

.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

.main-navigation .assistive-text:hover,
.main-navigation .assistive-text:active,
.main-navigation .assistive-text:focus {
	background: #fff;
	border: 2px solid #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 12px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
3.3 - Page structure
--------------------------------------------------------------*/

.site-content {
	margin: 0;
}
.widget-area {
	margin: 0;
}
.site {
	min-height: 500px;
}

/*--------------------------------------------------------------
3.4 - Header
--------------------------------------------------------------*/

.site-header {
	background-color: #fff;
	padding: 14px 0 0;
}
.site-header h1 {
	text-align: center;
}
.site-header h1 a {
	color: #515151;
	display: inline-block;
	text-decoration: none;
}
.site-header h1 a:hover {
	color: #21759b;
}
.site-header h1 {
	font-size: 24px;
	line-height: 1.285714286;
	margin-bottom: 14px;
}

/*--------------------------------------------------------------
3.5 - Banner
--------------------------------------------------------------*/

section[role="banner"] {
	margin-bottom: 48px;
}

/*--------------------------------------------------------------
3.6 - Sidebar
--------------------------------------------------------------*/

.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	background: #fff;
    border: 1px solid #D2D3D6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	padding: 15px;
	margin-bottom: 40px;
	word-wrap: break-word;
  float:left;
  width:100%;
}
.widget-area .widget h3,
.widget-area .widget_bp_profile_search h4 {
    border-bottom: 1px solid #E9EAED;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
    background: #F6F7F8;
    font-size: 12px;
    margin: -15px -15px 15px; /* makes up for 15px .widget padding */
    padding: 10px 15px;
    line-height: 1.5;
}
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
	font-size: 13px;
	line-height: 1.71429;
}
.widget-area .widget p {
	margin-bottom: 14px;
}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 24px;
}
.widget-area .textwidget li {
	margin-left: 36px;
}
.widget-area #s {
	width: 90%;
	margin-bottom: 12px;
}
.widget-area .widget form label,
.widget-area .widget_bp_profile_search .label {
	display: block;
	font-weight: bold;
	margin: 15px 0 5px;
}
.widget-area .widget form .bbp-remember-me label {
	display: inline;
}
.widget-area .widget form input[type="text"],
.widget-area .widget form input[type="password"],
.widget-area .widget form textarea {
	padding: 3%;
    width: 93%; /* padding plus some extra for a border */
    border: 1px solid #D2D3D6;
}
.widget-area .widget form#sidebar-login-form p.forgetmenot {
	margin: 9px 0;
}
.widget-area .widget form#sidebar-login-form a.sidebar-wp-register {
	display: inline-block;
    margin: 10px 0 0 8px;
}
.widget-area .widget div.item-options {
	clear: left;
    font-size: 11px;
    margin: 0 auto 15px;
    text-align: center;
    color: #ddd;
}
.widget-area .widget div.item-options a.selected {
	font-weight: bold;
	color: #555;
}
.widget img.avatar {
    box-shadow: none;
}
.widget-area .widget ul.item-list li {
	border-top: 1px solid #EAEAEA;
	padding: 15px 0;
    min-height: 54px;
    line-height: 1.3;
}
.widget-area .widget ul.item-list li div.item-avatar {
	float: left;
}
.widget-area .widget ul.item-list img.avatar {
	margin-right: 12px;
	width: 50px;
	height: 50px;
}
.widget-area .widget ul.item-list .item {
    margin-left: 64px;
    word-wrap: break-word;
}
.widget-area .widget ul.item-list .item .item-title {
	font-weight: bold;
}
.widget-area .widget ul.item-list .item .item-meta {
	color: #999;
	font-size: 11px;
	margin-top: 4px;
}
.widget-area .widget dl {
	width: 100%;
	overflow: hidden;
	line-height: 1.3;
}
.widget-area .widget dl dt {
	float: left;
	width: 80%;
	clear: left;
	margin-bottom: 10px;
}
.widget-area .widget dl dd {
	float: left;
	width: 20%;
	text-align: right;
}

/* BuddyBoss Login Widget */
.widget-area .widget #sidebarme {
	overflow: hidden;
}
.widget-area .widget #sidebarme img.avatar {
	float: left;
}
.widget-area .widget #sidebarme ul.sidebarme-quicklinks {
	margin: 3px 0 0 64px;
    word-wrap: break-word;
}
.widget-area .widget #sidebarme ul.sidebarme-quicklinks li.sidebarme-username {
	font-weight: bold;
}
.widget-area .widget #sidebarme ul.sidebarme-quicklinks li.sidebarme-profile {
	text-transform: capitalize;
}

/* BP Profile Search */
.widget-area .widget_bp_profile_search .editfield div label {
	margin: 7px 0;
	font-weight: normal;
}
.widget-area .widget_bp_profile_search .clear-value {
	display: block;
	margin: 10px 0 15px;
}
.widget-area .widget_bp_profile_search .submit {
	margin: 15px 0 0;
}

/*--------------------------------------------------------------
3.7 - Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.7.1 - General
--------------------------------------------------------------*/

footer[role="contentinfo"] {
	clear: both;
	font-size: 12px;
	line-height: 2;
	width: 100%;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
        position:fixed;
        bottom:0px;
        z-index:99999999999;
}
div.footer-inner-top {
	background: transparent;
	padding: 0;
	clear: left;
	color: #999;
}
div.footer-inner-top a {
	color: #999;
}
div.footer-inner-bottom {
    background-color: #242424;
    clear: left;
    color: rgba(225, 225, 225, 0.8);
    font-size: 13px;
    padding: 30px 0;
}
	div.footer-inner-bottom a {
		color: #999;
	}
div.footer-inner {
	float: none;
	width: auto;
	overflow: hidden;
}
div.footer-inner div#footer-credits {
	float: left;
        width:50%;
}
.fa-2x{font-size:18px !important;}
div.footer-inner-bottom a:hover{background:#654588 !important;}
.footer_social{float:left; margin:0px; padding:0px; width:50%;}
.footer_social ul{float:right; margin:0px; padding:0px; width:73%;}
.footer_social ul li{float:left; margin:0px 15px 0px 0px; padding:0px; list-style:none;}
.social_1{float:left; width:32px; height:32px;}
.social_1 a{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_1.png") no-repeat 0px 0px;}
.social_1 a:hover{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_1.png") no-repeat 0px -32px;}
.social_2{float:left; width:32px; height:32px;}
.social_2 a{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_2.png") no-repeat 0px 0px;}
.social_2 a:hover{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_2.png") no-repeat 0px -32px;}
.social_3{float:left; width:32px; height:32px;}
.social_3 a{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_3.png") no-repeat 0px 0px;}
.social_3 a:hover{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_3.png") no-repeat 0px -32px;}
.social_4{float:left; width:32px; height:32px;}
.social_4 a{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_4.png") no-repeat 0px 0px;}
.social_4 a:hover{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_4.png") no-repeat 0px -32px;}
.social_5{float:left; width:32px; height:32px;}
.social_5 a{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_5.png") no-repeat 0px 0px;}
.social_5 a:hover{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_5.png") no-repeat 0px -32px;}
.social_6{float:left; width:32px; height:32px;}
.social_6 a{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_6.png") no-repeat 0px 0px;}
.social_6 a:hover{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_6.png") no-repeat 0px -32px;}
.social_7{float:left; width:32px; height:32px;}
.social_7 a{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_7.png") no-repeat 0px 0px;}
.social_7 a:hover{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_7.png") no-repeat 0px -32px;}
.social_8{float:left; width:32px; height:32px;}
.social_8 a{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_8.png") no-repeat 0px 0px;}
.social_8 a:hover{float:left; width:32px; height:32px; background:url("http://petspage.com/wp-content/uploads/2014/02/social_8.png") no-repeat 0px -32px;}
#footer-credits p {
    font-size: 15px !important;
}
div.footer-inner div#footer-links {
	float: right;
}
div.footer-inner ul.footer-menu li {
	display: inline;
	font-weight: bold;
	margin: 0 0 0 12px;
}

/*--------------------------------------------------------------
3.7.2 - Footer Widgets
--------------------------------------------------------------*/

.footer-widget .widget {
	background-color: transparent;
	padding: 0;
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-bottom: 30px;
}
.footer-widget .widget h4.widgettitle {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #999;
	text-transform: uppercase;
	line-height: 1.4;
}
.footer-widget .widget p, .footer-widget .widget li, .footer-widget .widget .textwidget {
    font-size: 12px;
    line-height: 1.8;
}
.footer-widget .widget div.item-options {
	color: #ccc;
    margin: 0 auto 5px;
    text-align: left;
}
.footer-widget .widget div.item-options a.selected {
	color: #999;
}
.footer-widget .widget ul.item-list li {
	border-top: 1px solid #ddd;
}

/*--------------------------------------------------------------
4.0 - Main content and comment content
--------------------------------------------------------------*/

.entry-header {
	margin-bottom: 24px;
}
.entry-header img.wp-post-image {
	margin-bottom: 24px;
}
.entry-header .entry-title {
	font-size: 20px;
	line-height: 1.2;
	font-weight: bold;
}
.entry-header .entry-title a {
	text-decoration: none;
}
.entry-header .entry-format {
	margin-top: 24px;
	font-weight: normal;
}
.entry-header .comments-link {
	margin-top: 24px;
	font-size: 13px;
	line-height: 1.846153846;
	color: #757575;
}
.comments-link a,
.entry-meta a {
	color: #757575;
}
.comments-link a:hover,
.entry-meta a:hover {
	color: #21759b;
}
article.sticky .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 13px;
	line-height: 3.692307692;
	margin-bottom: 24px;
	text-align: center;
}
.entry-post-thumbnail img {
	float: left;
	max-height: 150px;
    max-width: 150px;
    margin:0px 10px 0px 0px;
}
.entry-summary-thumbnail {
	margin-left: 0px;
}
.entry-content,
.entry-summary,
.mu_register,
footer.entry-meta {
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1,
.entry-content h2,
.comment-content h2,
.entry-content h3,
.comment-content h3,
.entry-content h4,
.comment-content h4,
.entry-content h5,
.comment-content h5,
.entry-content h6,
.comment-content h6 {
	margin: 24px 0;
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1 {
	font-size: 21px;
	line-height: 1.5;
}
.entry-content h2,
.comment-content h2,
.mu_register h2 {
	font-size: 18px;
	line-height: 1.6;
}
.entry-content h3,
.comment-content h3 {
	font-size: 16px;
	line-height: 1.846153846;
}
.entry-content h4,
.comment-content h4 {
	font-size: 14px;
	line-height: 1.846153846;
}
.entry-content h5,
.comment-content h5 {
	font-size: 13px;
	line-height: 1.846153846;
}
.entry-content h6,
.comment-content h6 {
	font-size: 12px;
	line-height: 1.846153846;
}
.entry-content p,
.entry-summary p,
.mu_register p {
	margin: 0 0 24px;
	line-height: 1.714285714;
}
.comment-content p {
	margin: 0 0 20px;
	line-height: 1.714285714;
}
.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul,
.mu_register ul {
	margin: 0 0 24px;
	line-height: 1.714285714;
	overflow: hidden;
}
.entry-content #buddypress ol,
.entry-content #buddypress ul {
	overflow: visible;
}
.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
	margin-bottom: 0;
}
.entry-content ul,
.comment-content ul,
.mu_register ul {
	list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
	list-style: decimal outside;
}
.entry-content li,
.comment-content li,
.mu_register li {
	margin: 0 0 0 36px;
}
.entry-content blockquote,
.comment-content blockquote {
	margin-bottom: 24px;
	padding: 24px;
	font-style: italic;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	background-color: #f6f7f8;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;
}
.entry-content code,
.comment-content code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 13px;
	background: #eee;
	padding: 4px;
	line-height: 2;
}
.entry-content pre,
.comment-content pre {
	border: 1px solid #ededed;
	color: #666;
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	line-height: 1.714285714;
	margin: 24px 0;
	overflow: auto;
	padding: 24px;
}
.entry-content pre code,
.comment-content pre code {
	display: block;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.entry-content address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 24px;
}
img.alignleft {
	margin: 12px 24px 12px 0;
}
img.alignright {
	margin: 12px 0 12px 24px;
}
img.aligncenter {
	margin-top: 12px;
	margin-bottom: 12px;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 24px;
}
.entry-content dl,
.comment-content dl {
	margin: 0 24px;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 24px;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #eaeaea;
	color: #757575;
	font-size: 12px;
	line-height: 2;
	margin: 0 0 24px;
	width: 100%;
}
.entry-content table caption,
.comment-content table caption {
	font-size: 16px;
	margin: 24px 0;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #eaeaea;
	padding: 6px 10px 6px 0;
}
.site-content article {
	margin-bottom: 24px;
	padding-bottom: 24px;
	word-wrap: break-word;
}
.site-content article.post {
	border-bottom: 1px solid #eee;
	overflow: hidden;
}
.page-links {
	clear: both;
	line-height: 1.714285714;
}
footer.entry-meta {
	margin-top: 8px;
	color: #757575;
        float:left;
        width:100%;
}
.entry-summary footer.entry-meta {
	clear: none;
}
.footer.entry-meta .comments-link {
	margin-top: 10px;
}
.mu_register h2 {
	color: #757575;
	font-weight: normal;
}


/*--------------------------------------------------------------
5.0 - Archives
--------------------------------------------------------------*/

.archive-header,
.page-header {
	margin-bottom: 20px;
	padding-bottom: 22px;
	border-bottom: 1px solid #ededed;
}
.archive-meta {
	color: #757575;
	font-size: 12px;
	line-height: 2;
	margin-top: 22px;
}


/*--------------------------------------------------------------
6.0 - Single image attachment view
--------------------------------------------------------------*/

.article.attachment {
	overflow: hidden;
}
.image-attachment div.attachment {
	text-align: center;
}
.image-attachment div.attachment p {
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
.image-attachment .entry-caption {
	margin-top: 8px;
}


/*--------------------------------------------------------------
7.0 - Aside post format
--------------------------------------------------------------*/

article.format-aside h1 {
	margin-bottom: 24px;
}
article.format-aside h1 a {
	text-decoration: none;
	color: #4d525a;
}
article.format-aside h1 a:hover {
	color: #2e3542;
}
article.format-aside .aside {
	padding: 24px 24px 0;
	background: #d2e0f9;
	border-left: 22px solid #a8bfe8;
}
article.format-aside p {
	font-size: 13px;
	line-height: 1.846153846;
	color: #4a5466;
}
article.format-aside blockquote:last-child,
article.format-aside p:last-child {
	margin-bottom: 0;
}


/*--------------------------------------------------------------
8.0 - Post formats
--------------------------------------------------------------*/
/*--------------------------------------------------------------
8.1 - Image posts
--------------------------------------------------------------*/

article.format-image footer h1 {
	font-size: 13px;
	line-height: 1.846153846;
	font-weight: normal;
}
article.format-image footer h2 {
	font-size: 11px;
	line-height: 2.181818182;
}
article.format-image footer a h2 {
	font-weight: normal;
}

/*--------------------------------------------------------------
8.2 - Link posts
--------------------------------------------------------------*/

article.format-link header {
	padding: 0 10px;
	float: right;
	font-size: 11px;
	line-height: 2.181818182;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	color: #848484;
	background-color: #ebebeb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
}
article.format-link .entry-content {
	max-width: 80%;
	float: left;
}
article.format-link .entry-content a {
	font-size: 22px;
	line-height: 1.090909091;
	text-decoration: none;
}

/*--------------------------------------------------------------
8.3 - Quote posts
--------------------------------------------------------------*/

article.format-quote .entry-content p {
	margin: 0;
	padding-bottom: 24px;
}
article.format-quote .entry-content blockquote {
	display: block;
	padding: 24px 24px 0;
	font-size: 15px;
	line-height: 1.6;
	font-style: normal;
	color: #6a6a6a;
	background: #efefef;
}

/*--------------------------------------------------------------
8.4 - Status posts
--------------------------------------------------------------*/

.format-status .entry-header {
	margin-bottom: 24px;
}
.format-status .entry-header header {
	display: inline-block;
}
.format-status .entry-header h1 {
	font-size: 15px;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
}
.format-status .entry-header h2 {
	font-size: 12px;
	font-weight: normal;
	line-height: 2;
	margin: 0;
}
.format-status .entry-header header a {
	color: #757575;
}
.format-status .entry-header header a:hover {
	color: #21759b;
}
.format-status .entry-header img {
	float: left;
	margin-right: 21px;
}


/*--------------------------------------------------------------
9.0 - Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
9.1 - Comment area
--------------------------------------------------------------*/

.comments-title {
	margin-bottom: 48px;
	font-size: 19px;
	line-height: 1.5;
	font-weight: bold;
}
.comments-area article {
	margin: 24px 0;
}
.comments-area article header {
	margin: 0 0 15px;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
	border: 1px solid #ccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 60px;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	line-height: 1.42857143;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	color: #999;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #21759b;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area li.bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	padding: 2px 5px;
	font-size: 10px;
}
a.comment-reply-link,
a.comment-edit-link {
	font: normal 11px/20px Arial,Tahoma,Verdana,sans-serif;
	padding: 4px 8px;
	line-height: 14px;
	margin-right: 5px;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
}

/*--------------------------------------------------------------
9.2 - Comment form
--------------------------------------------------------------*/

#comments {
	clear: left;
	margin-bottom: 15px;
}
#respond {
	background: #F3F7FA;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #D3D6DB;
}
#respond h3#reply-title {
	font-size: 16px;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	font-weight: normal;
	font-size: 12px;
}
#respond form {
	margin: 24px 0 0;
}
#respond form p {
	margin: 11px 0;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
}
#respond form label {
	display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71429;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 1.714285714;
	padding: 10px;
	width: 95%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	line-height: 2;
	color: #5e5e5e;
}
.required {
	color: red;
}


/*--------------------------------------------------------------
10.0 - Front page template
--------------------------------------------------------------*/

.entry-page-image {
	margin-bottom: 14px;
}
.template-front-page .site-content article {
	border: 0;
	margin-bottom: 0;
}
.template-front-page .widget-area {
	clear: both;
	float: none;
	width: auto;
	padding-top: 24px;
	border-top: 1px solid #ededed;
}
.template-front-page .widget-area .widget li {
	margin: 8px 0 0;
	font-size: 13px;
	line-height: 1.714285714;
	list-style-type: square;
	list-style-position: inside;
}
.template-front-page .widget-area .widget li a {
	color: #757575;
}
.template-front-page .widget-area .widget li a:hover {
	color: #21759b;
}
.template-front-page .widget-area .widget_text img {
	float: left;
	margin: 8px 24px 8px 0;
}
.create-group-button{
    background: #6F5092 !important;
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    font: 16px/20px Arial,Tahoma,Verdana,sans-serif;
    outline: medium none;
    padding: 6px 20px;
    text-decoration: none;
}

/*--------------------------------------------------------------
11.0 - Widgets
--------------------------------------------------------------*/

.widget-area .widget ul ul {
	margin-left: 12px;
}
.widget_rss li {
	margin: 12px 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	margin-left: 12px;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: center;
}
#wp-calendar thead td {
	color: #ccc;
}
#wp-calendar caption {
	font-weight: bold;
	margin-bottom: 10px;
}
#wp-calendar td#today {
	font-weight: bold;
	color: #cf696a;
}
#wp-calendar #prev {
	text-align: left;
}
#wp-calendar #next {
	text-align: right;
}
.widget_search label {
	display: block;
	font-size: 13px;
	line-height: 1.846153846;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}
/* Avatar Widgets */
.widget .avatar-block {
	margin: -12px;
	overflow: hidden;
}
.widget .avatar-block img.avatar {
	margin: 4px;
	float: left;
}

/*--------------------------------------------------------------
13.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
13.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/

@media screen and (max-width: 720px) {

	body .site,
	body #main-wrap {
		background-color: #dedfe4;
	}
	.header-inner,
	.nav-inner,
	.site,
	.footer-inner {
		margin: 0 auto;
		padding: 15px 3% 0;

		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
		-ms-transform: translatez(0);
		-o-transform: translatez(0);
		transform: translatez(0);
	}

	.site {
		min-height: 90%;
		min-width: 220px;
	}
	footer.entry-meta {
		display: none;
	}

	/* Page Content */

	body:not(.bp-user):not(.single-item):not(.activity).buddypress #content,
	body:not(.buddypress) #content article,
	body.buddypress #content article.error404,
	.site-content nav.nav-single,
	.site-content #comments,
	.bp-legacy div#item-body {
		clear: left;
		overflow: hidden;
		background: #fff;
		padding: 15px;
		border: 1px solid #999;
		overflow: hidden;
		margin: 0 0 15px;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	/*--------------------------------------------------------------
	13.1.1 - Basic Structure
	--------------------------------------------------------------*/

	.entry-header {
		margin-bottom: 15px;
	}
	.entry-header .entry-title {
		font-weight: normal;
		font-size: 22px;
	}
	body * {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #555;
		font-weight: normal;
	}
	input[type="text"],
	input[type="password"],
	input[type="number"],
	textarea {
		font-size: 17px;
	}

	/*--------------------------------------------------------------
	13.1.2 - Sliding Panel - Main Nav - General
	--------------------------------------------------------------*/

	header#masthead {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		opacity: 1;
		overflow: auto;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		width: 262px;
		height: 100%;
		margin-top: 0;
		padding-top: 0;
		background: #1d2b3c;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-backface-visibility: hidden;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		outline: none;
		-moz-box-shadow:    inset  5px 0 5px rgba(0,0,0,.4);
		-webkit-box-shadow: inset  5px 0 5px rgba(0,0,0,.4);
		box-shadow:         inset  5px 0 5px rgba(0,0,0,.4);
	}

	header#masthead.show {
		opacity: 1;
		z-index: 2;
	}
	header#masthead.hide {
		opacity: 1;
		z-index: 1;
	}
	header#masthead a {
		color: #fff;
		font-family: Helvetica, Arial, sans-serif;
		text-shadow: 1px 1px 1px #222;
		outline: none;
	}

	header#masthead.site-header {
		padding: 0 0 0;
	}

	header#masthead .header-inner {
		display: none;
	}
	header#masthead .nav-inner {
		padding: 0 !important;
	}

	#page #swipe-area{
		width: 100%;
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		display:none;
	}

	/*--------------------------------------------------------------
	13.1.3 - Main Nav
	--------------------------------------------------------------*/

	/* Nav Items Borders */
	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		border-bottom: 1px solid #2d4058;
	}
	.main-navigation div.nav-inner > div ul li {
		border-top: 1px solid #2d4058;
		border-bottom: 1px solid #0a1522;
	}
	.main-navigation div.nav-inner > div ul > li > ul.sub-men {
		border-top: 1px solid #0a1522;
	}

	/* Nav Items */
	.main-navigation {
		box-shadow: none;
	}
	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		display: block;
	}
	header#masthead .main-navigation {
		margin: 0;
	}
	.main-navigation div.nav-inner > div ul li {
		min-height: 30px;
		width: 100%;
		display: block;
		padding-top: 15px;
		-webkit-transition: background .1s ease-in-out;
		-moz-transition: background .1s ease-in-out;
		transition: background .1s ease-in-out;
		position: relative;
		margin: 0;
		text-align: left;
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
		-ms-transform: translatez(0);
		-o-transform: translatez(0);
		transform: translatez(0);
		outline: none;
	}
	.main-navigation div.nav-inner > div ul > li > ul.sub-menu li:last-child {
		border-bottom: none;
	}
	.main-navigation div.nav-inner > div ul li a {
		font-size: 15px;
		width: 90%;
		margin-left: 5%;
		position: absolute;
		top: 0;
		left: 0;
		height: 30px;
		padding: 11px 0 0 0;
	}
	.main-navigation div.nav-inner > div ul > li a:hover {
		text-decoration: none;
		color: #fff;
	}

	/*--------------------------------------------------------------
	13.1.4 - Sub Nav
	--------------------------------------------------------------*/

	.main-navigation div.nav-inner > div ul > li > ul.sub-menu {
		overflow: hidden;
		height:auto !important;
		margin: 30px 0 0 0;
		width: 100%;
		opacity: 1;
	}
	.main-navigation div.nav-inner > div ul > li > ul.sub-menu li a {
		padding-left: 12%;
		margin-left: 0;
		background-size: 10px;
		background-position: 5% 50%;
	}

	/*--------------------------------------------------------------
	13.1.5 - Mobile Header
	--------------------------------------------------------------*/

	#main-wrap #mobile-header {
		width: 100%;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-backface-visibility: hidden;
		height: 45px;
		line-height: 20px;
		background: #497ca5; /* Old browsers */
		background: -moz-linear-gradient(top, #558ab4 0%, #497ca5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#558ab4), color-stop(100%,#497ca5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #558ab4 0%,#497ca5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #558ab4 0%,#497ca5 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #558ab4 0%,#497ca5 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#558ab4', endColorstr='#497ca5',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #558ab4 0%,#497ca5 100%); /* W3C */
		border-bottom: 1px solid #888;
	}

	#main-wrap #mobile-header .mobile-header-inner {
		height: 100%;
		width: 100%;
		position:relative;
	}
	#main-wrap #mobile-header .mobile-header-content{
		float:left;
		width: 68%;
		height: 100%;
		position:absolute;
		left: 16%;
		text-align:center;
	}
	#main-wrap #mobile-header .mobile-header-content a.mobile-site-title {
		color: #fff;
		font-size:22px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.25);
		padding: 12px 0;
		margin-left: 5px;
		display:block;
		text-decoration: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	#main-wrap #mobile-header .mobile-header-inner div.right-btn,
	#main-wrap #mobile-header .mobile-header-inner div.left-btn {
		width: 13%;
		height: 100%;
		position:relative;
	}

	#main-wrap #mobile-header .mobile-header-inner div.left-btn {
		float:left;
		margin-left:2.5%;
	}
	#main-wrap #mobile-header .mobile-header-inner div.right-btn {
		float:right; display:none;
		/*margin-right:2.5%;*/
		padding-right: 2.5%;
}
	#main-wrap #mobile-header .mobile-header-inner div.left-btn a {
		background: url('../images/mobile_user_menu_btn.png') no-repeat;
		background-size: 60%;
		background-position: 50% 58%;
	}
	#main-wrap #mobile-header .mobile-header-inner div.right-btn a {
		background: url('../images/mobile_main_menu_btn.png') no-repeat;
		background-size: 60%;
		background-position: 50% 59%;

		float: right;
		/* margin-right:  2.5%; */
}
	#main-wrap #mobile-header .mobile-header-inner div.left-btn a,
	#main-wrap #mobile-header .mobile-header-inner div.right-btn a {
		width: 55px;
		max-width: 100%;
		height: 32px;
		margin-top: 5px;
		display:block;
		outline: none;
		border: 1px solid rgba(0,0,0,.28);
		background-color:rgba(255,255,255,.25);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		cursor: pointer;
	}

	#main-wrap #mobile-header .mobile-header-inner div.left-btn a.open,
	#main-wrap #mobile-header .mobile-header-inner div.right-btn a.open {
		background-color: #89b4d6;

		-moz-box-shadow:    inset 0 0 5px #fff;
		-webkit-box-shadow: inset 0 0 5px #fff;
		box-shadow:         inset 0 0 5px #fff;

		-webkit-animation: pulsate 3s ease-out;
	    -webkit-animation-iteration-count: infinite;
	    opacity: 1.0;
	}
	@-webkit-keyframes pulsate {
	    50% {opacity: 0.4;}
	}

	/*--------------------------------------------------------------
	13.1.6 - Mobile Content Area
	--------------------------------------------------------------*/

	#main-wrap {
		position: relative;
		z-index: 3;
		box-shadow: 0 0 3px #000;
		-webkit-transform: translate3D(0, 0, 0);
		-moz-transform: translate3D(0, 0, 0);
		transform: translate3D(0, 0, 0);
		-webkit-transition: -webkit-transform 0.1s linear;
		-moz-transition: -moz-transform 0.1s linear;
		transition: transform 0.1s linear;
	}

	#main-wrap #inner-wrap {
		left: 0;
		right: 0;
		bottom: 0;
		height: 100% !important; /* Modified through mobile-main.js */
		padding: 0px;
		top: 60px;
		z-index: 4;
		color: #111;
		line-height: 1.5em;
		font-size: .9em;
		font-weight: 300;
    overflow-y:hidden !important;
    overflow-x:hidden !important;
	}

	/*--------------------------------------------------------------
	13.1.7 - Mobile Post Content
	--------------------------------------------------------------*/

	.entry-post-thumbnail img {
		float: left;
		width: 100px;
		height: 100px;
		margin: 0 20px 20px 0;
	}
	.entry-summary-thumbnail {
		margin-left: 0;
	}
	.entry-content,
	.entry-summary,
	.mu_register {
		font-size: 14px;
	}
	.pagination {
		margin-bottom: 30px;
	}
	#respond {
		margin-top: 0;
	}

	/*--------------------------------------------------------------
	13.1.8 - Widgets
	--------------------------------------------------------------*/

	.widget-area {
		clear: both;
	}
	.widget-area .widget {
		margin-bottom: 15px;
		background: #fafafa;
		border: 1px solid #999;
	}
	.widget-area .widget h3,
	.widget-area .widget_bp_profile_search h4 {
		font-weight: bold;
		font-size: 18px;
		background: #f0f1f3;
		border-bottom: 1px solid #ccc;
	}

	/*--------------------------------------------------------------
	13.1.9 - Mobile Footer
	--------------------------------------------------------------*/

	div.footer-inner-top {
		padding: 5px 0 10px;
		border-top: 1px solid #ddd;
		background: #fff;
	}
	div.footer-inner-top .widget-area .widget {
		padding: 20px;
		border: 1px solid #ddd;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	div.footer-inner-top {
		display: none; /* remove this line to display top footer in mobile */
	}

	div.footer-inner-bottom {
		padding: 5px 0 10px;
		box-shadow: none;
		border-top: 1px solid #bbb;
		background: #fff;
	}
	div.footer-inner div#footer-links,
	div.footer-inner div#footer-credits {
		float: none;
		clear: left;
		text-align: center;
		line-height: 1.3;
		margin-bottom: 14px;
	}
	div.footer-inner ul.footer-menu li {
		margin: 0 3px;
	}

}

/*--------------------------------------------------------------
13.2 - MAXIMUM width of 380 pixels (phones portrait)
--------------------------------------------------------------*/

@media screen and (max-width: 380px) {

	#main-wrap #mobile-header .mobile-header-inner div.left-btn a,
	#main-wrap #mobile-header .mobile-header-inner div.right-btn a {
		background-size: 75% !important;
	}

}

/*--------------------------------------------------------------
13.3 - MINIMUM width of 720 pixels (tablets+)
--------------------------------------------------------------*/

@media screen and (min-width: 720px) {

	body {
		background-color: #fff;
	}
	body .site {
		margin-top: 28px;
		margin-bottom: 48px;
	}
	.header-inner,
	.nav-inner,
	.site,
	.footer-inner {
		max-width: 1040px;
		margin: 0 auto;
		padding: 0 30px;
	}
	.header-inner {
		min-height: 116px;
		overflow:visible;
	}
	.author-avatar {
		float: left;
		margin-top: 8px;
	}
	.author-description {
		float: right;
		width: 80%;
	}
	#main-wrap #inner-wrap{ height:auto !important; float:left; width:100%; margin:0px 0px 80px 0px}
	/*
	.fluid-width-video-wrapper {
		padding-top: 0 !important;
	}
	.fluid-width-video-wrapper iframe,
	.fluid-width-video-wrapper object,
	.fluid-width-video-wrapper embed {
		width: 425px !important;
		height: 344px !important;
		position: relative !important;
	}
	*/

	/*--------------------------------------------------------------
	13.3.1 - Sidebars
	--------------------------------------------------------------*/

	/* Right Sidebar (default) */

	.site-content {
		float: left;
		width: 69.2%;
	}
	.widget-area {
		float: right;
		width: 26%;
	}

	/* Left Sidebar */

	.page-left-sidebar .site-content {
		float: right;
	}
	.page-left-sidebar .widget-area {
		float: left;
	}


	/* Three Columns (two sidebars) */

	.page-three-columns .site-content /* center column */ {
		float: left;
		width: 50%;
	}
	.page-three-columns .widget-area /* right widget area */ {
		float: right;
		width: 20%;
	}
	.page-three-columns .left-widget-area /* left widget area */ {
		float: left;
		width: 20%;
		margin-right: 5%;
	}

	/* Full Width (no sidebar) */

	body.template-front-page .site-content,
	body.single-attachment .site-content,
	body.full-width .site-content,
	.page-full-width .site-content,
	.page-full-width {
		width: 100%;
	}

	/*--------------------------------------------------------------
	13.3.2 - Footer Widgets
	--------------------------------------------------------------*/

	.footer-widget {
		float: left;
		width: 17%;
		margin-right: 3%;
		text-align: left;
	}

	/*--------------------------------------------------------------
	13.3.3 - Header & Navigation
	--------------------------------------------------------------*/

	.site-header h1 {
		text-align: left;
	}
	.site-header h1 {
		font-size: 26px;
		line-height: 1.846153846;
		margin-bottom: 0;
	}
	.main-navigation {
		background-color: #3c3c3c;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	    margin-top: 14px;
	    text-align: center;
	}
	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		text-align: left;
		width: 100%;
	}
	.main-navigation ul {
		margin: 0;
		text-indent: 0;
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
		text-decoration: none;
	}
	.main-navigation li a {
		border-bottom: 0;
		color: #fff;
		font-weight: bold;
		line-height: 1;
		padding: 14px 17px;
		font-size: 14px;
		white-space: nowrap;
		word-wrap: break-word;
	}
	.main-navigation li a:hover {
		background-color: #555555;
		color: #fff;
		-moz-box-shadow:    inset 0 0 4px rgba(0, 0, 0, 0.15);
		-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
		box-shadow:         inset 0 0 4px rgba(0, 0, 0, 0.15);
	}
	.main-navigation li {
		margin: 0;
		float: left;
		font-size: 14px;
		line-height: 1;
		position: relative;
	}
	.main-navigation li ul {
		display: none;
		margin: 0;
		padding: 0px 0;
		position: absolute;
		top: 100%;
		z-index: 1;
		background: #efefef;
		border: 1px solid #cdcdcd;
		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}
	.main-navigation li ul ul {
		top: 0px;
		left: 100%;
		background: #fff;
	}
	.main-navigation ul li:hover > ul {
		border-left: 0;
		display: block;
	}
	.main-navigation li ul li a {
		border: none;
		display: block;
		font-size: 11px;
		line-height: 2.181818182;
		padding: 5px 10px 5px 15px !important;
		width: 180px;
		white-space: normal;
		color: #777;
	}
	.main-navigation li ul li a:hover {
		background: #e5e5e5;
		color: #444;
		-moz-box-shadow:    none;
		-webkit-box-shadow: none;
		box-shadow:         none;
	}
	.main-navigation li ul ul li a:hover {
		background: #eaf2fa;
	}
	.main-navigation div > ul > .current-menu-item > a,
	.main-navigation div > ul > .current-menu-ancestor > a {
		background-color: #558AB4;
		color: #fff;
		-moz-box-shadow:    inset 0 0 4px rgba(0, 0, 0, 0.15);
		-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
		box-shadow:         inset 0 0 4px rgba(0, 0, 0, 0.15);
	}
	.main-navigation div > ul ul > .current-menu-item > a,
	.main-navigation div > ul ul > .current-menu-ancestor > a {
		background: #300948 ;
	}
	.entry-header .entry-title {
		font-size: 25px;
	}
	#respond form input[type="text"] {
		width: 46.333333333%;
	}
	#respond form textarea.blog-textarea {
		width: 79.666666667%;
	}
	.template-front-page .site-content,
	.template-front-page article {
		overflow: hidden;
	}
	.template-front-page.has-post-thumbnail article {
		float: left;
		width: 47.916666667%;
	}
	.entry-page-image {
		float: right;
		margin-bottom: 0;
		width: 47.916666667%;
	}
	.template-front-page .widget-area .widget,
	.template-front-page.two-sidebars .widget-area .front-widgets {
		float: left;
		width: 51.875%;
		margin-bottom: 24px;
	}
	.template-front-page .widget-area .widget:nth-child(odd) {
		clear: right;
	}
	.template-front-page .widget-area .widget:nth-child(even),
	.template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
		float: right;
		width: 39.0625%;
		margin: 0 0 24px;
	}
	.template-front-page.two-sidebars .widget,
	.template-front-page.two-sidebars .widget:nth-child(even) {
		float: none;
		width: auto;
	}
	.commentlist .children {
		margin-left: 60px;
	}

	/*--------------------------------------------------------------
	13.3.4 - Sliding Panels
	--------------------------------------------------------------*/

	#mobile-header {display: none;}
	li#bb-custom-notification-area {display: none;}

}

/*--------------------------------------------------------------
13.4 - MINIMUM width of 960 pixels (desktops and laptops)
--------------------------------------------------------------*/

@media screen and (min-width: 1040px) {

	body {
		background-color: #f6f7f8;
    overflow-x:hidden;
	}
	body .site {
		max-width: 958px; /* 2px subtracted for border */
		padding:40px;
		background: #fff;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	    border-radius: 3px;
		border: 1px solid #E0E1E4;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
	}

}
#dcssb-float{float:left;  margin:0px; pdding:0px; border:1px solid #d3d3d3; border-radius:11px; background:#eeeeee; top:40px !important; left:25px !important; position:fixed !important;}
.tab {
    float: left;
    width: 100%;
}
.tab span{
    float: left;
    width: 100%;
}
.tab span img{
    float: left;
    width: 90%;
  margin:5px 4%;
}
.dc-social-float-content {
    float: left;
    width: 100%;
}
.twitter-share-button.twitter-tweet-button.twitter-count-vertical {
    float: left;
    margin: 0 5%;
    max-width: 100% !important;
    width: 90% !important;
}
.fb_iframe_widget{float:left; width:100%;}
.fb_iframe_widget span{float:left; width:100% !important;}
.fb_iframe_widget span iframe {  float: left;
    margin: 5px 22%;
    max-width: 100% !important;
    width: 56% !important;
}
#dcssb-plusone{float:left; width:100% !important;}
#___plusone_0{float:left; width:100% !important;}
#___plusone_0 iframe {  float: left;
    margin: 10px 22% !important;
    max-width: 100% !important;
    width: 56% !important;
}
#dcssb-linkedin{float:left; width:100% !important; margin:10px 0px;}
#dcssb-linkedin span{float:left; width:80% !important; margin:1px 6%;}