.group-box-image-container {
    width: 125px;
    height:125px;
}
a.group-box-image img {
  height:125px;
  width:125px;
}

#wp-submit, #signup_submit, .wpcf7-submit, #post-topic-reply #submit, #new-topic-post #submit, .my-account #submit, #new-topic-button, .page-template-search-page-php #search-submit, #comment-submit { 
background: -moz-linear-gradient(top,  rgba(145,105,227,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,105,227,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69169e3', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#mytabs, #mytabs2 { 
background: -moz-linear-gradient(top,  rgba(145,105,227,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,105,227,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69169e3', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
border:1px solid #3E3159; box-shadow: inset 0px 0px 0px 1px #3E3159; }
#ajaxsearchpro1 .probox { background:url( "images/search_h.png" ) no-repeat; }
.item-list-tabs .customStyleSelectBoxInner { background:#3E3159; }
header {
    height: 200px;
}
header .tile-title {
    color: black;
}
header .tile:hover {
    background: #3E3159;
}
header .tile a:hover {
    color: white;
}
header .tile a:visited:hover {
    color: white;
}
header .tile-username a  {
    color: purple;
    text-shadow: 1px 1px 1px black;
}
header .tile-username a:visited {
    color: purple;
}
header .tile-logout a {
    color: black;
    position: relative;
    top: 14px;
}
#header-right a {
    color: black;
}
#header-right {
    width: 770px;
}
#header-right-1 {
    width: 480px;
}
header .tile img {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 40px;
}
header a.tile-messages {
    margin-top: 14px;
    height: 20px;
    padding-left:28px;
    font-size: 14px;
    color: red;
    text-shadow: 1px 1px 1px black;
}
header a.tile-messages img {
    position: relative;
    top: -5px;
    height: 24px;
}
header .tile {
background: -moz-linear-gradient(top,  rgba(145,105,227,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,105,227,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69169e3', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
height: 60px;
width: 75px;
}
header .tile2, #front-login-submit {
    color: black;
    background: -moz-linear-gradient(top,  rgba(145,105,227,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,105,227,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69169e3', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
height: 60px;
}
#object-nav ul li, #object-nav2 ul li { 
background-image: -webkit-gradient(
	linear,
	left top,
	left top,
	color-stop(0, #3E3159),
	color-stop(1, #5B4090)
);
background-image: -o-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -moz-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -webkit-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -ms-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: linear-gradient(to left top, #3E3159 0%, #5B4090 100%);}
#object-nav ul li:hover, #object-nav2 ul li:hover { background-image: -webkit-gradient(
	linear,
	left top,
	left top,
	color-stop(0, #3E3159),
	color-stop(1, #5B4090)
);
background-image: -o-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -moz-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -webkit-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -ms-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: linear-gradient(to left top, #3E3159 0%, #5B4090 100%);
}
#object-nav ul li a, #object-nav2 ul li a, #subnav ul li a { text-shadow: 1px 1px 0px black; }
#object-nav ul li.current, #object-nav2 ul li.current {  background-image: -webkit-gradient(
	linear,
	left top,
	left top,
	color-stop(0, #3E3159),
	color-stop(1, #5B4090)
);
background-image: -o-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -moz-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -webkit-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -ms-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: linear-gradient(to left top, #3E3159 0%, #5B4090 100%);
}
div.item-list-tabs ul li a span { background: #3E3159; border:1px solid #3E3159; }
div.item-list-tabs ul li.selected a span, div.item-list-tabs ul li.current a span, div.item-list-tabs ul li a:hover span { background-color: #3E3159; }
#subnav { background-image: url( "images/spacer-subnav_h.png" ); }
.page-title { text-shadow:black 1px 1px 0px;
background: -moz-linear-gradient(top,  rgba(145,105,227,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,105,227,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69169e3', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.post-title { text-shadow:black 1px 1px 0px; 
background-image: -webkit-gradient(
	linear,
	left top,
	left top,
	color-stop(0, #3E3159),
	color-stop(1, #5B4090)
);
background-image: -o-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -moz-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -webkit-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -ms-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: linear-gradient(to left top, #3E3159 0%, #5B4090 100%);
}
div#bbpress-forums h3 { text-shadow:#3E3159 1px 1px 0px; background-image: -webkit-gradient(
	linear,
	left top,
	left top,
	color-stop(0, #3E3159),
	color-stop(1, #5B4090)
);
background-image: -o-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -moz-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -webkit-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -ms-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: linear-gradient(to left top, #3E3159 0%, #5B4090 100%);
}
.blog-bottom { background-image: url( "images/spacer-blog-bottom_h.gif" ); }
.blog-bottom-spacer { background-image: url( "images/spacer-post-v_h.gif" ); }
ul li.forum-lastposts .activity-content { background:#3E3159; }
ul li.forum-lastposts .activity-content:hover { background:#3E3159; }
nav ul li.current-menu-item {
background: -moz-linear-gradient(top,  rgba(145,105,227,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,105,227,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(145,105,227,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69169e3', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
nav ul li.current-menu-item a {
    color: black;
}
nav ul ul { border-top:3px solid #3E3159; }
nav ul li.parent:hover { background-image: url( images/menu-arrow1_h.png ); }
nav ul li ul li.parent:hover { background-image: url( images/menu-arrow2_h.png ); }
span.activity { background:#3E3159; }
span.activity:hover { background:#3E3159; }
.comment-options .comment-reply-link, .comment-options .comment-edit-link { background:#3E3159; }
.icon-share { background-image: url( images/icon-share_h.png ); }
.buttonCon .theButton { background: url("slider/circlebutton_h.png") no-repeat; }
.slider-more { background-color:#3E3159; }

div#item-header img.avatar {
width: 150px;
height: 150px;
}

img.avatar {
    width: 88px;
    height: 88px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
}

#right-login {
    background:#dedede;
    color: black;
}

#front-login-submit { 
background-image: -webkit-gradient(
	linear,
	left top,
	left top,
	color-stop(0, #3E3159),
	color-stop(1, #5B4090)
);
background-image: -o-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -moz-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -webkit-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -ms-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: linear-gradient(to left top, #3E3159 0%, #5B4090 100%);
}

#frontpage-info-big {
    font-size: 150px;
}
.my-notification {
    background-image: -webkit-gradient(
	linear,
	left top,
	left top,
	color-stop(0, #3E3159),
	color-stop(1, #5B4090)
);
background-image: -o-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -moz-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -webkit-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -ms-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: linear-gradient(to left top, #3E3159 0%, #5B4090 100%);
    color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.forum-lastposts-avatar img {
    width: 45px !important;
    height: 45px !important;
}
img.avatar-14 {
    width: 14px !important;
    height: 14px !important;
}
.avatar-social-login {
    width: 14px;
    width: 14px;
}

.bbp-author-role {
background-image: -webkit-gradient(
	linear,
	left top,
	left top,
	color-stop(0, #3E3159),
	color-stop(1, #5B4090)
);
background-image: -o-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -moz-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -webkit-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -ms-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: linear-gradient(to left top, #3E3159 0%, #5B4090 100%);
}
.page-title {
    border: 2px solid black;
    box-shadow:white 0 0 0 1px inset;
}
.post-title {
    border: 2px solid black;
    box-shadow:white 0 0 0 1px inset;
}
.tile-avatar { 
    background-color: #fff;
}
.qq-upload-button {
background-image: -webkit-gradient(
	linear,
	left top,
	left top,
	color-stop(0, #3E3159),
	color-stop(1, #5B4090)
);
background-image: -o-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -moz-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -webkit-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: -ms-linear-gradient(left top, #3E3159 0%, #5B4090 100%);
background-image: linear-gradient(to left top, #3E3159 0%, #5B4090 100%);
}

.bbp-template-notice {
  display: none;
}