/*--------------------------------------------------------------
This is the BuddyBoss Pictures stylesheet.
Only loads if the BuddyBoss Pictures component is activated.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 -  PhotoSwipe Gallery
  1.1 - General
  1.2 - Document overlay
  1.3 - UILayer
  1.4 - Zoom/pan/rotate layer
  1.5 - Carousel
  1.6 - Caption
  1.7 - Toolbar
  1.8 - Hi-res display
2.0 - Post update form and pic preview
3.0 - Picture grid
4.0 - Responsive media queries (mobile styles)
  4.1 - MAXIMUM width of 720 pixels (large phones)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - PhotoSwipe Gallery
--------------------------------------------------------------*/

/*
 * photoswipe.css
 * Copyright (c) %%year%% by Code Computerlove (http://www.codecomputerlove.com)
 * Licensed under the MIT license
 *
 * Default styles for PhotoSwipe
 * Avoid any position or dimension based styles
 * where possible, unless specified already here.
 * The gallery automatically works out gallery item
 * positions etc.
 */

/*--------------------------------------------------------------
1.1 - General
--------------------------------------------------------------*/

body.ps-active, body.ps-building, div.ps-active, div.ps-building
{
  background: #000;
  overflow: hidden;
}
body.ps-active *, div.ps-active *
{
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  display: none;
}
body.ps-active *:focus, div.ps-active *:focus
{
  outline: 0;
}
body #wpadminbar {
  z-index: 90000;
}

/*--------------------------------------------------------------
1.2 - Document overlay
--------------------------------------------------------------*/

div.ps-document-overlay
{
  z-index: 999999;
  background: #000;
}

/*--------------------------------------------------------------
1.3 - UILayer
--------------------------------------------------------------*/

div.ps-uilayer {

  background: #000;
  cursor: pointer;

}

/*--------------------------------------------------------------
1.4 - Zoom/pan/rotate layer
--------------------------------------------------------------*/

div.ps-zoom-pan-rotate{
  background: #000;
}
div.ps-zoom-pan-rotate *  { display: block; }

/*--------------------------------------------------------------
1.5 - Carousel
--------------------------------------------------------------*/

div.ps-carousel-item-loading
{
  background: url(loader.gif) no-repeat center center;
}

div.ps-carousel-item-error
{
  background: url(error.gif) no-repeat center center;
}

/*--------------------------------------------------------------
1.6 - Caption
--------------------------------------------------------------*/

div.ps-caption
{
  background: #000000;
  background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
  border-bottom: 1px solid #42403f;
  color: #ffffff;
  font-size: 13px;
  font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
  text-align: center;
}
div.ps-caption *  { display: inline; }

div.ps-caption-bottom
{
  border-top: 1px solid #42403f;
  border-bottom: none;
  min-height: 44px;
}

div.ps-caption-content
{
  padding: 13px;
  display: block;
}
div.ps-caption, div.ps-caption * {
  cursor: pointer;
}

/*--------------------------------------------------------------
1.7 - Toolbar
--------------------------------------------------------------*/

div.ps-toolbar
{
  background: #000000;
  background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
  border-top: 1px solid #42403f;
  color: #ffffff;
  font-size: 13px;
  font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
  text-align: center;
  height: 44px;
  display: table;
  table-layout: fixed;
}
div.ps-toolbar * {
  display: block;
}

div.ps-toolbar-top
{
  border-bottom: 1px solid #42403f;
  border-top: none;
}

div.ps-toolbar-close, div.ps-toolbar-comments, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play
{
  cursor: pointer;
  display: table-cell;
}

div.ps-toolbar div div.ps-toolbar-content
{
  width: 44px;
  height: 44px;
  margin: 0 auto 0;
  background-image: url('icons.png');
  background-repeat: no-repeat;
}

div.ps-toolbar-close div.ps-toolbar-content
{
  background-position: 0 0;
}

div.ps-toolbar-comments div.ps-toolbar-content
{
  background-image: url('icons.png');
  background-position: -176px 0;
}

div.ps-toolbar-previous div.ps-toolbar-content
{
  background-position: -44px 0;
}

div.ps-toolbar-previous-disabled div.ps-toolbar-content
{
  background-position: -44px -44px;
}

div.ps-toolbar-next div.ps-toolbar-content
{
  background-position: -132px 0;
}

div.ps-toolbar-next-disabled div.ps-toolbar-content
{
  background-position: -132px -44px;
}

div.ps-toolbar-play div.ps-toolbar-content
{
  background-position: -88px 0;
}

/*--------------------------------------------------------------
1.8 - Hi-res display
--------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
  div.ps-toolbar div div.ps-toolbar-content
  {
    -moz-background-size: 225px 88px;
    -o-background-size: 225px 88px;
    -webkit-background-size: 225px 88px;
    background-size: 225px 88px;
    background-image: url('icons@2x.png');
  }
}

/*--------------------------------------------------------------
2.0 - Post update form and pic preview
--------------------------------------------------------------*/

form#whats-new-form {
  position: relative;
}
#whats-new-pic {
  float: right;
  position: relative;
}
.buddyboss-pics-progress,
.buddyboss-pics-progress-bar,
.buddyboss-pics-progress-value {
  float: right;
}
.buddyboss-pics-progress-value,
.buddyboss-pics-progress-bar {
  /*display: none;*/
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.buddyboss-pics-progress.uploading {
  margin: 0;
}
.uploading .buddyboss-pics-progress-value,
.uploading .buddyboss-pics-progress-bar {
  display: block;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.buddyboss-pics-progress-value {
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  color: #777;
  text-align: right;
  margin: 0 10px;
}
.buddyboss-pics-progress progress,          /* All HTML5 progress enabled browsers */
.buddyboss-pics-progress progress[role]     /* polyfill */
{
  /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  /* gets rid of default border in Firefox and Opera. */
  border: none;

  /* Needs to be in here for Safari polyfill so background images work as expected. */
  background-size: auto;

  /* Dimensions */
  width: 100px;
  height: 13px;
}
/* Polyfill */
.buddyboss-pics-progress progress[role]:after {
  background-image: none; /* removes default background from polyfill */
}
.buddyboss-pics-progress progress,                          /* Firefox  */
.buddyboss-pics-progress progress[role][aria-valuenow] {    /* Polyfill */
  background: #eee !important; /* !important is needed by the polyfill */
}
/* Chrome */
.buddyboss-pics-progress progress::-webkit-progress-bar {
 background: #eee;
  border-radius: 5px;
}



#whats-new-pic {  /* button text is defined in _inc/global.js */
  background: url(icon-photo.gif) no-repeat scroll 0 0 transparent;
  padding-left: 21px;
  font-size: 12px;
  color: #497EA8;
  font-weight: bold;
  min-height: 14px;
  line-height: 1.2;
  cursor: pointer;
}
#whats-new-pic:hover {
  text-decoration: underline;
}



.buddyboss_qq-upload-drop-area {
  display: none !important;
}
.buddyboss_qq-upload-button {  /* button text is defined in _inc/global.js */
  background: url(icon-photo.gif) no-repeat scroll 0 0 transparent;
  padding-left: 21px;
  font-size: 12px;
  color: #497EA8;
  font-weight: bold;
  min-height: 14px;
  line-height: 1.2;
}
.buddyboss_qq-upload-button-hover {
  text-decoration: underline;
}
.buddyboss_qq-upload-list {
  display: none;
}
#whats-new-pic-preview {
  display: block;
  height: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}
#whats-new-pic-preview img {
  margin-top: 15px;
}
form#whats-new-form #whats-new-pic.ajax-loader {
  background: url(ajax-loader.gif) no-repeat right center;
  background-image: url('ajax-loader.gif');
  background-repeat: no-repeat !important;
  background-position: right center;
  padding-right: 20px;
}
form#whats-new-form #whats-new-uploader {
  float: left;
  margin-left: 2px;
}
.activity-inner .buddyboss-pics-picture-link {
  display: none;
}
#content.buddyboss-activity-ajax {
  width: 823px;
  padding-bottom: 5px;
}

/*--------------------------------------------------------------
3.0 - Picture grid
--------------------------------------------------------------*/

#buddyboss-pics-grid {
  margin: 0 -0.5%;
}
#buddyboss-pics-grid .gallery-item {
  float: left;
  margin: 0.5%;
  width: 19%;
  text-align: center;
  position: relative;
}
#buddyboss-pics-grid .gallery-item img {

}
#buddyboss-pics-grid .gallery-item .buddyboss_pics_action,
#buddyboss-pics-grid .gallery-item p {
  display: none;
}
#buddyboss-pics-grid .gallery-item .gallery-icon {
  line-height: 0;
}
#buddyboss-pics-grid .gallery-item .gallery-icon a {
  width: 100%;
}
#buddyboss-pics-grid .gallery-item img {
  box-shadow: none;
  padding: none;
  max-width: 100%;
  height: auto;
  padding: 0;
}
#buddyboss-pics-grid .gallery-caption {
  margin-left: 0;
}
.paged-navigation {
  clear: both;
  overflow: hidden;
  position: relative;
  padding: 15px 0 0 5px;
}

/*--------------------------------------------------------------
4.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.1 - MAXIMUM width of 720 pixels (large phones)
--------------------------------------------------------------*/

@media screen and (max-width: 720px) {

  #buddyboss-pics-grid .gallery-item {
    width: 32.33%;
  }
  .buddyboss-pics-progress .buddyboss-pics-progress-bar {
    display: none;
  }
  .buddyboss-pics-progress,
  .buddyboss-pics-progress-bar,
  .buddyboss-pics-progress-value {
    position: absolute;
    right: 8px;
    top: 22px;
    float: none;
    margin: 0;
  }
  .buddyboss-pics-progress-value {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    margin: 0;
  }

}