/*
Theme Name: 	BuddyBoss Child Theme
Theme URI: 		http://www.buddyboss.com/child-themes/
Description: 	A child theme of BuddyBoss. To ensure easy updates, make your own edits to BuddyBoss in this theme.
Author: 		BuddyBoss.com
Author URI: 	http://www.buddyboss.com
Tags: 			wordpress, buddypress, bbpress, responsive
Template: 		buddyboss
Version: 		3.0.7
*/

/*

Add your own customizations into /css/custom.css in this child theme.

Parent styles are called from /buddyboss-inc/theme.php in the parent
theme and are located in /buddyboss/css/ in the parent theme.


--- If you are editing CSS via the WordPress admin, do the following ---

1. Install the plugin WP Editor: http://wordpress.org/plugins/wp-editor/
2. Navigate to Appearance > Theme Editor in the WordPress admin.
2. Navigate into the /css/ folder of your child theme to edit custom.css.


--- The styles are loaded in the following order ---

-- PARENT THEME --

1. buddyboss-pics.css   	BuddyBoss photos (only if User Photo Uploading is activated).

2. wordpress.css 			WordPress styles (always loaded)
3. buddypress.css 			BuddyPress (only if BuddyPress is activated)
4. bbpress.css				bbPress (only if bbPress is activated)
5. plugins.css 				Support for 3rd party plugins
6. adminbar-mobile.css		adminbar left and right sliders (for phones)

7. adminbar-floating.css	adminbar using a right floated layout (set in Appearance > BuddyBoss)
7. adminbar-fixed.css		adminbar using a top fixed layout (set in Appearance > BuddyBoss)

8. ie.css					fixes for Internet Explorer 7 and 8 (only loaded in those browsers)

-- CHILD THEME --

9. custom.css

The later on a stylesheet is loaded, the higher precedent it gets.
So for example, if you define a CSS element in custom.css that has already
been defined in wordpress.css, the version in custom.css will be used.

Each stylesheet includes a table of contents to help you navigate
through it. You will notice that many of them include a section with
media queries. Media queries allow us to detect a browser's screen
size, and load specific styles only if the screen is larger or smaller
than that particular size. This allows us to define a large set of
global styles, and then specific styles for phones, tablets,
and desktops & laptops - just based on the predicted screen size
of these devices. That's boss!

*/

.site-header{background:#ffffff !important;}