@font-face {
 font-family: 'HelveticaLTStdRoman';
 src: url('helveticaltstd-roman.eot');
 src: url('helveticaltstd-roman.eot') format('embedded-opentype'),  url('helveticaltstd-roman.woff') format('woff'),  url('helveticaltstd-roman.ttf') format('truetype'),  url('helveticaltstd-roman.svg#HelveticaLTStdRoman') format('svg');
}
@font-face {
 font-family: 'HelveticaLTStdLightCondensed';
 src: url('helveticaltstd-lightcond.eot');
 src: url('helveticaltstd-lightcond.eot') format('embedded-opentype'),  url('helveticaltstd-lightcond.woff') format('woff'),  url('helveticaltstd-lightcond.ttf') format('truetype'),  url('helveticaltstd-lightcond.svg#HelveticaLTStdLightCondensed') format('svg');
}
