@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
 div.social-wrap button {
    position: relative;
    top: -1px;
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(https://petspage.com/wp-content/uploads/2014/07/facebook-icon.png);
}
div.social-wrap button:active {
    background-color: #222;
}
        .sign {
            position: relative;
            float: left;
            height: 33px;
            font-size: 19px;
            border: 1px solid rgba(0,0,0,.7);
            background: rgba(0,0,0,.7);
            color: white;
            top: 10px;
            left: 15px;
            padding: 0px 30px 0px 20px;
            border-top-left-radius: 50px 50px;
            border-bottom-left-radius: 50px 50px;
            z-index: 5;
            box-shadow: 0px 2px 2px black;
        }
        .sign p {
          /*  position: relative;*/
            top: -15px;
        }
        .sign2 {
            position: relative;
            float: left;
            height: 33px;
            font-size: 30px;
            border: 1px solid rgba(0,0,0,.7);
            background: rgba(0,0,0,.7);
            top: 10px;
            left: -20px;
            width: 230px;
            padding: 0px 20px 0px 30px;
            z-index: 6;
            box-shadow: 2px 2px 2px black;

        }
        .circle {
            z-index: 16;
            position: relative;
            float: left;
            height: 50px;
            width: 50px;
            background: #fff;
            border-radius: 50% 50%;
            border: 1px solid rgba(0,0,0,.7);
            box-shadow: 0px 1px 1px black;
        }
        .or {
            font-family: 'Dancing Script', cursive;
            position: relative;
            float: left;
            top: -10px;
            left: 8px;
            font-size: 45px;
        }

@media screen and (min-width: 640px) { 
/* CSS Document */
body {
	font-family: 'TahomaRegular';;
	font-size:16px;
	color:#777777;
	line-height:20px;
	font-weight:400;
}
* {
	margin:0px;
	padding:0px;
}
a {
	text-decoration:none;
	font-family: 'TahomaRegular';
}
img, a img {
	border:none;
	outline:none;
}
ol, ul {
	list-style:none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'TahomaRegular';
}
p {font-family: 'TahomaRegular';
}
#pets_login{float:left; margin:0px; padding:0px; width:100%;}
#login_wrapper{margin:0px auto; width:1040px;}
.login_header{width:100%; float:left; margin:0px; padding:10px 0px 10px; background:#ffffff; }
.login_logo{width:40%; float:left; margin:0px; padding:0px;}
.login_logo a{ float:left; margin:0px; padding:0px;}
.login_logo a img{width:auto; float:left; margin:0px; padding:0px;}
.logon_form{width:60%; float:left; margin:0px; padding:0px;}
.logon_form form {
	width:100% !important;
	float:left;
	margin:0px;
	padding:0px;
}
.logon_form form p{
	width:40% ;
	float:left;
	margin:0px;
	padding:0px;
}
.logon_form form p label {
	width:100%;
	float:left;
	margin:0px;
	padding:10px 0px;
	font-size:15px;
	line-height:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#262626;;
}

.logon_form form p input {
	width:90% ;
	float:left;
	margin:0px;
	padding:0px 0px 0px 10px;
	font-size:15px;
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#262626;
	border:1px solid #C9C6C6;
	height:30px;
}
.logon_form form p.sign{
	width:20% ;
	float:left;
	margin: 0px;
	padding:0px;
}
.logon_form form p.sign input.submit_button{
	width:auto; 
	float:left; 
	margin:0px 0px 0px !important; 
	padding:5px 30px; 
	border:none; 
	height:auto; 
	background:#300948 !important;
	font-family:Arial, Helvetica, sans-serif;
    font-size: 17px; 
	font-style: normal; 
	font-weight: normal;
	color:#ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.login_section{float:left; margin:0px; padding:50px 0px; width:100%;} 
.login_section h2{float:left; margin:0px; padding:0px; width:100%; font-family:Tahoma, Geneva, sans-serif; font-size: 30px; font-style: normal; font-weight: bold; color:#3B1555; text-align:center; line-height:40px;} 
.login_section_left{width:54%; float:left; margin:20px 1% 0px 0px; padding:0px;} }
.pets_images{float:left; margin:0px; padding:0px; width:100%}
.pets_ima_inner{float:left; margin:0px 1.3% 1.3% 0px; padding:0px; width:32%;}
.pets_ima_inner img{float:left; margin:0px; padding:0px; width:100%;}
.login_section_left h4{float:left; margin:0px; padding:10px 0px 0px 0px; width:90%; font-family:Arial, Helvetica, sans-serif; font-size: 20px; font-style:italic; font-weight:normal; color:#555555; line-height:30px; text-align:center}
.login_section_left p{float:left; margin:0px; padding:10px 0px 0px 0px; width:90%; font-family:Arial, Helvetica, sans-serif; font-size: 15px; font-style:normal; font-weight:normal; color:#555555; line-height:30px; text-align:center}
.login_section_right{width:45%; float:left; margin:0px; padding:0px;}
.login_section_right h3{float:left; margin:0px; padding:10px 0px 0px 0px; width:100%; font-family:Arial, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-weight:normal; color:#555555; line-height:30px;}
.login_section_right h3 span{float:left; margin:0px; padding:0px; width:100%; font-family:Arial, Helvetica, sans-serif; font-size: 17px; font-style: normal; font-weight:normal; color:#262626;  line-height:20px;}

.login_section_right form {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}
.login_section_right form p {
	float:left;
	margin:15px 0px 0px;
	padding:0px;
	width:100%;
}
    

.login_section_right form p label {
	float:left;
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#262626;
	font-size:16px;
	font-weight:normal;
	width:100%;
	line-height:40px
}

.login_section_right form p input {
	float:left;
	margin:10px 0px 10px;
	padding:0px 0px 0px 5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#262626;
	font-size:16px;
	font-weight:normal;
	width:95%;
	border:1px solid #3B1555;
	height:40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.login_section_right form p input.input_login {
	float:left;
	margin:0px 0px 0px 0px;
	padding:13px 50px 16px !important;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:24px;
	font-weight:normal;
	width:auto !important;
	border:none;
	height:auto !important;
	background:#3B1555
}


.login_footer {
    background-color: #242424;
    color: rgba(225, 225, 225, 0.8);
    font-size: 13px;
    padding: 30px 0;
	float:left;
	width:100%;
}
    
#footer-credits {
    float: left;
    width: 50%;
}
#footer-credits p {
    font-size: 15px;
	float:left; width:100%; font-family:Arial, Helvetica, sans-serif; color:#ffffff; margin:0px; padding:0px; line-height:24px;
}

.footer_social {
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}
.footer_social ul {
    float: right;
    margin: 0;
    padding: 0;
    width:64%;
}

.footer_social ul li {
    float: left;
    list-style: none outside none;
    margin: 0 15px 0 0;
    padding: 0;
}
.social_1 {
    float: left;
    height: 32px;
    width: 32px;
}
.social_1 a {
    background:url(../images/social_1.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 32px;
    width: 32px;
}
.social_1 a:hover {
    background: url(../images/social_1.png) no-repeat scroll 0 -32px rgba(0, 0, 0, 0);

}
.social_2 {
    float: left;
    height: 32px;
    width: 32px;
}
.social_2 a {
    background:url(../images/social_2.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 32px;
    width: 32px;
}
.social_2 a:hover {
    background: url(../images/social_2.png) no-repeat scroll 0 -32px rgba(0, 0, 0, 0);

}
.social_3 {
    float: left;
    height: 32px;
    width: 32px;
}
.social_3 a {
    background:url(../images/social_3.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 32px;
    width: 32px;
}
.social_3 a:hover {
    background: url(../images/social_3.png) no-repeat scroll 0 -32px rgba(0, 0, 0, 0);

}
.social_5 {
    float: left;
    height: 32px;
    width: 32px;
}
.social_5 a {
    background:url(../images/social_5.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 32px;
    width: 32px;
}
.social_5 a:hover {
    background: url(../images/social_5.png) no-repeat scroll 0 -32px rgba(0, 0, 0, 0);

}
.social_6 {
    float: left;
    height: 32px;
    width: 32px;
}
.social_6 a {
    background:url(../images/social_6.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 32px;
    width: 32px;
}
.social_6 a:hover {
    background: url(../images/social_6.png) no-repeat scroll 0 -32px rgba(0, 0, 0, 0);

}
.social_7 {
    float: left;
    height: 32px;
    width: 32px;
}
.social_7 a {
    background:url(../images/social_7.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 32px;
    width: 32px;
}
.social_7 a:hover {
    background: url(../images/social_7.png) no-repeat scroll 0 -32px rgba(0, 0, 0, 0);

}
.social_8 {
    float: left;
    height: 32px;
    width: 32px;
}
.social_8 a {
    background:url(../images/social_8.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 32px;
    width: 32px;
}
.social_8 a:hover {
    background: url(../images/social_8.png) no-repeat scroll 0 -32px rgba(0, 0, 0, 0);


}
._li{width:100%; float:left; margin:0px; padding:0px;}
.registration_redesign{width:100%; float:left; margin:0px; padding:0px;}
.large_form{width:100%; float:left; margin:0px; padding:0px; position: relative; top: -35px;}
.register-divide-bottom {
    border: 0;
    height: 1px;
    position: relative;
    top: -15px;
    z-index: 50;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(59,21,85,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.register-divide-top {
    border: 0;
    height: 1px;
    z-index: 50;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(59,21,85,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/* Tooltip Settings */

.Zebra_Tooltip {
    position: absolute;
    z-index: 8000;
    background: transparent;
    font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.Zebra_Tooltip .Zebra_Tooltip_Message {
    position: relative;
    padding: 20px;
    font-size: inherit;
    text-align: left;
    font-weight: normal;
    line-height: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    *margin-right: 0;
    _width:expression(document.body.clientWidth > 250 ? '250px': 'auto'); /* max-width for IE6 */
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow         { position: absolute; height: 10px; width: 20px; overflow: hidden }

.Zebra_Tooltip .Zebra_Tooltip_Arrow_Bottom  { bottom: 0 }
.Zebra_Tooltip .Zebra_Tooltip_Arrow_Top     { top: 0    }

.Zebra_Tooltip .Zebra_Tooltip_Arrow div {
    position: absolute;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    left: 0;
    _border-left-color: pink;
    _border-right-color: pink;
    _filter: chroma(color=pink);
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow_Bottom div  {
    top: 0;
    _border-bottom-color: pink;
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow_Top div     {
    bottom: 0;
    _border-top-color: pink;
}

.Zebra_Tooltip .Zebra_Tooltip_Close {
    text-decoration: none;
    color: #FFF;
    position: absolute;
    right: 8px;
    top: 1px;
    font-size: inherit;
    font-weight: bold;
}

.Zebra_Tooltip .Zebra_Tooltip_Close:hover {
    color: #C40000;
}
    
    
@media only screen and (max-device-width: 320px) { 


 .logon_form form p.sign input.submit_button {
    background: none repeat scroll 0 0 #300948 !important;
    border: medium none;
    border-radius: 5px;
    float: left;
    margin: 0 0 0 25% !important;
    padding: 7px 50px !important;
}
._58mi {
    margin: 10px 0 10px 17% !important;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}
    #pets_login{float:none; margin:0px; padding:0px; width:100%;}
    #login_wrapper{margin:0px auto; width: 100% !important;}
    .login_header{width:100%; float:none; margin:0px; padding:10px 0px 10px; background:#ffffff; }
    .login_logo{width:100%; float:none; margin:0px; padding:0px; text-align: center;}
    .login_logo a{ float:none; margin:0px; padding:0px;}
    .login_logo a img{width:80%; float:none; margin:0px; padding:0px;}
    .logon_form{width:100%; text-align: center; float:none; margin:0px; padding:10 10%;}
    .logon_form h2 {margin-top: 20px; font-size: 25px;}
    .logon_section h2 {margin-top: 20px; font-size: 30px;}
    
    .pets_ima_inner {width: 48.75%; text-align: center;}
    .pets_ima_inner img {width: 100%;}
    .login_section_left {width: 100%;}
    .login_section_right {width: 100%;}
    .login_section_left h4 {width: 100%; padding: 5px 0 0;}
    br {display: none;}
    
    .inputtext {font-size: 30px; height: 70px; }
    .uiStickyPlaceholderInput .placeholder {
        font-size: 30px !important; }
    ._58mh ._58mg {
        width: 100%;
    }
}
 
