/*--------------------------------------------------------------
This is the desktop FLOATING admin bar stylesheet.

It resembles the default admin bar fixed to the top of the page.

On a mobile device, the admin bar is the left sliding panel.
The default admin-bar.min.css is deregistered via
/buddyboss-inc/theme-functions.php.
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Responsive media queries (mobile styles)
	1.1 - MINIMUM width of 721 pixels (tablets+)
		1.1.1 - Hide/Show
		1.1.2 - General
		1.1.3 - My Account
		1.1.4 - WP Logo
		1.1.5 - My Sites & Site Title
		1.1.6 - Comments
		1.1.7 - New Content
		1.1.8 - Updates
		1.1.9 - Search
		1.1.10 - Customize support classes
		1.1.11 - Skip link
		1.1.12 - IE 6-targeted rules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/

@media screen and (min-width: 721px) {

	/*--------------------------------------------------------------
	1.1.1 - Hide/Show
	--------------------------------------------------------------*/

	/* hide the adminbar by default */
	body #wpadminbar {
		display: none;
	}

	/* show the adminbar for logged IN users */
	body.logged-in #wpadminbar {
		display: block;
	}

	/*--------------------------------------------------------------
	1.1.2 - General
	--------------------------------------------------------------*/

	#wpadminbar * {
		height: auto;
		width: auto;
		margin: 0;
		padding: 0;
		position: static;
		text-shadow: none;
		text-transform: none;
		letter-spacing: normal;
		font-size: 13px;
		line-height: 32px;
		font-weight: 400;
		border-radius: 0;
		-webkit-box-sizing: content-box;
		-moz-box-sizing:    content-box;
		box-sizing:         content-box;
		-webkit-transition: none;
		-moz-transition:    none;
		-o-transition:      none;
		transition:         none;
		-webkit-font-smoothing: subpixel-antialiased; /* Prevent Safari from switching to standard antialiasing on hover */
	}

	.rtl #wpadminbar * {
		font-family: Tahoma, sans-serif;
	}

	html:lang(he-il) .rtl #wpadminbar *  {
	 	font-family: Arial, sans-serif;
	}

	#wpadminbar a.ab-item,
	#wpadminbar > #wp-toolbar span.ab-label,
	#wpadminbar > #wp-toolbar span.noticon {
		color: #fff;
	}

	#wpadminbar > #wp-toolbar span.count {
		line-height: inherit;
		margin-left: 3px;
		color: #fff;
	}

	#wpadminbar #wp-admin-bar-site-name a.ab-item,
	#wpadminbar #wp-admin-bar-my-sites a.ab-item {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#wpadminbar ul li:before,
	#wpadminbar ul li:after {
		content: normal;
	}

	#wpadminbar a,
	#wpadminbar a:hover,
	#wpadminbar a img,
	#wpadminbar a img:hover {
		outline: none;
		border: none;
		text-decoration: none;
		background: none;
	}

	#wpadminbar a:focus,
	#wpadminbar a:active,
	#wpadminbar input[type="text"],
	#wpadminbar input[type="password"],
	#wpadminbar input[type="number"],
	#wpadminbar input[type="search"],
	#wpadminbar input[type="email"],
	#wpadminbar input[type="url"],
	#wpadminbar select,
	#wpadminbar textarea,
	#wpadminbar div {
		outline: none;
	}

	#wpadminbar {
		direction: ltr;
		color: #ccc;
		font-size: 13px;
		line-height: 32px;
		font-weight: 400;
		margin: 0 auto;
		position: relative;
		max-width: 1040px;
		padding: 0 30px;
	}

	#wpadminbar .ab-sub-wrapper,
	#wpadminbar ul,
	#wpadminbar ul li {
		background: none;
		clear: none;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		text-indent: 0;
		z-index: 99999;
	}

	#wpadminbar ul#wp-admin-bar-root-default>li {
		margin-right: 0;
	}

	
	/* Floating Admin bar styles (logged in as non-admin) */
	#wpadminbar .ab-top-menu,
	#wpadminbar .ab-top-secondary {
		float: right;
		clear: right;
		background-color: #555;
		margin-top: 46px;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	/* Floating Admin bar styles (logged in as admin) */
	#wpadminbar .ab-top-menu:not(.ab-top-secondary),
	#wpadminbar .ab-top-secondary:nth-child(2) {
		margin-top: 20px;
	}
	
	#wpadminbar #wp-admin-bar-root-default {
		z-index: 2;
	}
	#wpadminbar #wp-admin-bar-top-secondary {
		z-index: 1;
	}

	/* Positions the admin bar to the right */
	#wpadminbar .quicklinks {
		position: absolute;
		right: 30px; /* must match right padding of .site in css/wordpress.css */
		z-index: 99999;
	}

	#wpadminbar .quicklinks ul {
		text-align: left;
	}

	#wpadminbar li {
		float: left;
	}

	#wpadminbar .ab-empty-item {
		outline: none;
		display: none !important;
	}

	#wpadminbar .quicklinks .ab-top-secondary > li {
		float: right;
	}

	#wpadminbar .quicklinks a,
	#wpadminbar .quicklinks .ab-empty-item,
	#wpadminbar .shortlink-input {
		height: 32px;
		display: block;
		padding: 0 10px;
		margin: 0;
	}

	#wpadminbar .quicklinks > ul > li > a {
		padding: 0 8px 0 7px;
	}

	#wpadminbar .menupop .ab-sub-wrapper,
	#wpadminbar .shortlink-input {
		margin: 0;
		padding: 0;
		-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
		background: #555;
		display: none;
		position: absolute;
		float: none;

		-webkit-border-radius: 3px 0 3px 3px;
		-moz-border-radius: 3px 0 3px 3px;
		border-radius: 3px 0 3px 3px;
	}

	#wpadminbar.ie7 .menupop .ab-sub-wrapper,
	#wpadminbar.ie7 .shortlink-input {
		top: 32px;
		right: 0;
	}

	#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
		min-width: 100%;
		right: 0;
		left: auto;
	}

	#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
		right: 0;
		left: auto;
	}

	#wpadminbar .ab-submenu {
		padding: 6px 0;
	}

	#wpadminbar .selected .shortlink-input {
		display: block;
	}

	#wpadminbar .quicklinks .menupop ul li {
		float: none;
	}

	#wpadminbar .quicklinks .menupop ul li a strong {
		font-weight: 600;
	}

	#wpadminbar .quicklinks .menupop ul li .ab-item,
	#wpadminbar .quicklinks .menupop ul li a strong,
	#wpadminbar .quicklinks .menupop.hover ul li .ab-item,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li .ab-item,
	#wpadminbar .shortlink-input {
		line-height: 27px;
		height: 27px;
		white-space: nowrap;
		min-width: 140px;
	}

	#wpadminbar .shortlink-input {
		width: 200px;
	}

	#wpadminbar.nojs li:hover > .ab-sub-wrapper,
	#wpadminbar li.hover > .ab-sub-wrapper {
		display: block;
	}

	#wpadminbar .menupop li:hover > .ab-sub-wrapper,
	#wpadminbar .menupop li.hover > .ab-sub-wrapper {
		margin-left: 100%;
		margin-top: -32px;
	}

	#wpadminbar .ab-top-secondary .menupop li:hover > .ab-sub-wrapper,
	#wpadminbar .ab-top-secondary .menupop li.hover > .ab-sub-wrapper {
		margin-left: 0;
		left: inherit;
		right: 100%;
	}

	#wpadminbar .ab-top-menu > li > .ab-item:focus,
	#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
	#wpadminbar .ab-top-menu > li:hover > .ab-item,
	#wpadminbar .ab-top-menu > li.hover > .ab-item {
		background: rgba(0, 0, 0, 0.12);
		color: #fff;
	}

	#wpadminbar > #wp-toolbar li:hover span.ab-label,
	#wpadminbar > #wp-toolbar li.hover span.ab-label,
	#wpadminbar > #wp-toolbar a:focus span.ab-label {
		color: #fff;
	}

	#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon,
	#wpadminbar .ab-icon,
	#wpadminbar .ab-item:before {
		position: relative;
		float: left;
		font: normal 20px/1 'dashicons';
		speak: none;
		padding: 4px 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-image: none !important;
		margin-right: 6px;
	}

	#wpadminbar .ab-icon:before,
	#wpadminbar .ab-item:before,
	#wpadminbar #adminbarsearch:before {
		color: #fff;
	}

	#wpadminbar .ab-icon:before,
	#wpadminbar .ab-item:before,
	#wpadminbar #adminbarsearch:before {
		position: relative;
		-moz-transition: all .1s ease-in-out;
		-webkit-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}

	#wpadminbar .ab-label {
		display: inline-block;
		height: 32px;
	}

	#wpadminbar .ab-submenu .ab-item {
		color: #eee;
	}

	#wpadminbar .quicklinks .menupop ul li a,
	#wpadminbar .quicklinks .menupop ul li a strong,
	#wpadminbar .quicklinks .menupop.hover ul li a,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
		color: #eee;
	}

	#wpadminbar .quicklinks .menupop ul li a:hover,
	#wpadminbar .quicklinks .menupop ul li a:focus,
	#wpadminbar .quicklinks .menupop ul li a:hover strong,
	#wpadminbar .quicklinks .menupop ul li a:focus strong,
	#wpadminbar .quicklinks .menupop.hover ul li a:hover,
	#wpadminbar .quicklinks .menupop.hover ul li a:focus,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
	#wpadminbar li:hover .ab-icon:before,
	#wpadminbar li:hover .ab-item:before,
	#wpadminbar li a:focus .ab-icon:before,
	#wpadminbar li .ab-item:focus:before,
	#wpadminbar li.hover .ab-icon:before,
	#wpadminbar li.hover .ab-item:before,
	#wpadminbar li:hover #adminbarsearch:before {
		color: #fff;
	}

	#wpadminbar .quicklinks .menupop ul li a:hover,
	#wpadminbar .quicklinks .menupop.hover ul li a:hover,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
		background: rgba(255, 255, 255, 0.09);
	}

	#wpadminbar .menupop .menupop > .ab-item:before,
	#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
		position: absolute;
		font: normal 17px/1 'dashicons';
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	#wpadminbar .menupop .menupop > .ab-item {
		display: block;
		padding-right: 2em;
	}

	#wpadminbar .menupop .menupop > .ab-item:before {
		top: 1px;
		right: 4px;
		content: '\f139';
		color: inherit;
	}

	#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item {
		padding-left: 2em;
		padding-right: 1em;
	}

	#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
		top: 1px;
		left: 3px;
		content: '\f141';
	}

	#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
		display: block;
		position: relative;
		right: auto;
		margin: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
	#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
		background: rgba(225, 225, 225, 0.1);
	}

	#wpadminbar .quicklinks .menupop .ab-sub-secondary > li > a:hover,
	#wpadminbar .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus a {
		color: #fff;
	}

	#wpadminbar .quicklinks a span#ab-updates {
		background: #eee;
		color: #555;
		display: inline;
		padding: 2px 5px;
		font-size: 10px;
		font-weight: 600;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

	#wpadminbar .quicklinks a:hover span#ab-updates  {
		background: #fff;
		color: #000;
	}

	#wpadminbar .ab-top-secondary {
		float: right;
	}

	#wpadminbar ul li:last-child,
	#wpadminbar ul li:last-child .ab-item {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	/*--------------------------------------------------------------
	1.1.3 - My Account
	--------------------------------------------------------------*/

	#wp-admin-bar-my-account > ul {
		min-width: 198px;
	}

	#wp-admin-bar-my-account > .ab-item:before {
		content: "\f110";
		top: 2px;
		float: right;
		margin-left: 6px;
		margin-right: 0;
	}

	#wp-admin-bar-my-account.with-avatar > .ab-item:before {
		display: none;
		content: none;
	}

	#wp-admin-bar-my-account.with-avatar > ul {
		min-width: 270px;
	}

	#wpadminbar #wp-admin-bar-user-actions > li {
		margin-left: 16px;
		margin-right: 16px;
	}

	#wpadminbar #wp-admin-bar-user-actions.ab-submenu {
		padding: 6px 0 12px;
		background: rgba(0, 0, 0, 0.12);
	}

	#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
		margin-left: 88px;
	}

	#wpadminbar #wp-admin-bar-user-info {
		margin-top: 6px;
		margin-bottom: 15px;
		height: auto;
		background: none;
	}

	#wp-admin-bar-user-info .avatar {
		position: absolute;
		left: -72px;
		top: 4px;
		width: 64px;
		height: 64px;
	}

	#wpadminbar #wp-admin-bar-user-info a {
		background: none;
		height: auto;
	}

	#wpadminbar #wp-admin-bar-user-info span {
		background: none;
		padding: 0;
		height: 18px;
	}

	#wpadminbar #wp-admin-bar-user-info .display-name,
	#wpadminbar #wp-admin-bar-user-info .username {
		display: block;
	}

	#wpadminbar #wp-admin-bar-user-info .username {
		color: #eee;
		font-size: 11px;
	}

	#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
		width: 16px;
		height: 16px;
		padding: 0;
		border: 1px solid #888;
		background: #eee;
		line-height: 24px;
		vertical-align: middle;
		margin: -4px 0 0 6px;
		float: none;
		display: inline;
	}

	/*--------------------------------------------------------------
	1.1.4 - WP Logo
	--------------------------------------------------------------*/

	#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon {
		width: 15px;
		height: 20px;
		margin-right: 0;
		padding: 6px 0 5px;
	}

	#wpadminbar #wp-admin-bar-wp-logo > .ab-item {
		padding: 0 7px;
	}

	#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
		content: '\f120';
		top: 2px;
	}

	/*--------------------------------------------------------------
	1.1.5 - My Sites & Site Title
	--------------------------------------------------------------*/

	#wpadminbar .quicklinks li .blavatar {
		float: left;
		font: normal 16px/1 'dashicons' !important;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #eee;
	}

	#wpadminbar .quicklinks li a:hover .blavatar {
		color: #fff;
	}

	#wpadminbar .quicklinks li .blavatar:before {
		content: '\f120';
		height: 16px;
		width: 16px;
		display: inline-block;
		margin: 6px 8px 0 -2px;
	}

	#wpadminbar #wp-admin-bar-appearance {
		margin-top: -12px;
	}

	#wpadminbar #wp-admin-bar-my-sites > .ab-item:before,
	#wpadminbar #wp-admin-bar-site-name > .ab-item:before {
		content: '\f112';
		top: 2px;
	}

	#wpadminbar #wp-admin-bar-edit > .ab-item:before {
		content: '\f327';
		top: 2px;
	}

	#wpadminbar #wp-admin-bar-site-name > .ab-item:before {
		content: "\f102";
	}

	/*--------------------------------------------------------------
	1.1.6 - Comments
	--------------------------------------------------------------*/

	#wpadminbar #wp-admin-bar-comments .ab-icon {
		margin-right: 6px;
	}

	#wpadminbar #wp-admin-bar-comments .ab-icon:before {
		content: '\f101';
		top: 3px;
	}

	#wpadminbar #wp-admin-bar-bp-notifications a {
		padding: 0 11px;
	}

	#wpadminbar #wp-admin-bar-comments .count-0,
	#wpadminbar #wp-admin-bar-bp-notifications .no-alert {
		opacity: .5;
	}

	/*--------------------------------------------------------------
	1.1.7 - New Content
	--------------------------------------------------------------*/

	#wpadminbar #wp-admin-bar-new-content .ab-icon:before {
		content: '\f132';
		top: 4px;
	}

	/*--------------------------------------------------------------
	1.1.8 - Updates
	--------------------------------------------------------------*/

	#wpadminbar #wp-admin-bar-updates .ab-icon:before {
		content: '\f113';
		top: 2px;
	}

	/*--------------------------------------------------------------
	1.1.9 - Search
	--------------------------------------------------------------*/

	#wpadminbar #wp-admin-bar-search .ab-item {
		padding: 0;
		background: transparent;
	}

	#wpadminbar #adminbarsearch {
		position: relative;
		height: 32px;
		padding: 0 2px;
	}

	#wpadminbar #adminbarsearch:before {
		position: absolute;
		top: 6px;
		left: 5px;
		z-index: 20;
		font: normal 20px/1 'dashicons' !important;
		content: '\f179';
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input {
		position: relative;
		z-index: 30;
		font-size: 13px;
		line-height: 24px;
		height: 24px;
		width: 24px;
		padding: 0 3px 0 24px;
		margin: 0;
		color: #ccc;
		background-color: rgba( 255, 255, 255, 0 );
		border: none;
		outline: none;
		cursor: pointer;

		-webkit-box-shadow: none;
		box-shadow: none;

		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-transition-duration: 400ms;
		-webkit-transition-property: width, background;
		-webkit-transition-timing-function: ease;
		-moz-transition-duration: 400ms;
		-moz-transition-property: width, background;
		-moz-transition-timing-function: ease;
		-o-transition-duration: 400ms;
		-o-transition-property: width, background;
		-o-transition-timing-function: ease;
	}

	#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
		z-index: 10;
		color: #000;
		width: 200px;
		background-color: rgba( 255, 255, 255, 0.9 );
		cursor: text;
		border: 0;
	}

	#wpadminbar.ie7 > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input {
		margin-top: 3px;
		width: 120px;
	}

	#wpadminbar.ie8 > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input {
		margin-top: 4px;
		background-color: #464646;
	}

	#wpadminbar.ie8 > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
		background-color: #fff;
	}

	#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
		color: #999;
	}
	#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
		color: #999;
	}
	#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
		color: #999;
	}
	#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
		color: #999;
	}

	#wpadminbar #adminbarsearch .adminbar-button {
		display: none;
	}

	/*--------------------------------------------------------------
	1.1.10 - Customize support classes
	--------------------------------------------------------------*/

	.no-customize-support .hide-if-no-customize,
	.customize-support .hide-if-customize,
	.no-customize-support.wp-core-ui .hide-if-no-customize,
	.no-customize-support .wp-core-ui .hide-if-no-customize,
	.customize-support.wp-core-ui .hide-if-customize,
	.customize-support .wp-core-ui .hide-if-customize {
		display: none;
	}

	/*--------------------------------------------------------------
	1.1.11 - Skip link
	--------------------------------------------------------------*/

	#wpadminbar .screen-reader-text,
	#wpadminbar .screen-reader-text span {
		position: absolute;
		left: -1000em;
		top: -1000em;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}

	#wpadminbar .screen-reader-shortcut {
		position: absolute;
		top: -1000em;
	}

	#wpadminbar .screen-reader-shortcut:focus {
		left: 6px;
		top: 7px;
		height: auto;
		width: auto;
		display: block;
		font-size: 14px;
		font-weight: 600;
		padding: 15px 23px 14px;
		background: #f1f1f1;
		color: #21759b;
		z-index: 100000;
		line-height: normal;
		text-decoration: none;
		-webkit-box-shadow: 0 0 2px 2px rgba( 0, 0, 0, 0.6);
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	}

	/*--------------------------------------------------------------
	1.1.12 - IE 6-targeted rules
	--------------------------------------------------------------*/

	* html #wpadminbar {
		overflow: hidden;
		position: absolute;
	}

	* html #wpadminbar .quicklinks ul li a {
		float: left;
	}

	* html #wpadminbar .menupop a span {
		background-image: none;
	}

	/* No @font-face support */
	.no-font-face #wpadminbar ul.ab-top-menu > li > a.ab-item {
		display: block;
		width: 45px;
		text-align: center;
		overflow: hidden;
		margin: 0 3px;
	}

	.no-font-face #wpadminbar #wp-admin-bar-my-sites > .ab-item,
	.no-font-face #wpadminbar #wp-admin-bar-site-name > .ab-item,
	.no-font-face #wpadminbar #wp-admin-bar-edit > .ab-item {
		text-indent: 0;
	}

	.no-font-face #wpadminbar .ab-icon,
	.no-font-face #wpadminbar .ab-icon:before,
	.no-font-face #wpadminbar a.ab-item:before,
	.no-font-face #wpadminbar #wp-admin-bar-wp-logo > .ab-item {
		display: none !important;
	}

	.no-font-face #wpadminbar ul.ab-top-menu > li > a > span.ab-label {
		display: inline;
	}

	.no-font-face #wpadminbar #wp-admin-bar-menu-toggle span.ab-icon {
		display: inline !important;
	}

	.no-font-face #wpadminbar #wp-admin-bar-menu-toggle span.ab-icon:before {
		content: "Menu";
		font: 14px/45px sans-serif !important;
		display: inline-block !important;
		color: #fff;
	}

	.no-font-face #wpadminbar #wp-admin-bar-site-name a.ab-item {
		color: #fff;
	}
	/* End no @font-face */

}
