@font-face {
    font-family: 'TahomaRegular';
    src: url('tahoma_1.eot');
    src: url('tahoma_1.eot') format('embedded-opentype'),
         url('tahoma_1.woff') format('woff'),
         url('tahoma_1.ttf') format('truetype'),
         url('tahoma_1.svg#TahomaRegular') format('svg');
}
